<div class="container-fluid sub-container p-0" id="my_business">
    <div fxLayout="row wrap" fxLayoutGap="2%" *ngIf="isLoaderAdmin" fxLayoutAlign="center center" class="full-height">
        <img src="../../assets/loading-spinner.gif" />
    </div>
    <div id="my-business-top">
        <div class="col-12 d-flex inner">
            <div class="col-lg-6 col-md-6 col-sm-12 first d-flex"><span>My Boxoffice</span></div>
            <div class="col-lg-6 col-md-6 col-sm-12 second">
                <a (click)="fnCreateBoxOffice()" class="pointer"><i class="fa fa-plus AddNewBusinessIcon" aria-hidden="true"></i> Add New Boxoffice</a>
            </div>
        </div>
    </div>

    <div class="" id="list_business">
        <div class="col-12">
            <div class="d-flex flex-wrap">
                <mat-card *ngFor="let allBoxoffice of allBoxoffice; let i=index" class="col-lg-3 col-md-6 col-sm-12 text-center SelectBusiness">
                    <div class="pt-3 image-round-main d-flex">
                        <div class="SelectBusinessIcon">
                            <img mat-card-avatar="" src="{{allBoxoffice.image?allBoxoffice.image:'../../assets/img/boxoffice.png'}}">
                        </div>
                    </div>
                    <div class="pt-3 business-title">
                        <h6 class="text-capitalize">{{allBoxoffice.box_office_name}}</h6>
                    </div>
                    <div class="content">
                        {{allBoxoffice.country?allBoxoffice.country:''}}, {{allBoxoffice.timezone}}
                    </div>
                    <div class="pt-3">
                        <button mat-button class="businness-btn" (click)="fnSelectBoxoffice(allBoxoffice.id, allBoxoffice.box_office_name)">Select Business</button>
                    </div>
                </mat-card>
                <mat-card class="col-lg-3 col-md-6 col-sm-12 text-center NewBusiness-matcard pointer" (click)="fnCreateBoxOffice()">
                    <div class="business-btn-main">
                        <div class="AddNewBusinessIcon">
                            <img mat-card-avatar="" src="../../../assets/images/admin/add.png">
                        </div>
                    </div>
                    <div class="pt-4">
                        <h2>Add New Boxoffice</h2>
                    </div>
                    <div class="pb-3 content">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>