#my-boxoffice-top {
    width: 100%;
    height: 50px;
    .inner {
        background: #FFE2B7;
        padding: 15px;
        position: fixed;
        top: 60px;
        z-index: 99;
        width: 100%;
        .first {
            align-items: center;
            span {
                font-size: 18px;
                font-weight: 500;
            }
        }
        .second {
            justify-content: flex-end;
            display: flex;
            button {
                background-color: #973c56;
                font-size: 14px;
                color: #fff !important;
                border-radius: 25px;
                text-decoration: none;
                font-weight: 400;
                i {
                    margin-right: 10px;
                }
            }
        }
    }
}

#list_boxoffice {
    display: flex;
    align-items: flex-start;
    padding: 25px;
    height: calc(100vh - 125px);
    overflow-y: auto;
    mat-card {
        border-radius: 20px 20px;
        // margin: 0px 16px 20px;
        box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
        .boxoffice-title {
            h6 {
                font-size: 20px;
            }
        }
        .content {
            font-size: 12px;
            padding: 0;
            margin: 2% 1em;
        }
    }
    .Selectboxoffice {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
        .image-round-main {
            display: flex;
            justify-content: center;
        }
    }
    .SelectboxofficeIcon {
        background-color: #e6e6e6;
        border-radius: 50%;
        font-size: 45px;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100px;
        img.mat-card-avatar {
            height: 100%;
            width: 100%;
        }
    }
    .businness-btn {
        border-radius: 40px 40px;
        padding: 0 25px;
        background-color: #973c56;
        color: white;
    }
    .Newboxoffice-matcard {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: unset;
        border: 1px dashed #973c56;
        border-radius: 20px;
        transition: all 0.3s;
        height: 100%;
        &:hover {
            background-color: #cfe3fc;
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
            border: 1px dashed #cfe3fc;
        }
        h2 {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
    .boxoffice-btn-main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .AddNewboxofficeIcon {
        background-color: #973c56;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        img.mat-card-avatar {
            height: 40px;
            width: 40px;
        }
    }
}

@media only screen and (max-width: 765px) and (orientation:portrait) {
    mat-card {
        margin-right: 0 !important;
        padding-bottom: 10px;
    }
    .Selectboxoffice {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 767px) {
    #Add-new-boxoffice {
        mat-card {
            margin: 0px 0px 20px;
        }
    }
     ::ng-deep #admin-boxoffice .inner-pad {
        padding: 10px !important;
    }
     ::ng-deep .form-group {
        margin-bottom: 0;
    }
     ::ng-deep .mat-form-field {
        margin-bottom: 0;
    }
     ::ng-deep .select-hide {
        display: none;
    }
     ::ng-deep .mt-res {
        margin-top: 30px;
    }
     ::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
        transform: translateY(0%) !important;
    }
}

@media only screen and (max-width: 767px) and (orientation:landscape) {}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
     ::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
        transform: translateY(0%) !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation:portrait) {
    #Add-new-boxoffice {
        mat-card {
            margin: 0px 0px 20px;
        }
    }
}

// <-----------create-new-boxoffice-dialog----->
::ng-deep #admin-boxoffice {
    // margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    .inner-pad {
        padding: 60px;
    }
    h2 {
        color: #973c56;
        font-weight: bolder;
        font-size: 22px;
        margin-bottom: 5px;
    }
    .admin-boxoffice-Submitbutton {
        background-color: #973c56;
        color: white;
        padding: 2px 45px;
    }
    .close.close-btn {
        // position: absolute;
        // right: 0px;
        // top: -60px;
    }
}
::ng-deep .popup-title{
    h2{
        color: #000;
    }
} 
// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
// 	padding: 15px 0 15px 10px;
// }
::ng-deep .mat-form-field-infix {
    border-top: unset;
}

::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: inherit;
}

 ::ng-deep .mat-form-field-label-wrapper {
    // .mat-empty{
    // }
    top: -.44375em;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}

// ::ng-deep .mat-form-field-infix input{
// 	line-height: 55px;
// }
::ng-deep .bottom-border-field .mat-form-field-underline {
    bottom: 0;
}

::ng-deep .bottom-border-field .mat-form-field-infix {
    padding: 0.5em 0 !important;
}

.left-side-main-menu {
    display: none !important;
}

mat-drawer.left-side-container.left-side-main-menu.mat-drawer.ng-tns-c2-0.ng-trigger.ng-trigger-transform.mat-drawer-side.mat-drawer-opened.ng-star-inserted {
    display: none;
}

.signle-boxoffice {
    height: 100%;
    .boxoffice-title {
        h6 {
            font-size: 24px;
            font-weight: 500;
        }
    }
}

::ng-deep .admin-business-Submitbutton {
    color: #FFFFFF;
    background: #973c56;
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
}

.close.close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
}
.first-new-boxoffice{
    display: flex;
    align-items: center;
    justify-content: center;
    .new-box-office-box{
        width: 100%;
        max-width: 900px;
        padding: 20px;
        box-shadow: 0 4px 20px rgb(159 246 255 / 30%);
        margin: 25px 0;
    }
}
