@import url('https://fonts.googleapis.com/css?family=Poppins');

.main{
    font-family: Poppins, Regular;
}
.page-title{
    font-size: medium;
}

.notification-icon{
    transform: matrix(0.87, -0.48, 0.48, 0.87, 0, 0);
    color: #FF6600;
  }

  .box{
      border-radius: 5px;
  }

  .btn{
    background-color: #1172F4;
    color:#ffffff;
}
.description{
    font-size: small;
}
.txt{
    color: black;
    font: bold;
}
.alert-info{
    display: flex;
    align-items: center;
    padding: 14px 10px;
}