<div id="seating_chart" class="">
    <div class="main bg-white p-4">
        <div class="row">
            <div class="col-12  ml-2 mt-2">
                <div class="font-weight-bold page-title">
                    <div class="form-group">
                        Seating charts
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12 ml-2 mt-2">
                <div class="form-group">
                    <label for="" class="txt">Activate seating charts on your account</label>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-10 ml-4 bg alert-info box">
                <div class="form-group mt-3">
                    <i class="fa fa-bell fa-lg ml-2" aria-hidden="true"></i>
                    <label for="" class="ml-3 mb-2 txt">This feature has Additional fees. <a href="#">Find details in our help center</a></label>
                </div>
            </div>
        </div>

              
            <div class="row">
                <div class="col-10 ml-4 bg alert-info box">
                 <div class="form-group mt-3">
                  <span class="material-icons notification-icon mt-2">
                    notifications
                    </span>
                  <label for="" class="ml-3 mb-2 txt">This feature has Additional fees. <a href="#">Find details in our help center</a></label>
                 </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-12 ml-2">
                    <label for="txt" class="txt">Before we can activate seating charts on your account we will need your billing details</label>
                </div>
                <div class="col-12 ml-2 mt-2">
                    <button mat-flat-button class="btn">Update billing Details</button>
                </div>
            </div>
        </div>

    </div>
