<div class="modal-dialog modal-notify modal-info modal-lg" role="document" >
    <div class="modal-content add-buyer-qn ">
      <div class="modal-header modal-bcolor-primary">
        <p class="heading lead  work-content" >Buyer only question</p>
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close" (click)="onNoClick()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
  
      <div class="modal-body"> 
        <div class="row">
            <div class="form-group col-md-12">
                <label for="">What kind of response do you want? <span><i class="fa fa-asterisk asterisk"></i></span> </label>
                <mat-select class="form-control" id="" (selectionChange) = "fnBuyerResponse($event)">
                    <mat-option value="singleline">Single line text </mat-option>
                    <mat-option value="fromdropdown">Select answer from from drop-down </mat-option>
                    <mat-option value="fromradiobutton">Select answer from  radio buttons</mat-option>
                    <mat-option value="fromCheckbox">Select answer from checkbox</mat-option>
                    <mat-option value="terms">Terms and conditions agreement </mat-option>
                    <mat-option value="marketingmail">Opt in to receive marketing emails</mat-option>
                </mat-select>                    
            </div>
            <div class="form-group col-md-12">
                <label for="">What question do you want to ask? <span><i class="fa fa-asterisk"></i></span> </label>
                <input type="text" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group col-md-12" *ngIf = "buyerResponse == 'fromCheckbox' || buyerResponse == 'fromradiobutton' || buyerResponse == 'fromdropdown'">
              <label for="">Options for answer (Enter one answer per line)</label>
              <textarea name="" id="" rows="3" class="w-100"></textarea>
              <label for="">Please enter the options the customer should select from</label>
            </div>
            <div class="form-group col-md-12" *ngIf = "buyerResponse == 'terms'">
              <label for="">Terms and conditions</label>
              <ck-editor name="editor1" 
                skin="moono-lisa" 
                language="en" [fullPage]="true">
              </ck-editor>
              <label for="">Please enter the terms and conditions below</label>
            </div>
            <section class="col-md-12">
                <mat-checkbox class="mb-0">Required <span class="info tooltip-btn" matTooltip="Tick this box if it is compulsory for the customer to answer this qestion"
                    matTooltipPosition="above"><i class="fa fa-question" aria-hidden="true"></i></span></mat-checkbox>
            </section>
            <div class="example-button-row ml-auto mt-3">
                <button mat-raised-button class="cancel-btn">Cancel</button>
                <button mat-raised-button class="mx-3 save-btn">Save custom question</button>
            </div>
        </div>
      </div>
  
    </div>
  </div>
      