<div class="modal-dialog modal-notify modal-info export-order modal-lg"  role="document" >
     <div class="modal-content ">
       <div class="modal-header modal-bcolor-primary px-0 pt-0">
         <p class="heading lead  work-content" >Preview and send Broadcast</p>
         <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close" (click)="onNoClick()">
           <span aria-hidden="true" class="white-text">&times;</span>
         </button>
       </div>
         
       <div class="modal-body px-0"> 
         <div class="common-heading-preview">
             <h3> Details </h3>
         </div>
         <div class="main-deatils-preview" >
           <div class="col-md-12 col-lg-12 col-sm-12 col-12 common-preview">
             <div class="col-md-12 col-lg-4 col-sm-12 col-12 float-left">
                 <h3> Subject: </h3>
             </div>
             <div class="col-md-12 col-lg-8 col-sm-12 col-12 float-left">
               <p> {{createBroadcastData.createBroadcastData.subject}}  </p>
             </div>
           </div>
           <div class="col-md-12 col-lg-12 col-sm-12 col-12 common-preview">
             <div class="col-md-12 col-lg-4 col-sm-12 col-12 float-left">
                 <h3> Reciepients: </h3>
             </div>
             <div class="col-md-12 col-lg-8 col-sm-12 col-12 float-left">
               <p *ngIf="createBroadcastData.createBroadcastData.recipients == 'BUY'"> All ticket buyers </p>
               <p *ngIf="createBroadcastData.createBroadcastData.recipients == 'ALL'"> All waitlist signups </p>
               <p *ngIf="createBroadcastData.createBroadcastData.recipients == 'NEW'"> New waitlist signups </p>
               <p *ngIf="createBroadcastData.createBroadcastData.recipients == 'NOTIFY'"> Notified waitlist signups </p>
             </div>
           </div>
           <div class="col-md-12 col-lg-12 col-sm-12 col-12 common-preview">
             <div class="col-md-12 col-lg-4 col-sm-12 col-12 float-left">
                 <h3> From:  </h3>
             </div>
             <div class="col-md-12 col-lg-8 col-sm-12 col-12 float-left">
               <p> dummytest@gmail.com </p>
             </div>
           </div>
           <div class="common-heading-preview preview-main">
             <h3> Preview </h3>
           </div>
           <div class="preview-deatils-describtion">
               <!-- <p>{{createBroadcastData.createBroadcastData.message}} </p> -->
               <ck-editor  [(ngModel)]="editorValue" readonly="true" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
           </div> 
       </div>
       <div class="botttom-buttons send-broadcast-wrap">
         <button mat-flat-button class="save-draf-btn mr-2" color="primary" (click)="onNoClick()"> Cancel </button>
         <button mat-flat-button  color="primary" *ngIf="createBroadcastData.createBroadcastData.status === 'draft'" (click)="createBroadcastfrm(createBroadcastData)"> Send Broadcast </button>
      </div>
   
     </div>
   </div>
       