.main{
    .page-title{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 22px;
    }
    .set-up-payment{
        width: 100%;
        border-radius: 5px;
        margin-top: 10px;
        background-color: #abe6fd2e;

        .fa-bell{
            color: #FF6600;
            transform: rotate(-45deg);
        }
    }

    .total-summary{
        width: 100%;
        border-radius: 5px;
        margin-top: 10px;

        .total-ticket-summary{
            width: 25%;
            text-align: center;
            display: inline-block;
            
            
            .title{
              color: #808080;
            }
            .count{
                font-size:16px;
                font-weight: bold;
                margin: 8px 0px;
            }
            
            
        }
    }

    .event-page-link{
        width: 100%;
        border-radius: 5px;
        margin-top: 10px;

        .title{
            font-size: 14px;
            font-weight: bold;
        }
        .input-div{
            width: 50%;
            .bg-light{
                background-color: #F8F8F8;
            }
        }
        .fa-link{
            transform: rotate(90deg);
        }
    }

    .ticket-sales{
        width: 100%;
        border-radius: 5px;
        margin-top: 10px;

        .title{
            font-size: 14px;
            font-weight: bold;
        }
        
    }

    .referral-sales-summary{
        width: 100%;
        border-radius: 5px;
        margin-top: 10px;
        .title{
            font-size: 14px;
            font-weight: bold;
        }
    }

    .event-view-dropdown{
        width: 170px;
    }

}

.areaChart{
    max-width: 700px;
    height: 400px;
    margin: 0 auto;
}

::ng-deep .main{ 
    padding: 0px !important;
    .form-field{
        width:49%;
        display: inline-block;
    }
    .f-right{
        float: right;
    }
    .save-btn{
        background-color: #007BFF;
        color: #ffffff;
    }
}