<div id="event_page_design" class="">
    <div class="loader-main" *ngIf="isLoaderAdmin"><img src="../../../assets/loading-spinner.gif" /></div>
    <div class="px-5 py-4">
        <div class="top-event-page">
            <div class="event-page-page-title">
                Event Page Design
            </div>
            <div class="col-md-6 text-right ml-auto">
                <div class="d-inline-block select-option mr-3">
                    <mat-select [(ngModel)]="eventPageType" (selectionChange)="fnEventPageType($event)" class="form-control text-left mr-1">
                        <mat-option value="listing">Listing Page</mat-option>
                        <mat-option value="single">Event Page</mat-option>
                    </mat-select>
                </div>

                <div class="d-inline-block select-option">
                    <mat-select [(ngModel)]="eventPageView" (selectionChange)="fnEventPageView($event)" class="form-control text-left ml-1">
                        <mat-option value="desktop">Desktop View</mat-option>
                        <mat-option value="mobile">Mobile View</mat-option>
                    </mat-select>
                </div>
                <div class="d-inline-block">
                    <button (click)="fnUpadateThemeAppearanceColor()" mat-flat-button color="primary" class="theme-save-btn">Save</button>
                </div>

            </div>
        </div>
    </div>
    <div *ngIf="eventPageType == 'listing'" class="preview-area" [ngClass]="{'mobile-view': eventPageView == 'mobile'}">
        <div *ngIf="eventPageView == 'mobile'" class="mobile-preview-device marvel-device s5 white">
            <div class="top-bar"></div>
            <div class="sleep"></div>
            <div class="camera"></div>
            <div class="sensor"></div>
            <div class="speaker"></div>
            <div class="screen" [style.background]="bgColor">
                <!-- Content goes here -->
                <div class="text-center w-100 py-3 box-office-title header-bg" [style.background]="headerColor" [style.color]="headerTextColor">
                    {{boxOfficeName}}
                </div>

                <div class="signle-event" *ngFor="let allEventList of allEventList; let i=index">
                    <div class="rounded">
                        <div [style.background]="pageColor" [style.color]="pageTextColor" class="row mx-0 br-6">
                            <div *ngIf="allEventList.images !== undefined" [ngStyle]="{'backgroundImage': 'url(' + allEventList.images[0].image + ')'}" class="p-0 Sparking_Events-img event-image">
                                <!-- <img src="../../../../assets/images/admin/Image 54.png" class="w-100" alt=""> -->
                            </div>

                            <div class="event-des p-2">
                                <div class="row">
                                    <div class="px-4 py-2">
                                        <p class="font-weight-bold event-title">{{allEventList.event_title}}</p>
                                        <p><i class="fa fa-calendar-check-o pr-2 "></i>{{allEventList.start_date}} </p>
                                        <p *ngIf="allEventList.online_event == 'N'"><i class="fa fa-map-marker pr-2 "></i>{{allEventList.venue_name}} - {{allEventList.postal_code}}</p>
                                        <p *ngIf="allEventList.online_event == 'Y'"><i class="fa fa-map-marker pr-2 "></i> Online -
                                            <span *ngIf="allEventList.platform == 'Z'">Zoom</span>
                                            <span *ngIf="allEventList.platform == 'GH'">Google Hangout</span>
                                            <span *ngIf="allEventList.platform == 'YU'">Youtube</span>
                                            <span *ngIf="allEventList.platform == 'HP'">Hopin</span>
                                            <span *ngIf="allEventList.platform == 'VM'">Vimeo</span>
                                            <span *ngIf="allEventList.platform == 'SKY'">Skype</span>
                                            <span *ngIf="allEventList.platform == 'OTH'">Other</span>
                                        </p>
                                    </div>
                                    <div class="ml-auto px-4 py-2">
                                        <button [style.background]="btnColor" [style.color]="btnTextColor" mat-flat-button> Book Ticket</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home"></div>
        </div>
        <div [style.background]="bgColor" *ngIf="eventPageView == 'desktop'" class="list-events">
            <div [style.background]="headerColor" [style.color]="headerTextColor" class="text-center w-100 mt-2 py-3 box-office-title">
                {{boxOfficeName}}
            </div>

            <div class="signle-event" *ngFor="let allEventList of allEventList; let i=index">
                <div class="rounded">
                    <div [style.background]="pageColor" [style.color]="pageTextColor" class="row br-6">
                        <div *ngIf="allEventList.images !== undefined" [ngStyle]="{'backgroundImage': 'url(' + allEventList.images[0].image + ')'}" class="col-3 p-0 Sparking_Events-img">
                            <!-- <img src="../../../../assets/images/admin/Image 54.png" class="w-100" alt=""> -->
                        </div>

                        <div class="col-9 p-2">
                            <div class="row">
                                <div class="px-4 py-2">
                                    <p class="font-weight-bold">{{allEventList.event_title}}</p>
                                    <p><i class="fa fa-calendar-check-o pr-2"></i>{{allEventList.start_date}}</p>
                                    <p *ngIf="allEventList.online_event == 'N'"><i class="fa fa-map-marker pr-2 "></i>{{allEventList.venue_name}} - {{allEventList.postal_code}}</p>
                                    <p *ngIf="allEventList.online_event == 'Y'"><i class="fa fa-map-marker pr-2 "></i> Online -
                                        <span *ngIf="allEventList.platform == 'Z'">Zoom</span>
                                        <span *ngIf="allEventList.platform == 'GH'">Google Hangout</span>
                                        <span *ngIf="allEventList.platform == 'YU'">Youtube</span>
                                        <span *ngIf="allEventList.platform == 'HP'">Hopin</span>
                                        <span *ngIf="allEventList.platform == 'VM'">Vimeo</span>
                                        <span *ngIf="allEventList.platform == 'SKY'">Skype</span>
                                        <span *ngIf="allEventList.platform == 'OTH'">Other</span>
                                    </p>
                                </div>
                                <div class="ml-auto px-4 py-2">
                                    <button [style.background]="btnColor" [style.color]="btnTextColor" mat-flat-button> Book Ticket</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div *ngIf="eventPageType == 'single' && eventPageView == 'desktop'" class="single-event-page">
            <iframe style="height:100vh; width:100%" src="{{frontURL}}"> </iframe>
        </div> -->
        <!-- <div *ngIf="eventPageType == 'listing' && eventPageView == 'mobile'" class="single-event-page">
            <iframe style="height:100vh; width:100%" src="{{frontURL}}"> </iframe>
        </div> -->

    </div>
    <div *ngIf="eventPageType == 'single'" class="preview-area" [ngClass]="{'mobile-view': eventPageView == 'mobile'}">
        <div *ngIf="eventPageView == 'mobile'" class="mobile-preview-device marvel-device s5 white">
            <div class="top-bar"></div>
            <div class="sleep"></div>
            <div class="camera"></div>
            <div class="sensor"></div>
            <div class="speaker"></div>
            <div class="screen" [style.background]="bgColor">
                <!-- Content goes here -->

                <div id="preview-event">
                    <div class="preview-bg">
                        <div class="preview-blur"></div>
                        <div class="container">
                            <div class="main-preview-section">
                                <div class="top-preview-image" style="background-size:cover; background:url('{{eventImage}}'); ">
                                </div>

                                <div class="main-preview-wrap Event-page">
                                    <div class="bottom-deatils">
                                        <div class="heading-preview-name">
                                            <h3> {{ eventDetail ? eventDetail.event_title : '-' }} </h3>
                                        </div>
                                        <div class="bottom-booking-deatils">
                                            <div class="col-12 float-left">
                                                <div class="side-form-deatils">
                                                    <div class="preview-datetime preview-common-deatils">
                                                        <span class="material-icons">
                                                                           calendar_today
                                                                      </span>
                                                        <p>
                                                            {{eventStartTime}} - {{eventEndTime}}
                                                        </p>
                                                    </div>
                                                    <div class="preview-common-deatils" *ngIf="eventDetail.online_event !== 'Y'">
                                                        <span class="material-icons">
                                                                           location_on
                                                                      </span>
                                                        <p> {{ eventDetail ? eventDetail.venue_name : '-' }}, {{ eventDetail ? eventDetail.postal_code : '-' }} </p>
                                                    </div>
                                                    <div class="preview-common-deatils" *ngIf="eventDetail.online_event === 'Y'">
                                                        <span class="material-icons">location_on</span>
                                                        <p *ngIf="eventDetail.platform == 'Z'">Online - Zoom</p>
                                                        <p *ngIf="eventDetail.platform == 'GH'">Online - Google Hangout</p>
                                                        <p *ngIf="eventDetail.platform == 'YU'">Online - Youtube</p>
                                                        <p *ngIf="eventDetail.platform == 'HP'">Online - Hopin</p>
                                                        <p *ngIf="eventDetail.platform == 'VM'">Online - Vimeo</p>
                                                        <p *ngIf="eventDetail.platform == 'SKY'">Online - Skype</p>
                                                        <p *ngIf="eventDetail.platform == 'OTH'">Online - Other</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-4 float-left">
                                                <div class="book-ticket-side">
                                                    <div class="book-tickets-btn">
                                                        <button mat-flat-button class="btn">Book Ticket</button>
                                                    </div>
                                                    <div class="share-link-main">
                                                        <p> Share this event </p>
                                                        <div class="event-icone-link">
                                                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="deatils-preview-events">
                                            <div class="commmon-top-main">
                                                <h3> DESCRIPTION </h3>
                                                <p [innerHtml]="eventDiscriptionHtml"></p>
                                            </div>
                                            <div class="commmon-top-main map-location" *ngIf="eventDetail.online_event !== 'Y'">
                                                <h3> Location </h3>
                                                <p> {{ eventDetail ? eventDetail.venue_name : '-' }}, {{ eventDetail.country ? eventDetail.country[0].name : '-' }}, {{ eventDetail ? eventDetail.postal_code : '-' }} </p>
                                                <div class="map-main-div">
                                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.0770194330316!2d72.83157731536802!3d21.149332985933174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be051deb35ae21f%3A0x8631d2dbb632de33!2sBroadview+Innovation+Pvt+Ltd.!5e0!3m2!1sen!2sin!4v1558512277080!5m2!1sen!2sin"
                                                        width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                            <div class="commmon-top-main map-location" *ngIf="eventDetail.online_event === 'Y'">
                                                <h3> Location </h3>
                                                <p *ngIf="eventDetail.platform == 'Z'">Online - Zoom</p>
                                                <p *ngIf="eventDetail.platform == 'GH'">Online - Google Hangout</p>
                                                <p *ngIf="eventDetail.platform == 'YU'">Online - Youtube</p>
                                                <p *ngIf="eventDetail.platform == 'HP'">Online - Hopin</p>
                                                <p *ngIf="eventDetail.platform == 'VM'">Online - Vimeo</p>
                                                <p *ngIf="eventDetail.platform == 'SKY'">Online - Skype</p>
                                                <p *ngIf="eventDetail.platform == 'OTH'">Online - Other</p>

                                            </div>


                                        </div>
                                    </div>
                                    <div class="bottom-help-tickets">
                                        <h3> NEED HELP OR LOST YOUR TICKET? </h3>
                                        <button mat-flat-button class="bg-primary btn"> Contact the Event Organizer </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home"></div>
        </div>
        <div [style.background]="bgColor" *ngIf="eventPageView == 'desktop'" id="preview-event">
            <div class="preview-bg">
                <div class="preview-blur"></div>
                <!-- <div class="close-preview">
                        <button type="button" class="close close-btn">
                                <span aria-hidden="true" class="white-text">&times;</span>
                           </button>
                    </div> -->
                <div class="container">
                    <div class="main-preview-section">
                        <div class="top-preview-image" style="background-size:cover; background:url('{{eventImage}}'); ">
                            <!-- <div class="draf-btn-side">
                                    <button mat-flat-button class="bg-primary btn">{{eventDetail?eventDetail.event_status:'-'}}</button>
                                </div> -->
                        </div>
                        <div class="main-preview-wrap Event-page" [style.background]="pageColor" [style.color]="pageTextColor">
                            <div class="bottom-deatils">
                                <div [style.background]="headerColor" class="heading-preview-name">
                                    <h3 [style.color]="headerTextColor"> {{ eventDetail ? eventDetail.event_title : '-' }} </h3>
                                </div>
                                <div class="bottom-booking-deatils">
                                    <div class="col-12 col-xl-6 col-md-6 col-sm-6 float-left">
                                        <div class="side-form-deatils">
                                            <div class="preview-datetime preview-common-deatils">
                                                <span class="material-icons">
                                                                   calendar_today
                                                              </span>
                                                <p>
                                                    {{eventStartTime}} - {{eventEndTime}}
                                                </p>
                                            </div>
                                            <div class="preview-common-deatils" *ngIf="eventDetail.online_event !== 'Y'">
                                                <span class="material-icons">
                                                                   location_on
                                                              </span>
                                                <p> {{ eventDetail ? eventDetail.venue_name : '-' }}, {{ eventDetail ? eventDetail.postal_code : '-' }} </p>
                                            </div>
                                            <div class="preview-common-deatils" *ngIf="eventDetail.online_event === 'Y'">
                                                <span class="material-icons">
                                                                   location_on
                                                              </span>
                                                <p *ngIf="eventDetail.platform == 'Z'">Online - Zoom</p>
                                                <p *ngIf="eventDetail.platform == 'GH'">Online - Google Hangout</p>
                                                <p *ngIf="eventDetail.platform == 'YU'">Online - Youtube</p>
                                                <p *ngIf="eventDetail.platform == 'HP'">Online - Hopin</p>
                                                <p *ngIf="eventDetail.platform == 'VM'">Online - Vimeo</p>
                                                <p *ngIf="eventDetail.platform == 'SKY'">Online - Skype</p>
                                                <p *ngIf="eventDetail.platform == 'OTH'">Online - Other</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-6 col-md-6 col-sm-6 float-left">
                                        <div class="book-ticket-side">
                                            <div class="book-tickets-btn">
                                                <button [style.background]="btnColor" [style.color]="btnTextColor" mat-flat-button class="btn">Book Ticket</button>
                                            </div>
                                            <div class="share-link-main">
                                                <p> Share this event </p>
                                                <div class="event-icone-link">
                                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="deatils-preview-events">
                                    <div class="commmon-top-main">
                                        <h3> DESCRIPTION </h3>
                                        <p [innerHtml]="eventDiscriptionHtml"></p>
                                    </div>
                                    <div class="commmon-top-main map-location" *ngIf="eventDetail.online_event !== 'Y'">
                                        <h3> Location </h3>
                                        <p> {{ eventDetail ? eventDetail.venue_name : '-' }}, {{ eventDetail.country ? eventDetail.country[0].name : '-' }}, {{ eventDetail ? eventDetail.postal_code : '-' }} </p>
                                        <div class="map-main-div">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.0770194330316!2d72.83157731536802!3d21.149332985933174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be051deb35ae21f%3A0x8631d2dbb632de33!2sBroadview+Innovation+Pvt+Ltd.!5e0!3m2!1sen!2sin!4v1558512277080!5m2!1sen!2sin"
                                                width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="commmon-top-main map-location" *ngIf="eventDetail.online_event === 'Y'">
                                        <h3> Location </h3>
                                        <p *ngIf="eventDetail.platform == 'Z'">Online - Zoom</p>
                                        <p *ngIf="eventDetail.platform == 'GH'">Online - Google Hangout</p>
                                        <p *ngIf="eventDetail.platform == 'YU'">Online - Youtube</p>
                                        <p *ngIf="eventDetail.platform == 'HP'">Online - Hopin</p>
                                        <p *ngIf="eventDetail.platform == 'VM'">Online - Vimeo</p>
                                        <p *ngIf="eventDetail.platform == 'SKY'">Online - Skype</p>
                                        <p *ngIf="eventDetail.platform == 'OTH'">Online - Other</p>

                                    </div>

                                </div>
                            </div>
                            <div class="bottom-help-tickets">
                                <h3> NEED HELP OR LOST YOUR TICKET? </h3>
                                <button [style.background]="btnColor" [style.color]="btnTextColor" mat-flat-button class="btn"> Contact the Event Organizer </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="customize-area" [ngClass]="{'opened':customizerThemePanel}">
        <div class="handler" (click)="customizerThemePanel=!customizerThemePanel">Theme <span class="material-icons">expand_less</span></div>
        <div (click)="fnChangeTheme('purple')" [ngClass]="{'active':selectedTheme == 'purple'}" class="theme-box">

        </div>
        <div (click)="fnChangeTheme('custom')" [ngClass]="{'active':selectedTheme == 'custom'}" class="custom-theme-box">
            <img src="../../../../assets/images/admin/custom-theme.png" />
        </div>
        <div class="customization-box">
            <div class="first-column">
                <div class="row mx-0">
                    <label class="col-6">Header Color</label>
                    <label class="col-6">
                        <div class="color-code d-inline-block">
                            <div class="d-inline-block color-code-text p-2">{{headerColor}}</div>
                            <input class="color-box d-inline-block ml-auto m-2" [(colorPicker)]="headerColor" [style.background]="headerColor" (value)="headerColor" />
                        </div>
                    </label>
                    <label class="col-6">Page Color</label>
                    <label class="col-6">
                        <div class="color-code d-inline-block">
                            <div class="d-inline-block color-code-text p-2">{{pageColor}}</div>
                            <input class="color-box d-inline-block ml-auto m-2" [(colorPicker)]="pageColor" [style.background]="pageColor" (value)="pageColor" />
                        </div>
                    </label>
                    <label class="col-6">Button Color</label>
                    <label class="col-6">
                        <div class="color-code d-inline-block">
                            <div class="d-inline-block color-code-text p-2">{{btnColor}}</div>
                            <input class="color-box d-inline-block ml-auto m-2" [(colorPicker)]="btnColor" [style.background]="btnColor" (value)="btnColor" />
                        </div>
                    </label>
                    <label class="col-6">Background Color</label>
                    <label class="col-6">
                        <div class="color-code d-inline-block">
                            <div class="d-inline-block color-code-text p-2">{{bgColor}}</div>
                            <input class="color-box d-inline-block ml-auto m-2" [(colorPicker)]="bgColor" [style.background]="bgColor" (value)="bgColor" />
                        </div>
                    </label>
                </div>
            </div>
            <div class="second-column">
                <div class="row mx-0">
                    <label class="col-6">Header Text Color</label>
                    <label class="col-6">
                        <div class="color-code d-inline-block">
                            <div class="d-inline-block color-code-text p-2">{{headerTextColor}}</div>
                            <input class="color-box d-inline-block ml-auto m-2" [(colorPicker)]="headerTextColor" [style.background]="headerTextColor" (value)="headerTextColor" />
                        </div>
                    </label>
                    <label class="col-6">Page Text Color</label>
                    <label class="col-6">
                        <div class="color-code d-inline-block">
                            <div class="d-inline-block color-code-text p-2">{{pageTextColor}}</div>
                            <input class="color-box d-inline-block ml-auto m-2" [(colorPicker)]="pageTextColor" [style.background]="pageTextColor" (value)="pageTextColor" />
                        </div>
                    </label>
                    <label class="col-6">Button Text Color</label>
                    <label class="col-6">
                        <div class="color-code d-inline-block">
                            <div class="d-inline-block color-code-text p-2">{{btnTextColor}}</div>
                            <input class="color-box d-inline-block ml-auto m-2" [(colorPicker)]="btnTextColor" [style.background]="btnTextColor" (value)="btnTextColor" />
                        </div>
                    </label>
                    <label class="col-6">Font</label>
                    <label class="col-6">
                        <div class=" d-inline-block">
                            <mat-select (selectionChange)="fnChangeFont($event)" [(ngModel)]="selectedFont" class="font-selection">
                                <mat-option value="Poppins, sans-serif">Poppins</mat-option>
                                <mat-option value="Roboto, sans-serif">Roboto</mat-option>
                                <mat-option value="'Cairo', sans-serif">Cairo</mat-option>
                                <mat-option value="'Dosis', sans-serif">Dosis</mat-option>
                                <mat-option value="'Fira Sans', sans-serif">Fira Sans</mat-option>
                                <mat-option value="Lato, sans-serif">Lato</mat-option>
                                <mat-option value="Montserrat, sans-serif">Montserrat</mat-option>
                                <mat-option value="Open Sans, sans-serif">Open Sans</mat-option>
                                <mat-option value="Quicksand, sans-serif">Quicksand</mat-option>
                                <mat-option value="Raleway, sans-serif">Raleway</mat-option>
                                <mat-option value="Ubuntu, sans-serif">Ubuntu</mat-option>
                            </mat-select>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>

</div>