.event-page-page-title{
    font-size: 16px;
    font-weight: bold;
}

.sub-title{
    font-weight: bold;
    font-size: 18px;
    background-color: #ABE6FD;
}
.select-option{
    width:30%;
    
}
.Sparking_Events-img img{
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.br-6{
    border-radius: 6px;
}
.top-event-page{
    display: flex;
    align-items: center;
}    