<div id="event_page_design" class="sub-container">
    <div class="px-5 py-4">
        <div class="row">
            <div class="event-page-page-title">
                Evenet Page Design
            </div>
            <div class="ml-auto">
                <select name="" id="" class="d-inline-block p-1 mr-1">
                <option value="">Listing Page</option>
                <option value="">Event Page</option>
            </select>

                <select name="" id="" class="d-inline-block p-1 ml-1">
                <option value="">Desktop View</option>
                <option value="">Mobile View</option>
            </select>
            </div>
        </div>
    </div>

    <div class="text-center mt-2 py-3 sub-title">
        Sparking Events
    </div>

    <div class="px-5 py-4">
        <div class="rounded">
            <div class="row">
                <div class="col-3 p-0">
                    <img src="../../../../assets/images/admin/Image 54.png" class="w-100" alt="">
                </div>

                <div class="col-9 bg-light p-2">
                    <div class="row">
                        <div class="px-4 py-2">
                            <p class="font-weight-bold">The Ladies Kitty Party</p>
                            <p><i class="fa fa-calendar-check-o pr-2 text-primary"></i>Mon 27 Aug 2020 8:00pm -10:30pm</p>
                            <p><i class="fa fa-map-marker pr-2 text-primary"></i>The Garnd Hayatt - 400001</p>
                        </div>
                        <div class="ml-auto px-4 py-2">
                            <button mat-flat-button color="primary"> Book Ticket</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="px-5 py-2">
        <div class="rounded">
            <div class="row">
                <div class="col-3 p-0">
                    <img src="../../../../assets/images/admin/Image 54.png" class="w-100" alt="">
                </div>

                <div class="col-9 bg-light p-2">
                    <div class="row">
                        <div class="px-4 py-2">
                            <p class="font-weight-bold">Vampire Party</p>
                            <p><i class="fa fa-calendar-check-o pr-2 text-primary"></i>Mon 27 Aug 2020 8:00pm -10:30pm</p>
                            <p><i class="fa fa-map-marker pr-2 text-primary"></i>The Garnd Hayatt - 400001</p>
                        </div>
                        <div class="ml-auto px-4 py-2">
                            <button mat-flat-button color="primary">Sold Out</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>