<div id="event_page_design" class="">
    <div class="loader-main" *ngIf="isLoaderAdmin"><img src="../../../assets/loading-spinner.gif" /></div>
    <div class="px-5 py-4">
        <div class="top-event-page">
            <div class="event-page-page-title">
                Event Page Design
            </div>
            <div class="col-md-6 text-right ml-auto">
                <div class="d-inline-block select-option mr-3">
                    <mat-select [(ngModel)]="eventPageType" (selectionChange)="fnEventPageType($event)" class="form-control text-left mr-1">
                        <mat-option value="listing">Listing Page</mat-option>
                        <mat-option value="single">Event Page</mat-option>
                    </mat-select>
                </div>

                <div class="d-inline-block select-option">
                    <mat-select [(ngModel)]="eventPageView" (selectionChange)="fnEventPageView($event)" class="form-control text-left ml-1">
                        <mat-option value="desktop">Desktop View</mat-option>
                        <mat-option value="mobile">Mobile View</mat-option>
                    </mat-select>
                </div>

            </div>
        </div>
    </div>
    <div class="preview-area" [ngClass]="{'mobile-view': eventPageView == 'mobile'}">
        <div *ngIf="eventPageType == 'listing'" class="list-events">
            <div class="text-center w-100 mt-2 py-3 box-office-title">
                {{boxOfficeName}}
            </div>

            <div class="signle-event" *ngFor="let allEventList of allEventList; let i=index">
                <div class="rounded">
                    <div class="row bg-light br-6">
                        <div *ngIf="allEventList.images !== undefined" [ngStyle]="{'backgroundImage': 'url(' + allEventList.images[0].image + ')'}" class="col-3 p-0 Sparking_Events-img">
                            <!-- <img src="../../../../assets/images/admin/Image 54.png" class="w-100" alt=""> -->
                        </div>

                        <div class="col-9 p-2">
                            <div class="row">
                                <div class="px-4 py-2">
                                    <p class="font-weight-bold">{{allEventList.event_title}}</p>
                                    <p><i class="fa fa-calendar-check-o pr-2 text-primary"></i>{{allEventList.start_date}} {{allEventList.start_time}} - {{allEventList.end_date}} {{allEventList.end_time}}</p>
                                    <p *ngIf="allEventList.online_event == 'N'"><i class="fa fa-map-marker pr-2 text-primary"></i>{{allEventList.venue_name}} - {{allEventList.postal_code}}</p>
                                    <p *ngIf="allEventList.online_event == 'Y'"><i class="fa fa-map-marker pr-2 text-primary"></i> Online -
                                        <span *ngIf="allEventList.platform == 'Z'">Zoom</span>
                                        <span *ngIf="allEventList.platform == 'GH'">Google Hangout</span>
                                        <span *ngIf="allEventList.platform == 'YU'">Youtube</span>
                                        <span *ngIf="allEventList.platform == 'HP'">Hopin</span>
                                        <span *ngIf="allEventList.platform == 'VM'">Vimeo</span>
                                        <span *ngIf="allEventList.platform == 'SKY'">Skype</span>
                                        <span *ngIf="allEventList.platform == 'OTH'">Other</span>
                                    </p>
                                </div>
                                <div class="ml-auto px-4 py-2">
                                    <button mat-flat-button color="primary"> Book Ticket</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div *ngIf="eventPageType == 'single' && eventPageView == 'desktop'" class="single-event-page">
            <iframe style="height:100vh; width:100%" src="{{frontURL}}"> </iframe>
        </div> -->
        <!-- <div *ngIf="eventPageType == 'listing' && eventPageView == 'mobile'" class="single-event-page">
            <iframe style="height:100vh; width:100%" src="{{frontURL}}"> </iframe>
        </div> -->

    </div>

</div>