#paymentgateway{
    ::ng-deep .mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
        display: block;
    }
    ::ng-deep .mat-expansion-panel-header{
        height: 140px;
        padding: 20px;
    }
    mat-icon{
        line-height: 1.5;
    }
    h5{
        color: #181818;
        font-size: 18px;
        font-weight: 600;
    }
    h6{
        color: #808080;
        font-size: 16px;
    }
    .top-border{
        border-top: 1px solid #ededed;
        padding: 15px 0px;
    }
    .action-btn{
        margin-left: auto;
        display: flex;
        .payment-cancel-btn{
            width: 100px;
            height: 39px;
            border-radius: 7px;
            background-color: #dddddd;
        }
        .payment-save-btn{
            width: 109px;
            height: 39px;
            border-radius: 7px;
            background-color: #1173f4;
            color: white;
        }
    }
    .mat-accordion .mat-expansion-panel {
        margin-bottom: 18px;
    }
}
::ng-deep  .payment-gateways{
    padding: 30px 30px;
    .mat-accordion{
        margin-bottom: 10px;
        .mat-expansion-indicator{
            display: none;
        }
        .mat-expansion-panel-header-description{
            display: none !important;
        }
        .mat-expansion-panel-header-title{
            margin-right: 0 !important;
        }
        .payment-toggle-btn{
            margin-left: auto;
        }
    }
}