<div id="contact_preferences" class="main-section">
        <div class="contact-prefrences main-work-area">
            <h6 class="main-head col-md-12">Customer Contact Preferences</h6>
            <div class="account-info">
                <div class="col-md-12">
                    <p class="sub-head">Where should contact form submissions and replies to ticket emails go?
                        <span class="info"><i class="fa fa-question" aria-hidden="true"></i></span>
                    </p>
                </div>
                <div class="form-group col-md-8">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>To my account email address</option>
                        <option>To a diffrent email address</option>
                        <option>I would like to provide instructions</option>
                    </select>
                </div>
                <div class="form-group col-md-8">
                    <label for="exampleInputEmail1" class="sub-head">Please enter the email address for customer contact enquires</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email address">
                </div>
                <div class="col-md-8 mt-4">
                    <div class="note-theme m-0">
                        <div class="notification">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" class="notif-icon">notifications</mat-icon>
                        </div>
                        <div>
                            <p class="note-message"><span class="notes">Please note : </span>The email address specified will be exposed to ticket buyers in the 'reply-to' field of the ticket emails that get sent out. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-action-btn">
            <div class="can-save">
                <button mat-raised-button class="cancel-btn">Cancel</button>
                <button mat-raised-button class="save-btn">Save</button>
            </div>
        </div>
</div>