<div id="broadcast" class="main">
    <div class="broadcast-deatails" *ngIf="createBroadcast">
        <div class="container-fluid">
            <div class="top-heading-main">
                <h4> Broadcasts </h4>
                <p>Send important event updates to your ticket buyers via email.</p>
            </div>
            <div class="bottom-broadcast-wrap">
                <div class="broadcast-notification">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                    <p>Broadcasts can not be used for sending anything other than important event updates. If you would like to send marketing emails please use our <a> MailChimp integration. </a> </p>

                </div>
                <div class="manage-broadcast-table">
                    <div class="main-table-content main-cust-table-content">
                        <div class="add-broadcast-main">
                            <h3>
                                Manage Broadcasts
                            </h3>
                            <button mat-flat-button color="primary" (click)="fnCreateBroadcast()"> Create Broadcast </button>

                        </div>
                        <div class="">
                            <div class="heads main-heading-content drageble" fxLayout="row">
                                <div class="heading-table" fxFlex="25">Subject</div>
                                <div class="heading-table" fxFlex="25">Recipients</div>
                                <div class="heading-table" fxFlex="25">Status</div>
                                <div class="heading-table" fxFlex="25">Date</div>
                            </div>
                            <div class="content" class="drageble-list">
                                <div class="drageble-box" fxLayout="row">
                                    <div class="tb-data heading-table" (click)="previewBroadcast()" fxFlex="25"> <a> Lorem Ipsum </a> </div>
                                    <div class="tb-data heading-table" fxFlex="25"> 3 </div>
                                    <div class="tb-data heading-table text-green" fxFlex="25">Sent</div>
                                    <div class="tb-data heading-table" fxFlex="25">Jul 22, 2020</div>
                                </div>
                            </div>
                            <div class="content" class="drageble-list">
                                <div class="drageble-box" fxLayout="row">
                                    <div class="tb-data heading-table" (click)="previewBroadcast()" fxFlex="25"> <a>Lorem Ipsum  </a> </div>
                                    <div class="tb-data heading-table" fxFlex="25"> 3 </div>
                                    <div class="tb-data heading-table text-purple" fxFlex="25">Draft</div>
                                    <div class="tb-data heading-table" fxFlex="25">Jul 22, 2020</div>
                                </div>
                            </div>



                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="create-broadcast-main" *ngIf="!createBroadcast">
        <div class="container-fluid">
            <div class="top-heading-main">
                <h4>Create Broadcast</h4>
            </div>
            <form [formGroup]="createBroadcastForm">
                <div class="bottom-create-form">
                    <div class="form-group col-md-12 col-lg-12 col-sm-12">
                        <label>Recipients<span class="text-danger">*</span> <i class="fa fa-question-circle" aria-hidden="true"  
                                    matTooltip="When your customers have a question they can either contact you via contact form that forwards on to you can specify your own contact instructions." ></i> </label>
                            <mat-select class="form-control clr-black" formControlName="recipients" id="exampleFormControlSelect1" >
                                <!-- <mat-option value="select Recipients">select Recipients</mat-option> -->
                                <mat-option value="All ticket buyers">All ticket buyers (1)</mat-option>
                                <mat-option value="All waitlist signups">All waitlist signups (0)</mat-option>
                                <mat-option value="New waitlist signups">New waitlist signups (0)</mat-option> 
                                <mat-option value="Notified waitlist signups">Notified waitlist signups (0)</mat-option> 
                              </mat-select>
                        </div>
                        <div class="form-group col-md-12 col-lg-12 col-sm-12">
                            <label>Subject<span class="text-danger">*</span> <i class="fa fa-question-circle" aria-hidden="true"  
                                    matTooltip="When your customers have a question they can either contact you via contact form that forwards on to you can specify your own contact instructions." ></i> </label>
                             <input class="form-control ng-pristine ng-invalid ng-touched" formControlName="subject" placeholder="Your subject">
                        </div>
                        <div class="form-group col-md-12 col-lg-12 col-sm-12">
                            <label>Message<span class="text-danger">*</span> </label>
                                <ck-editor name="editor1" 
                                    skin="moono-lisa" 
                                    language="en" [fullPage]="true" formControlName="message">
                                </ck-editor>
                        </div>
                        <div class="form-group col-md-12 col-lg-12 col-sm-12">
                            <label>Send<span class="text-danger">*</span> </label>
                            <mat-select class="form-control clr-black" formControlName="send" (selectionChange)="fnSelectionChange($event)" id="exampleFormControlSelect1">
                                <mat-option value="IMM">Immediately </mat-option>
                                <mat-option value="AT_SED_DATE_TIME">At a scheduled date and time</mat-option>
                                <mat-option value="AT_SED_ITR_BFO_EVT_ST">At a scheduled interval before the event start</mat-option>
                                <mat-option value="AT_SED_ITR_AFT_EVT_ND">At a scheduled interval after the event ends </mat-option>
                              </mat-select>
                        </div>

                        <div class="form-group col-md-12 col-lg-12 col-sm-12" *ngIf="sendOptions === 'AT_SED_DATE_TIME'">
                            
                            <div class="w-25 d-inline-block">
                                <label for="">Date :</label>    
                                <div class="matDate ">
                                    <mat-datepicker-toggle matSuffix [for]="ticketIssuedTo" class="dateIcon"></mat-datepicker-toggle>
                                    <input type="text" formControlName="scheduledDate" [matDatepicker]="ticketIssuedTo" (click)="ticketIssuedTo.open()" class="form-control matInputdate">
                                    <mat-datepicker #ticketIssuedTo></mat-datepicker>
                                </div>
                            </div>
                                
                                <div class="col-2 d-inline-block">
                                    <label for="">Time :</label>
                                    <mat-select  class="form-control ">
                                        <mat-option formControlName="scheduledTime" *ngFor="let fullDayTimeSlote of fullDayTimeSlote; let i=index" value="{{fullDayTimeSlote}}">{{fullDayTimeSlote}}</mat-option>
                                    </mat-select>
                                </div>
                               
                              
                        </div>

                        <div class="form-group col-md-12 col-lg-12 col-sm-12" *ngIf="sendOptions === 'AT_SED_ITR_BFO_EVT_ST' || sendOptions === 'AT_SED_ITR_AFT_EVT_ND'">
                            <mat-select formControalName="scheduledInterval" class="col-2 form-control d-inline-block">
                                <mat-option value="01">01</mat-option>
                                <mat-option value="02">02</mat-option>
                                <mat-option value="03">03</mat-option>
                                <mat-option value="04">04</mat-option>
                                <mat-option value="05">05</mat-option>
                                <mat-option value="06">06</mat-option>
                                <mat-option value="07">07</mat-option>
                                <mat-option value="08">08</mat-option>
                                <mat-option value="09">09</mat-option>
                                <mat-option value="10">10</mat-option>
                                <mat-option value="11">11</mat-option>
                                <mat-option value="12">12</mat-option>
                            </mat-select> 
                            <span class="ml-2">/  Hours</span>
                          
                        </div>

                        <div class="form-group col-md-12 col-lg-12 col-sm-12">
                            <div class="terms-privicy-main">
                                <mat-checkbox class="example-margin" formControlName="terms">I have read and agree to the following terms:</mat-checkbox>
                                <p> <span class="clr-black"> (1)</span> This email is not a marketing communication.<span class="clr-black"> (2) </span>  This is an essential service email relating to the event my ticket buyers have purchased tickets for. <span class="clr-black"> (3) </span> Replies to this email will go to 'iitstudent2018@gmail.com' I am aware this email address will be visible to the recipients of the email. <span class="clr-black"> (4) </span> The email address 'iitstudent2018@gmail.com' is a valid email address that can receive emails and is in my control.<span class="clr-black">(5) </span> I will handle any responses and/or complaints in relation to this email. </p>
                             </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-lg-12 col-sm-12">
                        <div class="botttom-buttons">
                            <button mat-flat-button class="save-draf-btn mr-2" color="primary"> Save Draft </button>
                            <button mat-flat-button color="primary" (click)="sendBroadcast()"> Send Broadcast </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>