<div id="waitilist-signup" class="main">
    <div class="container-fluid">
        <div class="top-heading-main">
            <h4> Waitlist </h4>
            <p> Set up a waitlist to collect email addresses from prospective tickets buyers. When tickets become available you can notify the signups by sending them a Broadcast or exporting the data and using an alternative tool.
                <a href="#"> Learn more about how to set up a waitlist in our helpdesk article. </a> </p>

        </div>
        <div class="bottom-waitlist-main">
        <form [formGroup]="waitListForm" class="with-validation">
            <div class="waitilist-deatils-top">
                <h4> Settings </h4>
                <mat-checkbox class="example-margin" [checked]="getSavedlist && getSavedlist.active_watlist == 'Y'" (change)="fnActiveWaitlist($event)" >Activate waitlist</mat-checkbox>
            </div>
            <div class="bottom-hide-show-wrap" *ngIf="activeWaitlist">
                <mat-checkbox class="example-margin" [checked]="getSavedlist && getSavedlist.show_ticket == 'Y'"  (change)="fnShowTicket($event)">Show only when no tickets are available</mat-checkbox>
                
                <div class="fileds-main">
                    <div class="form-group col-md-12 col-lg-12 col-sm-12">
                        <label>Call to action<span class="text-danger">*</span> <i class="fa fa-question-circle" aria-hidden="true"  
                                matTooltip="This is what will be displayed on event action buttons and as a title above the waitlist form" ></i> </label>

                        <input class="form-control ng-pristine ng-invalid ng-touched" formControlName="join_list" placeholder="join waiting list">
                        <span class="error-wrap" *ngIf="waitListForm.get('join_list').dirty || waitListForm.get('join_list').touched"><small *ngIf="waitListForm.get('join_list').hasError('required')" class="error text-left">Join waiting list  is required.</small></span>
                    </div>
                    <div class="form-group col-md-12 col-lg-12 col-sm-12">
                        <label>Event page text<span class="text-danger">*</span> <i class="fa fa-question-circle" aria-hidden="true"  
                                matTooltip="Description above tickets waitlist form" ></i> </label>

                        <input class="form-control ng-pristine ng-invalid ng-touched" formControlName="notified_waitlist" placeholder="Join waiting list to be notified when tickets become available">
                        <span class="error-wrap" *ngIf="waitListForm.get('notified_waitlist').dirty || waitListForm.get('notified_waitlist').touched"><small *ngIf="waitListForm.get('notified_waitlist').hasError('required')" class="error text-left">Please enter your contact id is required.</small></span>
                    </div>
                    <div class="form-group col-md-12 col-lg-12 col-sm-12">
                        <label>Confirmation message <span class="text-danger">*</span> <i class="fa fa-question-circle" aria-hidden="true"  
                                matTooltip="This will be shown to the user after they have signed up the waitlist   " ></i> </label>

                        <input class="form-control ng-pristine ng-invalid ng-touched" formControlName="confirmation_msg" placeholder="Done! You are on the waiting list.">
                        <span class="error-wrap" *ngIf="waitListForm.get('confirmation_msg').dirty || waitListForm.get('confirmation_msg').touched"><small *ngIf="waitListForm.get('confirmation_msg').hasError('required')" class="error text-left">Confirmation  is required.</small></span>
                    </div>
                </div>
          
                <div class="bottom-deatils-save-btn col-md-12 col-lg-12 col-sm-12">
                    <button mat-flat-button color="primary" (click)="fnSavewaitlist()"> save </button>
                </div>
            </div>
        </form>
        </div>
        <div class="bottom-hide-waiting">
            <div class="side-common-btn">
                <button mat-flat-button (click)="fnExportData()" color="primary"> Export Data </button>
                <button mat-flat-button color="primary" routerLink="../broadcast"> Create Broadcast </button>
            </div>
            <mat-tab-group>
                <mat-tab label="All ({{getAllWaitingListData ? getAllWaitingListData.count : 0}})"> 
                    <div class="top-search-bar">
                        <div class="form-group col-sm-12 col-12 col-lg-12 col-md-12 col-xl-12">
                            <span class="fa fa-search search-form"></span>
                            <input [(ngModel)]="search.keyword" (keyup)="fnALLSearch()" class="form-control" placeholder="Search by email">
                        </div>
                    </div> 
                    <div class="main-table-content waitlist-table mt-4">
                        <div class="">
                            <div class="heads main-heading-content" fxLayout="row">
                                <div class="" fxFlex="30">Email</div>
                                <div class="" fxFlex="30">Signed up</div>
                                <div class="" fxFlex="30">Notified</div>
                            </div>
                            <div *ngFor="let getAllWaitingListData of getAllWaitingListData.data;let index = i;">
                                <div class="content" fxLayout="row" >
                                    <div class="tb-data" fxFlex="30">{{getAllWaitingListData.email}}</div>
                                    <div class="tb-data" fxFlex="30">
                                        <div *ngIf="getAllWaitingListData.signed_up === 'Y'">YES</div>
                                        <div *ngIf="getAllWaitingListData.signed_up === 'N'">NO</div>
                                    </div>
                                    <div class="tb-data" fxFlex="30" >
                                        <div *ngIf="getAllWaitingListData.status === 'BUY' || getAllWaitingListData.status === 'NEW'">NO</div>
                                        <div *ngIf="getAllWaitingListData.status === 'NOTIFY'">YES</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              </mat-tab>
                <mat-tab label="New signups ({{getNewWaitingListData ? getNewWaitingListData.count : 0}})">
                    <div class="top-search-bar">
                        <div class="form-group col-sm-12 col-12 col-lg-12 col-md-12 col-xl-12">
                            <span class="fa fa-search search-form"></span>
                            <input [(ngModel)]="search.keyword" (keyup)="fnNewSearch()" class="form-control" placeholder="Search by email">
                        </div>
                    </div> 
                    <div class="main-table-content waitlist-table mt-4">
                        <div class="">
                            <div class="heads main-heading-content" fxLayout="row">
                                <div class="" fxFlex="30">Email</div>
                                <div class="" fxFlex="30">Signed up</div>
                            </div>
                            <div *ngFor="let getNewWaitingListData of getNewWaitingListData.data;let index = i;">
                                <div class="content" fxLayout="row">
                                    <div class="tb-data" fxFlex="30">{{getNewWaitingListData.email}}</div>
                                    <div class="tb-data" fxFlex="30">
                                        <!-- <div *ngIf="getNewWaitingListData.signed_up === 'Y'">YES</div>
                                        <div *ngIf="getNewWaitingListData.signed_up === 'N'">NO</div> -->
                                        <div *ngIf="getNewWaitingListData.status === 'NEW'">YES</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </mat-tab>
                <mat-tab label="Notified signups ({{getNotifyWaitingListData ? getNotifyWaitingListData.count : 0}})"><div class="top-search-bar">
                    <div class="form-group col-sm-12 col-12 col-lg-12 col-md-12 col-xl-12">
                        <span class="fa fa-search search-form"></span>
                        <input [(ngModel)]="search.keyword" (keyup)="fnNotitySearch()" class="form-control" placeholder="Search by email">
                    </div>
                </div> 
                <div class="main-table-content waitlist-table mt-4">
                    <div class="">
                        <div class="heads main-heading-content" fxLayout="row">
                            <div class="" fxFlex="30">Email</div>
                            <div class="" fxFlex="30">Notified</div>
                        </div>
                        <div *ngFor="let getNotifyWaitingListData of getNotifyWaitingListData.data;let index = i;">
                            <div class="content" fxLayout="row">
                                <div class="tb-data" fxFlex="30">{{getNotifyWaitingListData.email}}</div>
                                <div class="tb-data" fxFlex="30">
                                    <div *ngIf="getNotifyWaitingListData.status === 'BUY' || getNotifyWaitingListData.status === 'NEW'">NO</div>
                                    <div *ngIf="getNotifyWaitingListData.status === 'NOTIFY'">YES</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
                
              </mat-tab-group>
             
            </div>

    </div>
</div>