<div class="log-in" id="">
    <div class="login">
        <div class="row mx-0 h-100">
            <div class="col-md-6 login-left">
                <div class="login-content">                    
                    <div class="login-head">
                        <h5>WELCOME TO</h5>
                        <div class="login-logo">
                            <img src="/assets/images/login/logo-black.png" class="login-img" alt="">
                        </div>
                        <p>Log in Lorem ipsum is a dummy text used for design industry.</p>
                    </div>
                    <div class="login-details">
                        <div class="input-group">
                            <span class="">
                                <mat-icon class="login-icon">person_outline</mat-icon>
                            </span>
                            <input type="text" class="form-control" placeholder="Username" />
                        </div>
                        <div class="input-group">
                            <span class="">
                                <mat-icon class="login-icon">lock</mat-icon>
                            </span>
                            <input type="password" class="form-control" placeholder="Username" />
                            <span class="">
                                <mat-icon class="hide-show-pswd">remove_red_eye</mat-icon>
                            </span>
                        </div>
                        <a href="" class="fr-pswd-link" routerLink="/forgot-password">Forgot Password?</a>
                        <div>
                            <button mat-raised-button class="signin-btn">SIGN IN</button>
                        </div>
                        <div class="signup-link">
                            <p>Don't have an account? <a href="" routerLink="/sign-up">Sign Up Now</a></p>
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="col-md-6 login-right">
                <!-- <img src="/assets/images/login/login-merge.png" class="login-image" alt=""> -->
                <div class="event-jio">
                    <h2>
                        Less Effort, 
                    </h2>
                    <h2>
                        Greater Experience.
                    </h2>
                    <h3 class="mt-3">
                        Event management is made easy 
                    </h3>
                    <h3>
                        with Eventjio.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>