<div class="sub-container" id="log-in">
    <div class="login">
        <div class="row mx-0">
            <div class="col-md-4 login-left">
                <div class="login-head">
                    <h5>WELCOME TO</h5>
                    <div class="login-logo">
                        <img src="/assets/images/login/logo-black.png" class="login-img" alt="">
                    </div>
                    <p>Log in Lorem ipsum is a dummy text used for design industry.</p>
                </div>
                <div class="login-details">
                    <form [formGroup]="loginForm">
                        <div class="input-group">
                            <div class="field-list">
                                <span class="">
                                    <mat-icon class="login-icon">person_outline</mat-icon>
                                </span>
                                <input type="text" formControlName="email" class="form-control" placeholder="Email" />
                            </div>
                            <span class="error-wrap" *ngIf="loginForm.get('email').dirty || loginForm.get('email').touched">
                                <small *ngIf="loginForm.get('email').hasError('required')" class="error text-left ml-4">Email is required.</small>
                                <small *ngIf="loginForm.get('email').hasError('email') || loginForm.get('email').hasError('pattern')" class="error text-left ml-4">Enter a valid email address.</small>
                            </span>
                        </div>
                        <div class="input-group">
                            <div class="field-list">
                                <span class="">
                                <mat-icon class="login-icon">lock</mat-icon>
                                </span>
                                <input type="password" formControlName="password" class="form-control" placeholder="password" [type]="hide ? 'password' : 'text'" />

                                <mat-icon class="hide-show-pswd" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </div>
                            <span class="error-wrap" *ngIf="loginForm.get('password').dirty || loginForm.get('password').touched"><small *ngIf="loginForm.get('password').hasError('required')" class="error text-left ml-4">Password is required.</small></span>
                        </div>
                        <a href="" class="fr-pswd-link" routerLink="/forgot-password">Forgot Password?</a>
                        <div>
                            <button mat-raised-button class="signin-btn" (click)="onSubmit()">SIGN IN</button>
                        </div>
                        <div class="signup-link">
                            <p>Don't have an account? <a href="" routerLink="/sign-up">Sign Up Now</a></p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-8 login-right P-0">
                <img src="/assets/images/login/login-merge.png" class="login-image" alt="">
            </div>
        </div>
    </div>
</div>