@import url('https://fonts.googleapis.com/css?family=Poppins');
.main {
    font-family: Poppins, Regular;
}

.login{
    .login-left{  
        padding: 6% 0% 6% 8%;
        // padding: 95px 120px;
        .login-head{
            text-align: center;
            h5{
                color: #808080;
                font-size: 20px;
                margin-bottom: 0px;
                padding-left: 35px;
            }
            .login-logo{
                margin: 20px 0px;
                .login-img{
                    width: 172px;
                    height: auto;
                }
            }        
            p{
                color: #808080;
                padding-bottom: 25px;
            }
        }
        .login-details{
            input{
                border:none;
                background-color: transparent;
              }
              input:focus,
              select:focus,
              textarea:focus,
              button:focus {
                  outline: none;
              }          
              .login-icon{
                color: #FF8800;
              }          
              .input-group{                  
                align-items: center;
                display: flex;
                border: 1px #D8D8D8 solid;
                padding: 5px 20px;
                border-radius: 37px;
                margin: 10px 0px;
              }
              .hide-show-pswd{
                  color: #B4B4B4;;
              }
              .fr-pswd-link{
                float: right;
              }
              a{
                  color: #808080;
              }
              .signin-btn{
                  background: #0088FF;
                  color: #FFFFFF;
                  padding: 6px 12px;
                  width: 100%;
                  border-radius: 37px;
                  margin: 15px 0px;
              }
              .signup-link{
                  text-align: center;
                  p{
                    margin-top: 25px;
                      color: #595959;
                      a{
                        color: #FF8800;
                      }
                  }
              }
        }
    }   
    .login-right{
        .login-image{
            width: 100%;
            height: 100%;
        } 
        .event-jio{
            bottom: 0;
        top: 53px;
        position: relative;
        position: absolute;
        right: 231px;
        color: #FFFFFF;
        //bottom: 0;
        // top: 118px;
        // position: relative;
        // position: fixed;
        // right: 231px;
        // color: #FFFFFF;
            h2{
                margin-bottom: 0px;
                color: #FFFFFF;
                text-align: start;
                text-transform: uppercase;
                font-size: 25px;
            }
            h3{
                margin-bottom: 0px;
                color: #FFFFFF;
                text-align: start;
                font-size: 18px;
                font-style: italic;
            }
        }
    }      
}