<div id="my-customers" class="sub-container">
    <div class="loader-main" *ngIf="isLoaderAdmin"><img src="../../../assets/loading-spinner.gif" /></div>
    <div class="right-toolbar">
        <div class="container-fluid top-fixed-customer">
            <div class="row">
                <div class="p-3 mt-2 page-title">
                    Manage Customers
                </div>

                <div class="ml-auto p-3">
                    <button mat-flat-button class="mx-2" (click)="ImportFileUpload()">Import Customers</button>
                    <button mat-flat-button class="mx-2" (click)="ExportFile()">Export Customers</button>
                    <button *ngIf="addFormButtonDiv" mat-flat-button class="ml-2 text-white add-customer" (click)="addFormButton()">Add Customer</button>
                    <button *ngIf="!addFormButtonDiv" mat-flat-button class="ml-2 text-white add-customer" (click)="addFormButton()">View Customer</button>
                </div>
            </div>
        </div>
        <div class="container-fluid fixed-wrap">
            <div class="row">
                <div class="customer-list-container bg-light p-0">
                    <div class="border-bottom px-3 py-4 my-2">
                        <mat-select (selectionChange)="fnFilterCustomer($event)" class=" form-control">
                            <mat-option value="">All Customers</mat-option>
                            <mat-option *ngFor="let filterEventlist of filterEventlist" value="{{filterEventlist.unique_code}}">{{filterEventlist.event_title}}</mat-option>

                        </mat-select>

                        <div class="mt-3 p-2 bg-white border search-btn">
                            <i class="fa fa-search border-right px-2"></i><input type="text" class="px-2" [(ngModel)]="search.keyword" (keyup)="customerSearch()" placeholder="Search by name, phone and email address">
                        </div>
                    </div>

                    <div class="customres-list" *ngIf="customerDetails !== null">
                        <div class="single-customer" [ngClass]="{'active':selectedCustomerCode == customerDetails.unique_code}" *ngFor="let customerDetails of customerDetails; let i=index">
                            <div class="row mx-auto align-items-center">
                                <div class="check-col p-1">
                                    <mat-checkbox class=""></mat-checkbox>
                                </div>
                                <div class="customer-image-icon pointer" *ngIf="!editCustomerForm" (click)="fnSelectCustomer(customerDetails.unique_code)" [ngStyle]="{'background-image': 'url(' + customerDetails.image + ')'}">
                                    <!-- <img src="{{customerDetails.image}}" class="w-100 h-100"> -->
                                </div>
                                <div class="col-8 customer-email p-0 " *ngIf="!editCustomerForm" (click)="fnSelectCustomer(customerDetails.unique_code)">
                                    <span>{{customerDetails.firstname + " " + customerDetails.lastname}}</span>
                                    <p> {{customerDetails.email}}</p>
                                </div>
                                <div class="customer-image-icon pointer" *ngIf="editCustomerForm" (click)="fnSelectCustomer(customerDetails.unique_code);addFormButton()" [ngStyle]="{'background-image': 'url(' + customerDetails.image + ')'}">
                                    <!-- <img src="{{customerDetails.image}}" class="w-100 h-100"> -->
                                </div>
                                <div class="col-8 customer-email p-0 " *ngIf="editCustomerForm" (click)="fnSelectCustomer(customerDetails.unique_code);addFormButton()">
                                    <span>{{customerDetails.firstname + " " + customerDetails.lastname}}</span>
                                    <p> {{customerDetails.email}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="customres-list" *ngIf="customerDetails == null">
                        <p class="my-2 text-center">No customer found.</p>
                    </div>

                </div>

                <div class="customer-detail-container bg-white p-0">

                    <div class="p-3" class="single-customer-detail" *ngIf="addFormButtonDiv && selectedCustomerDetails">
                        <div>
                            <div class="col-12 py-3">
                                <div class="row">
                                    <div class="customer-dp" [ngStyle]="{'background-image': 'url(' + selectedCustomerDetails.image + ')'}">
                                        <!-- <img src="{{selectedCustomerDetails && selectedCustomerDetails.image ? selectedCustomerDetails.image : ''}}" class="w-100 h-100" alt=""> -->
                                        <!-- <img  src="{{selectedCustomerDetails && selectedCustomerDetails.image ? selectedCustomerDetails.image : customerImageUrl}}" alt=""> -->
                                    </div>
                                    <div class="px-3 py-4 customer-name">
                                        <span> {{ selectedCustomerDetails.firstname + " " + selectedCustomerDetails.lastname}} </span>
                                    </div>

                                    <div class="ml-auto p-3 customer-edit-delete-btn">
                                        <button mat-flat-button class="mr-1 edit-btn" (click)="editCustomerDetails()"><i class="fa fa-pencil pr-2"></i>Edit</button>
                                        <button mat-flat-button class="ml-1 delete-btn" (click)="deleteCustomerDetails()"><i class="fa fa-trash pr-2"></i>Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <mat-tab-group class="single-customer-detail">
                                <mat-tab label="Details">
                                    <div class="py-2">
                                        <label for="">Phone No.</label>
                                        <p>
                                            {{selectedCustomerDetails.phone}}
                                        </p>
                                    </div>
                                    <hr class="m-0">
                                    <div class="py-2">
                                        <label for="">Email</label>
                                        <p>
                                            {{selectedCustomerDetails.email}}
                                        </p>
                                    </div>
                                    <hr class="m-0">
                                    <div class="py-2">
                                        <label for="">Address</label>
                                        <p>
                                            {{selectedCustomerDetails.address}}
                                        </p>
                                    </div>
                                    <hr class="m-0">
                                    <div class="py-2 row mx-0">
                                        <div class="pl-0 col-12 col-sm-4 customer-detail-bottom">
                                            <label for="">Registration</label>
                                            <p class="text-capitalize">
                                                {{selectedCustomerDetails.created_at |date :'fullDate'}}<br> Added By {{selectedCustomerDetails.register_by}}
                                            </p>
                                        </div>
                                        <div class="col-12 col-sm-4 customer-detail-bottom">
                                            <label for="">Last Events</label>
                                            <p>
                                                {{allEventListData.lastOrder?allEventListData.lastOrder.event_title:'-'}}<br/> {{lastEventDateTime}}
                                            </p>
                                        </div>
                                        <div class="col-12 col-sm-4 customer-detail-bottom">
                                            <label class="w-100" for="">Tags</label>
                                            <p class="tags">
                                                <!-- {{selectedCustomerDetails.tags}} -->
                                                asd
                                            </p>
                                        </div>
                                    </div>
                                    <hr class="m-0">
                                </mat-tab>

                                <mat-tab label="Events" (click)="eventList('all')">
                                    <div class="py-3" class="customer-event-list">
                                        <button mat-flat-button [ngClass]="{'active':eventActiveTab == 'all'}" class="border mr-1" (click)="eventList('all')">All Events</button>
                                        <button mat-flat-button [ngClass]="{'active':eventActiveTab == 'complete'}" class="border m-1 " (click)="eventList('complete')">Completed Events</button>
                                        <button mat-flat-button [ngClass]="{'active':eventActiveTab == 'upcoming'}" class="border ml-1" (click)="eventList('upcoming')">Upcoming Events</button>
                                    </div>

                                    <div class="" *ngIf="eventActiveTab=='all' && allEventListData">
                                        <table class="table">
                                            <tr *ngFor="let element of allEventListData.all">
                                                <td>{{element.event_title}} </td>
                                                <td>{{element.start_date}}</td>
                                                <td><span class="px-3 py-1 text-white bg-success">Upcoming</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="" *ngIf="eventActiveTab=='complete' && allEventListData">
                                        <table class="table">
                                            <tr *ngFor="let element of allEventListData.complete">
                                                <td>{{element.event_title}} </td>
                                                <td>{{element.start_date}}</td>
                                                <td><span class="px-3 py-1 text-white bg-success">Completed</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="" *ngIf="eventActiveTab=='upcoming' && allEventListData">
                                        <table class="table">
                                            <tr *ngFor="let element of allEventListData.upcoming">
                                                <td>{{element.event_title}} </td>
                                                <td>{{element.start_date | date}}</td>
                                                <td><span class="px-3 py-1 text-white bg-success">Upcoming</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>


                    <div class="p-3" *ngIf="!addFormButtonDiv" class="add-customer-form">
                        <div class="px-3">
                            <div class="row">
                                <form class="p-3" action="" [formGroup]="addCustomerForm" class="with-validation">
                                    <div class="col-12 px-3 pt-3 font-weight-bold add-customer-div-title" *ngIf="!editCustomerForm">
                                        Add Customer
                                    </div>
                                    <div class="col-12 px-3 pt-3 font-weight-bold add-customer-div-title" *ngIf="editCustomerForm">
                                        Edit Customer
                                    </div>
                                    <div class="col-12 px-3 sub-heading">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti voluptate perferendis ipsum.
                                    </div>

                                    <div class="col-12 px-3 mt-3">
                                        <div>
                                            <label>Add Image</label>
                                        </div>
                                        <div class="row">
                                            <div *ngIf="!customerImageUrl && !editCustomerForm" class="p-4 ml-3 image-upload hover pointer" (click)="fnChangeImage()">
                                                <img src="../../../assets/images/admin/customer-default.svg">
                                            </div>
                                            <div *ngIf="customerImageUrl" class="ml-3 image-uploaded hover pointer" (click)="fnChangeImage()">
                                                <img class="w-100 h-100" src="{{customerImageUrl}}">
                                            </div>
                                            <div *ngIf="!customerImageUrl && editCustomerForm" class="ml-3 image-uploaded hover pointer" (click)="fnChangeImage()">
                                                <img class="w-100 h-100" src="{{selectedCustomerDetails.image}}">
                                            </div>
                                            <div class="px-3 py-42 add-customer-file" *ngIf="!customerImageUrl">
                                                <span>No file Choosen</span>
                                                <p class="mt-2">
                                                    Upload image (in .jpg, .jpeg or .png format), <br /> and the image size should not exceed 200x200.
                                                </p>
                                            </div>
                                            <div class="px-3 py-42 add-customer-file" *ngIf="customerImageUrl">
                                                <!-- <span>{{customerImageUrl}}</span> -->
                                                <!-- <p class="mt-2">
                                                    Upload image (in .jpg, .jpeg or .png format), <br /> and the image size should not exceed 200x200.
                                                </p> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 px-3 mt-3">
                                        <div class="row">
                                            <div class="col-6 ">
                                                <label for="">First Name</label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" formControlName="firstname" />
                                                    <span class="error-wrap" *ngIf="addCustomerForm.get('firstname').dirty || addCustomerForm.get('firstname').touched"><small *ngIf="addCustomerForm.get('firstname').hasError('required')" class="error text-left">First name is required.</small></span>
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <label for="">Last Name</label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" formControlName="lastname" />
                                                    <span class="error-wrap" *ngIf="addCustomerForm.get('lastname').dirty || addCustomerForm.get('lastname').touched"><small *ngIf="addCustomerForm.get('lastname').hasError('required')" class="error text-left">Last name is required.</small></span>
                                                </div>
                                            </div>

                                            <div class="col-6 ">
                                                <label for="">Phone No. </label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" formControlName="phone" />
                                                    <span class="error-wrap" *ngIf="addCustomerForm.get('phone').dirty || addCustomerForm.get('phone').touched"><small *ngIf="addCustomerForm.get('phone').hasError('required')" class="error text-left">Phone Number is required.</small>
                                                      <small *ngIf="addCustomerForm.get('phone').hasError('pattern') || (addCustomerForm.get('phone').hasError('pattern') && (addCustomerForm.get('phone').hasError('maxlength') || addCustomerForm.get('phone').hasError('minlength')))" class="error">Phone Number Should in numbers</small>
                                                      <small *ngIf="!addCustomerForm.get('phone').hasError('pattern') && (addCustomerForm.get('phone').hasError('maxlength') || addCustomerForm.get('phone').hasError('minlength'))" class="error">Phone Number Should Minimum 6 and Maximum 15 digits.</small></span>
                                                </div>
                                            </div>

                                            <div class="col-6 ">
                                                <label for="">Email ID</label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" formControlName="email" />
                                                    <span class="error-wrap" *ngIf="addCustomerForm.get('email').dirty || addCustomerForm.get('email').touched"><small *ngIf="addCustomerForm.get('email').hasError('required')" class="error text-left">Email is required.</small><small *ngIf="addCustomerForm.get('email').hasError('pattern')" class="error">Enter valid email.</small><small *ngIf="addCustomerForm.get('email').hasError('isEmailUnique')" class="error">Email is already exists.</small></span>
                                                </div>
                                            </div>

                                            <div class="col-12 ">
                                                <label for="">Full Address</label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" formControlName="address" />
                                                    <span class="error-wrap" *ngIf="addCustomerForm.get('address').dirty || addCustomerForm.get('address').touched"><small *ngIf="addCustomerForm.get('address').hasError('required')" class="error text-left">Address is required.</small></span>
                                                </div>
                                            </div>

                                            <div class="col-12 ">
                                                <label for="">Add Tags</label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Press enter to add tag" formControlName="tags" />
                                                    <span class="error-wrap" *ngIf="addCustomerForm.get('tags').dirty || addCustomerForm.get('tags').touched"><small *ngIf="addCustomerForm.get('tags').hasError('required')" class="error text-left">tags is required.</small></span>
                                                </div>
                                            </div>

                                            <div class="col-12 mb-3 text-right">
                                                <button mat-flat-button class="mr-2 px-5 cancel-btn" (click)="addFormButton()">Cancel</button>
                                                <button *ngIf="!editCustomerForm" mat-flat-button class="ml-2 px-5 create-btn" (click)="submitForm()">Create</button>
                                                <button *ngIf="editCustomerForm" mat-flat-button class="ml-2 px-5 create-btn" (click)="submitForm()">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>