@import url('https://fonts.googleapis.com/css?family=Poppins');
.main {
    font-family: Poppins, Regular;
}

.title-btn-content {
    background-color: #FFE2B7;
    .add-customer {
        background-color: #007BFF;
        border-radius: 30px;
    }
}

.page-title {
    font-size: 16px;
    font-weight: bold;
}

.search-btn {
    border-radius: 30px;
}

.search-btn input {
    width: 80%;
    outline: none;
    border: none;
}

.customer-image-icon {
    border-radius: 20px;
}

.customer-dp {
    width: 70px;
    height: 70px;
    border-radius: 30px;
}

.customer-email {
    p {
        font-size: 11px;
        color: #595959;
    }
    span {
        color: #181818;
    }
}

.customer-name {
    font-size: 18px;
    font-weight: bold;
}

.customer-edit-delete-btn {
    .edit-btn {
        background-color: #007BFF;
        color: #fff;
    }
    .delete-btn {
        background-color: #E1E1E1;
        color: #000000;
    }
}

mat-tab-group {
    label {
        font-weight: bold;
    }
    span {
        background-color: #DDEAFD;
        border: 1px solid #DDEAFD;
    }
}

table {
    span {
        border-radius: 10px;
    }
    .completed-event {
        background-color: gray;
    }
}

.add-customer-div-title {
    font-size: 16px;
}

.image-upload {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background-color: #E3E6EB;
}

.cancel-btn {
    background-color: #DDDDDD;
    color: #000000;
}

.create-btn {
    background-color: #1172F4;
    color: #ffffff;
}

.customres-list {
    height: calc(100vh - 259px);
    overflow: auto;
    .single-customer {
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
    }
}

.add-customer-form {
    height: calc(100vh - 140px);
    overflow: auto;
    overflow-x: hidden;
}

.single-customer-detail {
    height: calc(100vh - 140px);
    overflow: auto;
    overflow-x: hidden;
    padding: 5px 30px;
}

.customer-detail-container {
    width: calc(100% - 315px);
}

.customer-list-container {
    width: 315px;
}