@import url('https://fonts.googleapis.com/css?family=Poppins');
.main {
    font-family: Poppins, Regular;
}

.top-fixed-customer {
    width: calc(100% - 80px);
    background-color: #FFE2B7;
    /* display: flex; */
    position: fixed;
    z-index: 9;
    top: 60px;
    .add-customer {
        background-color: #007BFF;
        border-radius: 30px;
    }
}

.page-title {
    font-size: 16px;
    font-weight: bold;
}

.search-btn {
    border-radius: 30px;
}

.search-btn input {
    width: 80%;
    outline: none;
    border: none;
}

.customer-image-icon img {
    border-radius: 30px;
}

.customer-dp {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    overflow: hidden;
    img {
        // border-radius: 30px;
    }
}

.customer-name {
    font-size: 18px;
    font-weight: bold;
}

.customer-edit-delete-btn {
    .edit-btn {
        background-color: #007BFF;
        color: #fff;
    }
    .delete-btn {
        background-color: #E1E1E1;
        color: #000000;
    }
}

mat-tab-group {
    label {
        font-weight: bold;
    }
    span {
        background-color: #DDEAFD;
    }
}

table {
    span {
        border-radius: 10px;
    }
    .completed-event {
        background-color: gray;
    }
}

.add-customer-div-title {
    font-size: 16px;
}

.image-upload {
    width: 80px;
    height: 80px;
    border-radius: 24px;
    background-color: #E3E6EB;
}

.image-uploaded {
    width: 80px;
    height: 80px;
    border-radius: 24px;
    overflow: hidden;
}

.cancel-btn {
    background-color: #DDDDDD;
    color: #000000;
}

.create-btn {
    background-color: #1172F4;
    color: #ffffff;
}

.customres-list {
    height: calc(100vh - 259px);
    overflow: auto;
    .single-customer {
        border-bottom: 1px solid #cecece;
        padding: 12px 8px;
        transition: all 0.3s;
        cursor: pointer;
        .customer-image-icon {
            width: 50px;
            margin: 0 5px;
            height: 50px;
            border-radius: 120px;
            overflow: hidden;
            padding: 0 !important;
            img {}
        }
        .customer-email {
            width: calc(100% - 100px);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            span {
                color: #181818;
                font-size: 15px;
                width: 100%;
                font-weight: 600;
            }
            p {
                width: 100%;
                margin-bottom: 0;
                font-size: 12px;
                color: #595959;
            }
        }
        &:hover {
            background-color: #ddeafd;
            transition: all 0.3s;
            span {
                color: #1172f4;
            }
        }
    }
}

.add-customer-form {
    .sub-heading {
        color: #9e9e9e;
        font-size: 12px;
    }
}

.single-customer-detail {
    padding: 5px 30px;
}

.customer-detail-container {
    width: calc(100% - 300px);
    margin-left: 300px;
}

.customer-list-container {
    height: calc(100vh - 70px);
    overflow-y: auto;
    width: 300px;
    position: fixed;
    z-index: 9;
    top: 126px;
}

.Details {
    p {
        margin-bottom: 0px;
    }
}

.add-customer-file {
    span {
        color: #9E9E9E;
    }
    p {
        color: #9E9E9E;
    }
}

.active-btns {
    background: #007bff;
    color: #ffffff;
}

.customer-event-list {
    button {
        border-radius: 5px;
        .active {
            border: 2px solid #007BFF !important;
        }
    }
}