.clr-black{color: #000!important;}

#duplicate{
     .top-heading-main{
          margin-top: 24px;
          h4{font-size: 18px;
              color: #000;
              text-align: justify;
              font-weight: 500;
              margin-bottom: 6px;}
          p{
              color: #808080;
          }
          }
        .manage-duplicate-table{
                    margin-top: 26px;
                    border: 1px solid #CECECE;
                    border-radius: 4px;
                    .duplicate-heading {
                     border-bottom: solid 1px #DDDDDD;
                     padding: 14px 18px 24px 14px;
                     display: flex;
                     justify-content: space-between;
                     align-items: center;
                     h3{
                         margin: 0px;
                         text-align: justify;
                         color: #000;
                         font-weight: 500;
                     }
                    }
                    .drageble-list {
                        width: 100%;
                        border-top: solid 1px #dddddd00;
                        display: block;
                        background: white;
                        border-radius: 4px;
                        overflow: hidden;
                        font-size: 14px;
                        font-weight: 500;
                    }
                    .main-heading-content {
                         border-bottom: solid 2px #DDDDDD;
                        padding: 14px 20px;
                        align-items: center;
                        font-size: 14px;
                        color: #595959;
                        flex-direction: row;
                        box-sizing: border-box;
                        display: flex;
                       
                    }
                    .heading-table{
                         flex: 1 1 100%;
                    }
                    .drageble-box {
                        align-items: center;
                        flex-direction: row;
                        box-sizing: border-box;
                        display: flex;
                        padding: 10px 20px;
                        border-bottom: 1px solid #dddddd;
                    }
                    .tb-data {
                         padding: 6px 0px;
                        color: #595959;
                        position: relative;
                    }
                    .cpn-title {
                        color: #181818;
                    }
                    .cpn-code {
                        color: #1172F4;
                    }
                    .cpn-bor {
                        border: 1px dashed #1172F4;
                        padding: 6px 12px;
                        border-radius: 5px;
                    } 
                }
              .duplicate-table-wrap{
                  .drageble-list{
                    .main-drageble{
                        .delete-duplicate{
                            position: absolute;
                            top: 12px;
                            z-index: 999999;
                            right: 24px;
                            cursor: pointer;
                          i{
                            color: #FF0000;
                            font-size: 22px;
                          }
                        }
                        .form-control{
                            width:70%;
                        }
                        .custom-fc-width{
                            width:50%;
                        }
                        input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color:#000;
                            font-size:12px;
                             }
                        select { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        font-size:12px;
                            }     
                    }
                   

                  }
              }  
              .add-row {
                color:#007BFF;
                padding: 10px 20px;
                cursor: pointer;
              }

            .matDate{
                position:relative;
            }
            .dateIcon{
                 position: absolute;
            }
            .matInputdate{
                padding-left: 40px;
            }
}