<div id="duplicate" class="main">
    <div class="loader-main" *ngIf="isLoaderAdmin"><img src="../../../assets/loading-spinner.gif" /></div>
     <div class="container-fluid">
        <mat-icon (click)="addNewEvents=!addNewEvents" routerLink="/event-summary" class="mr-3 pointer">west</mat-icon>
          <div class="top-heading-main">
               <h4> Duplicate Event   </h4>
               <p>Below you can create multiple duplications of the event with different names, start dates and end dates. All other details including tickets will be replicated.</p>
           </div>
           <div class="manage-duplicate-table">
               <div class="main-table-content main-cust-table-content">
                    <div class="duplicate-heading">
                         <h3>
                              Create duplicates
                         </h3>
                      
                    </div>
                    <div class="duplicate-table-wrap">
                        <div class="heads main-heading-content drageble" fxLayout="row">
                            <div class="heading-table" fxFlex="20"></div>
                            <div class="heading-table" fxFlex="20">Event Name</div>
                            <div class="heading-table" fxFlex="20">Start Date</div>
                            <div class="heading-table" fxFlex="20">End Date</div>
                            <div class="heading-table" fxFlex="20">Status</div>
                        </div>
                        <div class="content" class="drageble-list">
                            <div class="drageble-box" fxLayout="row">
                                <div class="tb-data heading-table clr-black" fxFlex="20"> Original </div>
                                <div class="tb-data heading-table" fxFlex="20"> Interior Expo </div>
                                <div class="tb-data heading-table text-green" fxFlex="20">Thu Aug 13, 2020</div>
                                <div class="tb-data heading-table" fxFlex="20">Wed Aug 26, 2020</div>
                                <div class="tb-data heading-table" fxFlex="20">Draft</div>
                            </div>
                        </div>

                        <form [formGroup]="duplicateForm" class="with-validation">
                        <div class="content" class="drageble-list" *ngFor="let duplicate of duplicateArray, let i = index">
                         <div class="drageble-box main-drageble"  fxLayout="row">
                             <div class="tb-data heading-table clr-black" fxFlex="20"> New </div>

                                 <div class="tb-data heading-table form-group" fxFlex="20">
                                    <input class="form-control" formControlName="event_title" placeholder="Interior Expo">
                                    <span class="error-wrap" *ngIf="duplicateForm.get('event_title').dirty || duplicateForm.get('event_title').touched"><small *ngIf="duplicateForm.get('event_title').hasError('required')" class="error text-left">Event Name is required.</small></span>
                                 </div>
                                
                            
                             <div class="tb-data heading-table text-purple" fxFlex="20">
                                <div class="matDate">                    
                                    <mat-datepicker-toggle matPrefix [for]="duplicateStartDatePicker" class="dateIcon"> </mat-datepicker-toggle>
                                    <input type="text"  (dateChange)="fnChangeValideFrom()" matInput [matDatepicker]="duplicateStartDatePicker"  [min]="minDate" (click)="duplicateStartDatePicker.open()"  class="form-control matInputdate" formControlName="start_date">    
                                    <mat-datepicker #duplicateStartDatePicker></mat-datepicker>
                                    <span class="error-wrap" *ngIf="duplicateForm.get('start_date').dirty || duplicateForm.get('start_date').touched"><small *ngIf="duplicateForm.get('start_date').hasError('required')" class="error text-left">Start Date is required.</small></span>           
                                </div>
                             </div>
                             
                             <div class="tb-data heading-table" fxFlex="20">
                                <div class="matDate">                    
                                    <mat-datepicker-toggle matPrefix [for]="duplicateEndDatePicker" class="dateIcon"> </mat-datepicker-toggle>
                                    <input type="text" matInput [matDatepicker]="duplicateEndDatePicker"  [min]="minTillDate"  (click)="duplicateEndDatePicker.open()"  class="form-control matInputdate" formControlName="end_date">               
                                    <mat-datepicker #duplicateEndDatePicker></mat-datepicker>
                                    <span class="error-wrap" *ngIf="duplicateForm.get('end_date').dirty || duplicateForm.get('end_date').touched"><small *ngIf="duplicateForm.get('end_date').hasError('required')" class="error text-left">End Date is required.</small></span> 
                                </div>
                             </div>
                           
                             <div class="tb-data heading-table" fxFlex="20"> 
                                 <mat-select class="form-control clr-black custom-fc-width" id="exampleFormControlSelect1" formControlName="event_status">
                                     <mat-option value="draft">Draft</mat-option>
                                     <mat-option value="publish">Published</mat-option>                                    
                                </mat-select>
                                <span class="error-wrap" *ngIf="duplicateForm.get('event_status').dirty || duplicateForm.get('event_status').touched"><small *ngIf="duplicateForm.get('event_status').hasError('required')" class="error text-left">Status is required.</small></span> 
                                <div class="delete-duplicate"> 
                                    <i class="fa fa-times-circle" (click)="fnRemoveDuplicate(i)"></i>
                                </div>
                            </div>
                         </div>
                     </div>
                    </form>

                    </div>
                    <div class="w-100 my-3">
                        <a class="add-row" (click)="fnAddDuplicate()"> Add another row  </a>
                    </div>

                </div>
                <div class="form-group col-md-12 col-lg-12 col-sm-12">
                    <div class="botttom-buttons">
                        <button mat-flat-button  color="primary" (click)="saveDuplicate()"> Save Duplicates </button>
                    </div>
                </div>
          </div>
          
     </div>
</div>
