.settins-title {
    font-size: 16px;
    font-weight: bold;
}

.setting-left-menu {
    height: calc(100vh - 60px);
    overflow-y: auto;
    width: 300px;
    position: fixed;
    z-index: 9;
    top: 60px;
}

.setting-right-container {
    width: calc(100% - 300px);
    margin-left: 300px;
}

.setting-menu-icon {
    width: 20px;
    height: 20px;
    // background-color: yellow;
}

.active {
    color: #007BFF;
}
.common-setting-menu{
    cursor: pointer;
}