<div class="container-fluid">
    <div class="row sub-container">
        <div class="p-3 bg-light setting-left-menu">
            <div class="settins-title py-2">
                <span>Resource Management</span>
            </div>
            <div class="py-2 common-setting-menu" (click)=toggleDisplayDiv() (click)="fnPostUrl('')" [ngClass]="{'active': pageName == '' || pageName ==  'websites-embed-codes' || pageName ==  'buttons-and-links'}" routerLink="/super-admin/settings">
                <div class="setting-menu-icon d-inline-block mr-2">
                    <img [ngStyle]="{'display':pageName === ''  || pageName == 'websites-embed-codes' || pageName == 'buttons-and-links' ? 'none' : 'block'}" src="../../../assets/images/settings/school/school.png" class="w-100" alt="">
                    <img [ngStyle]="{'display':pageName === '' || pageName == 'websites-embed-codes' || pageName == 'buttons-and-links' ? 'block' : 'none'}" src="../../../assets/images/settings/school/school_active.png" class="w-100" alt="">
                </div> <span>Event Page Appearance</span><i class="fa fa-angle-down pl-5 ml-2"></i>
            </div>
            <div [hidden]="isShowDiv">
                <div (click)="fnPostUrl('')" [ngClass]="{'active': pageName == ''}" routerLink="/super-admin/settings" class="py-2 common-sub-menu">
                    <span class="pl-4">Event Page Design</span>
                </div>

                <!-- <div (click)="fnPostUrl('buttons-and-links')" [ngClass]="{'active': pageName == 'buttons-and-links'}" routerLink="/super-admin/settings/buttons-and-links" class="py-2 common-sub-menu">
                    <span class="pl-4">Buttons and Links</span>
                </div> -->

                <div (click)="fnPostUrl('websites-embed-codes')" [ngClass]="{'active': pageName == 'websites-embed-codes'}" routerLink="/super-admin/settings/websites-embed-codes" class="py-2 common-sub-menu">
                    <span class="pl-4">Website Embed Codes</span>
                </div>

                <div (click)="fnPostUrl('referral-codes')" [ngClass]="{'active': pageName == 'referral-codes'}" routerLink="/super-admin/settings/referral-codes" class="py-2 common-sub-menu">
                    <span class="pl-4">Referral Codes</span>
                </div>
            </div>

            <div>
                <div (click)="fnPostUrl('contact-preferences')" [ngClass]="{'active': pageName == 'contact-preferences'}" class="py-2 common-setting-menu" routerLink="/super-admin/settings/contact-preferences">
                    <div class="setting-menu-icon d-inline-block mr-2 ">
                        <img [ngStyle]="{'display':pageName === 'contact-preferences' ? 'none' : 'block'}" src="../../../assets/images/settings/staff/staff.png" class="w-100" alt="">
                        <img [ngStyle]="{'display':pageName === 'contact-preferences' ? 'block' : 'none'}" src="../../../assets/images/settings/staff/staff_active.png" class="w-100" alt="">
                    </div><span>Contact Preferences</span>
                </div>

                <div class="py-2 common-setting-menu" routerLink="/super-admin/settings/checkout-form" (click)="fnPostUrl('checkout-form')" [ngClass]="{'active': pageName == 'checkout-form'}">
                    <div class="setting-menu-icon d-inline-block mr-2 ">
                        <img [ngStyle]="{'display':pageName === 'checkout-form' ? 'none' : 'block'}" src="../../../assets/images/settings/information/information.png" class="w-100" alt="">
                        <img [ngStyle]="{'display':pageName === 'checkout-form' ? 'block' : 'none'}" src="../../../assets/images/settings/information/information_active.png" class="w-100" alt="">
                    </div> <span>Checkout form</span>
                </div>


                <div (click)="fnPostUrl('order-confirmation')" [ngClass]="{'active': pageName == 'order-confirmation'}" class="py-2 common-setting-menu" routerLink="/super-admin/settings/order-confirmation">
                    <div class="setting-menu-icon d-inline-block mr-2 ">
                        <img [ngStyle]="{'display':pageName === 'order-confirmation' ? 'none' : 'block'}" src="../../../assets/images/settings/order/order.png" class="w-100" alt="">
                        <img [ngStyle]="{'display':pageName === 'order-confirmation' ? 'block' : 'none'}" src="../../../assets/images/settings/order/order_active.png" class="w-100" alt="">
                    </div> <span>Order Confirmation</span>
                </div>

                <div (click)="fnPostUrl('team-access')" [ngClass]="{'active': pageName == 'team-access'}" class="py-2 common-setting-menu" routerLink="/super-admin/settings/team-access">
                    <div class="setting-menu-icon d-inline-block mr-2 ">
                        <img [ngStyle]="{'display':pageName === 'team-access' ? 'none' : 'block'}" src="../../../assets/images/settings/Teamaccess/Team access.png" class="w-100" alt="">
                        <img [ngStyle]="{'display':pageName === 'team-access' ? 'block' : 'none'}" src="../../../assets/images/settings/Teamaccess/Team access_active.png" class="w-100" alt="">
                    </div> <span>Team access</span>

                </div>

                <div class="settins-title py-2">
                    <span>Manage</span>
                </div>

                <div (click)="fnPostUrl('seating-charts')" [ngClass]="{'active': pageName == 'seating-charts'}" class="py-2 common-setting-menu" routerLink="/super-admin/settings/seating-charts">
                    <div class="setting-menu-icon d-inline-block mr-2 ">
                        <img [ngStyle]="{'display':pageName === 'seating-charts' ? 'none' : 'block'}" src="../../../assets/images/settings/chair/chair.png" class="w-100" alt="">
                        <img [ngStyle]="{'display':pageName === 'seating-charts' ? 'block' : 'none'}" src="../../../assets/images/settings/chair/chair_active.png" class="w-100" alt="">
                    </div> <span>Seating Chart</span>
                </div>

                <div class="settins-title py-2">
                    <span>Account</span>
                </div>

                <div (click)="fnPostUrl('my-profile')" [ngClass]="{'active': pageName == 'my-profile'}" class="py-2 common-setting-menu" routerLink="/super-admin/settings/my-profile">
                    <div class="setting-menu-icon d-inline-block mr-2 ">
                        <img [ngStyle]="{'display':pageName === 'my-profile' ? 'none' : 'block'}" src="../../../assets/images/settings/user/user.png" class="w-100" alt="">
                        <img [ngStyle]="{'display':pageName === 'my-profile' ? 'block' : 'none'}" src="../../../assets/images/settings/user/user_active.png" class="w-100" alt="">
                    </div> <span>My Profile</span>
                </div>

                <div (click)="fnPostUrl('box-office')" [ngClass]="{'active': pageName == 'box-office'}" class="py-2 common-setting-menu" routerLink="/super-admin/settings/box-office">
                    <div class="setting-menu-icon d-inline-block mr-2 ">
                        <img [ngStyle]="{'display':pageName === 'box-office' ? 'none' : 'block'}" src="../../../assets/images/settings/store/store.png" class="w-100" alt="">
                        <img [ngStyle]="{'display':pageName === 'box-office' ? 'block' : 'none'}" src="../../../assets/images/settings/store/store_active.png" class="w-100" alt="">
                    </div> <span>Box Office</span>
                </div>


                <div class="settins-title py-2">
                    <span>Payment</span>
                </div>

                <div (click)="fnPostUrl('payment-systems')" [ngClass]="{'active': pageName == 'payment-systems'}" class="py-2 common-setting-menu" routerLink="/super-admin/settings/payment-systems">
                    <div class="setting-menu-icon d-inline-block mr-2">
                        <img [ngStyle]="{'display':pageName === 'payment-systems' ? 'none' : 'block'}" src="../../../assets/images/settings/pay/pay.png" class="w-100" alt="">
                        <img [ngStyle]="{'display':pageName === 'payment-systems' ? 'block' : 'none'}" src="../../../assets/images/settings/pay/pay_active.png" class="w-100" alt="">
                    </div> <span>Payment Systems</span>
                </div>

                <div (click)="fnPostUrl('billing')" [ngClass]="{'active': pageName == 'billing'}" class="py-2 common-setting-menu" routerLink="/super-admin/settings/billing">
                    <div class="setting-menu-icon d-inline-block mr-2 ">
                        <img [ngStyle]="{'display':pageName === 'billing' ? 'none' : 'block'}" src="../../../assets/images/settings/checklist/checklist.png" class="w-100" alt="">
                        <img [ngStyle]="{'display':pageName === 'billing' ? 'block' : 'none'}" src="../../../assets/images/settings/checklist/checklist_active.png" class="w-100" alt="">
                    </div> <span>Billing</span>
                </div>

                <div (click)="fnPostUrl('sales-tax')" [ngClass]="{'active': pageName == 'sales-tax'}" class="py-2 common-setting-menu" routerLink="/super-admin/settings/sales-tax">
                    <div class="setting-menu-icon d-inline-block mr-2 ">
                        <img [ngStyle]="{'display':pageName === 'sales-tax' ? 'none' : 'block'}" src="../../../assets/images/settings/invoice/invoice.png" class="w-100" alt="">
                        <img [ngStyle]="{'display':pageName === 'sales-tax' ? 'block' : 'none'}" src="../../../assets/images/settings/invoice/invoice_active.png" class="w-100" alt="">
                    </div> <span>Sales tax</span>
                </div>

                <div class="settins-title py-2">
                    <span>General Setting</span>
                </div>

                <div (click)="fnPostUrl('connect-app')" [ngClass]="{'active': pageName == 'connect-app'}" class="py-2 common-setting-menu" routerLink="/super-admin/settings/connect-app">
                    <div class="setting-menu-icon d-inline-block mr-2 ">
                        <img [ngStyle]="{'display':pageName === 'connect-app' ? 'none' : 'block'}" src="../../../assets/images/settings/app/app.png" class="w-100" alt="">
                        <img [ngStyle]="{'display':pageName === 'connect-app' ? 'block' : 'none'}" src="../../../assets/images/settings/app/app_active.png" class="w-100" alt="">
                    </div> <span>Connect apps</span>
                </div>

                <div class="py-2 common-setting-menu">
                    <div class="setting-menu-icon d-inline-block mr-2 ">
                        <img src="../../../assets/images/settings/appusers/app-user.png" class="w-100" alt="">
                    </div> <span>Check in app users</span>
                </div>

                <div (click)="fnPostUrl('privacy-policy')" [ngClass]="{'active': pageName == 'privacy-policy'}" class="py-2 common-setting-menu" routerLink="/super-admin/settings/privacy-policy">
                    <div class="setting-menu-icon d-inline-block mr-2 ">
                        <img [ngStyle]="{'display':pageName === 'privacy-policy' ? 'none' : 'block'}" src="../../../assets/images/settings/PrivacyPolicy/Privacy-Policy.png" class="w-100" alt="">
                        <img [ngStyle]="{'display':pageName === 'privacy-policy' ? 'block' : 'none'}" src="../../../assets/images/settings/PrivacyPolicy/Privacy-Policy_active.png" class="w-100" alt="">
                    </div> <span>Privacy Policy</span>
                </div>

                <div class="py-2 common-setting-menu">
                    <div class="setting-menu-icon d-inline-block mr-2 ">
                        <img src="../../../assets/images/settings/coding/coding.png" class="w-100" alt="">
                        <!-- <img  src="../../../assets/images/settings/coding/api__active.png" class="w-100" alt=""> -->
                    </div> <span>API</span>
                </div>
            </div>
        </div>

        <div class="setting-right-container p-0 bg-white">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>