<mat-drawer-container class="main-container">
    <mat-drawer-content class="">
        <main>
            <mat-toolbar color="primary" class="toolbar menu-comman">

                <mat-toolbar-row>
                    <!-- <div class="logo"><a><img src="/assets/img/logo.png"></a></div>  -->
                    <div class="logo">
                        <a class='logo-link'>
                            <img src="/assets/images/admin/my-workspace-icon.png" class="page-top-icon mr-3" aria-hidden="true">
                        </a>
                    </div>
                    <span class="f13 d-flex align-items-center">
         
          <span class="profile-head">
              <div class="customer-profile-img m-2 float-left overflow-hidden" data="aaa">
                  <img class="h-100 w-100" src="../assets/img/user.png'">
              </div>
            <p class="font-weight-bold my-2 p-1">admin</p>
          </span>
                    <button mat-stroked-button class="bellborder notification-btn bell-color">
          <i mat-list-icon class="fa fa-bell-o" aria-hidden="true"></i>
          <span class="count">3</span>
          </button>
                    <button mat-stroked-button class="bellborder bell-color">
          <i mat-list-icon class="fa fa-sign-out"></i>
          </button>
                    </span>
                </mat-toolbar-row>
            </mat-toolbar>

            <div class="bottom_header">
                <mat-drawer-container class="main-container left-admin-menu">
                    <mat-drawer [disableClose]="true" class="main_admin_menu" mode="side" opened>
                        <div class="top_admin_menu">
                            <mat-list-item role="listitem" class="matlist pointer menuitem logo">
                                <div class="logo"><img src="assets/images/admin/admin-logo-orange.png"></div>
                            </mat-list-item>
                            <mat-list-item role="listitem" class="add">
                                <div>
                                    <div class="add common-menu">
                                        <img src="/assets/images/admin/add.png">
                                    </div>
                                </div>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <div class="common-menu"><img src="/assets/images/admin/admin-menu-bag.png"></div>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <div class="common-menu"><img src="/assets/images/admin/admin-menu-calendar.png">
                                </div>
                            </mat-list-item>
                        </div>
                    </mat-drawer>
                    <mat-drawer-content class="main-admin-drawer">
                        <div class="row mx-0 h-100 w-100">
                            <router-outlet #outlet="outlet"></router-outlet>
                        </div>
                    </mat-drawer-content>
                </mat-drawer-container>
            </div>
        </main>
        <!-- right drawer menu code -->
    </mat-drawer-content>
</mat-drawer-container>
