<mat-drawer-container class="main-container">
    <mat-drawer mode="side" opened class="left-side-container left-side-main-menu" *ngIf="isBoxoffice()">
        <mat-toolbar class="app-title">
            <div class="text-light text-center company-logo">
                <img src="/assets/images/logo/eventjio-icon.png" class="company-img" alt="">
            </div>
        </mat-toolbar>

        <div class="main-menu">
            <div class="col-12 px-3 pt-4 pb-3 mt-3 text-center">
                <div class="circle-icon text-center">
                    <div class="plus-sign">
                        +
                    </div>
                </div>
            </div>

            <div  routerLink="/super-admin/dashboard" (click)="fnPostUrl('Dashboard')" [ngClass]="{'active-icon': pageName == 'Dashboard'}" class="col-12 p-3 mt-4 text-center text-white common-icon">
                <div matTooltip="Dashboard" matTooltipClass="main-menu-tooltip" matTooltipPosition="after" class="icon text-center">
                    <img src="/assets/images/admin/dashboard.png" class="w-100" alt="">
                </div>
            </div>

            <div routerLink="/super-admin/events" (click)="fnPostUrl('Events')" [ngClass]="{'active-icon': pageName == 'Events'}" class="col-12 p-3 mt-4 text-center text-white common-icon">
                <div matTooltip="Events" matTooltipClass="main-menu-tooltip" matTooltipPosition="after"  class="icon text-center">
                    <img src="/assets/images/admin/star.png" class="w-100" alt="">
                </div>
            </div>

            <div routerLink="/super-admin/orders" (click)="fnPostUrl('Orders')" [ngClass]="{'active-icon': pageName == 'Orders'}" class="col-12 p-3 mt-4 text-center text-white common-icon">
                <div matTooltip="Orders" matTooltipClass="main-menu-tooltip" matTooltipPosition="after"  class="icon text-center">
                    <img src="/assets/images/admin/order.png" class="w-100" alt="">
                </div>

            </div>

            <div routerLink="/super-admin/customers" (click)="fnPostUrl('Customers')" [ngClass]="{'active-icon': pageName == 'Customers'}" class="col-12 p-3 mt-4 text-center text-white common-icon">
                <div matTooltip="Customers" matTooltipClass="main-menu-tooltip" matTooltipPosition="after"  class="icon text-center">
                    <img src="/assets/images/admin/user.png" class="w-100" alt="">
                </div>

            </div>

            <div (click)="fnPostUrl('Coupon')" [ngClass]="{'active-icon': pageName == 'Coupon'}" routerLink="/super-admin/coupons" class="col-12 p-3 mt-4 text-center text-white common-icon">
                <div matTooltip="Coupon" matTooltipClass="main-menu-tooltip" matTooltipPosition="after" class="icon text-center">
                    <img src="/assets/images/admin/gift.png" class="w-100" alt="">
                </div>

            </div>
        </div>

        <div class="bottom_admin_menu">
            <div routerLink="/super-admin/settings" (click)="fnPostUrl('Settings')" [ngClass]="{'active-icon': pageName == 'Settings'}" matTooltip="Settings" matTooltipClass="main-menu-tooltip" matTooltipPosition="after" class="col-12 p-3 text-center setting-btn text-white common-icon">
                <div class="icon text-center">
                    <img src="/assets/images/admin/settings.png" class="w-100" alt="">
                </div>

            </div>
        </div>
    </mat-drawer>



    <mat-drawer-content class="bg-white">
        <mat-toolbar class="py-3  right-toolbar" [ngClass]="{'business-open': boxofficeComponent == true}">
            <div>
                {{pageName}}
            </div>

            <div class="ml-auto pr-3">
                <span class="d-inline-block"> <i class="fa fa-bell-o fa-lg pr-3"></i> </span>
                <div class="user-image-icon mr-3 p-1 bg-dark d-inline-block">
                    <img src="/assets/images/admin/user.png" class="w-100" alt="">
                </div>
                <!-- <span class="d-inline-block"> Administrator <i class="fa fa-angle-down fa-fw pl-1"></i></span> -->
            </div>
            <div class="">
                <select class="form-control head-dropdown" id="exampleFormControlSelect1">
                    <option>Administrator</option>
                    <option>My Profile</option>
                  <option>Logout</option>
                </select>
            </div>
        </mat-toolbar>
        <div class="mt-2 right-toolbar-content">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>






<!-- 
<mat-drawer-container class="main-container">
    <mat-drawer-content class="">
        <main>
            <mat-toolbar color="primary" class="toolbar menu-comman">

                <mat-toolbar-row>
                    <div class="logo">
                        <a><img src="/assets/img/logo.png"></a>
                    </div> comment
                    <div class="logo">
                        <a class='logo-link'>
                            <img src="/assets/images/admin/my-workspace-icon.png" class="page-top-icon mr-3" aria-hidden="true">
                        </a>
                    </div>
                    <span class="f13 d-flex align-items-center">
         
          <span class="profile-head">
              <div class="customer-profile-img m-2 float-left overflow-hidden" data="aaa">
                  <img class="h-100 w-100" src="../assets/img/user.png'">
              </div>
            <p class="font-weight-bold my-2 p-1">admin</p>
          </span>
                    <button mat-stroked-button class="bellborder notification-btn bell-color">
          <i mat-list-icon class="fa fa-bell-o" aria-hidden="true"></i>
          <span class="count">3</span>
          </button>
                    <button mat-stroked-button class="bellborder bell-color">
          <i mat-list-icon class="fa fa-sign-out"></i>
          </button>
                    </span>
                </mat-toolbar-row>
            </mat-toolbar>

            <div class="bottom_header">
                <mat-drawer-container class="main-container left-admin-menu">
                    <mat-drawer [disableClose]="true" class="main_admin_menu" mode="side" opened>
                        <div class="top_admin_menu">
                            <mat-list-item role="listitem" class="matlist pointer menuitem logo">
                                <div class="logo"><img src="assets/images/admin/admin-logo-orange.png"></div>
                            </mat-list-item>
                            <mat-list-item role="listitem" class="add">
                                <div>
                                    <div class="add common-menu">
                                        <img src="/assets/images/admin/add.png">
                                    </div>
                                </div>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <div class="common-menu"><img src="/assets/images/admin/admin-menu-bag.png"></div>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <div class="common-menu"><img src="/assets/images/admin/admin-menu-calendar.png">
                                </div>
                            </mat-list-item>
                        </div>
                    </mat-drawer>
                    <mat-drawer-content class="main-admin-drawer">
                        <div class="row mx-0 h-100 w-100">
                            <router-outlet #outlet="outlet"></router-outlet>
                        </div>
                    </mat-drawer-content>
                </mat-drawer-container>
            </div>
        </main>
        right drawer menu code comment
    </mat-drawer-content>
</mat-drawer-container>

-->