@import url('https://fonts.googleapis.com/css?family=Poppins');

.main-container{
    width: 100vw;
    height: 100vh;
}
.app-title{
  font-size: 16px;
  font-family: Poppins, Regular;
  background-color: #02316E;
}
.left-side-container{
    width: 120px;
    background-color: #04397F;
}

.right-toolbar{
    font-size: 14px;
    font-family: Poppins, Regular;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 12px #00000014;
  }

  .user-image-icon{
      width: 35px;
      height: 35px;
      border-radius: 30px;
      background-color: #04397F;
  }

// .add-btn{
//     width: 10px;
//     border-radius: 10%;
//     background-color: #fff;
// }

.setting-btn{
    position: absolute;
    bottom: 30px;
    left: 0px;
}