@import url('https://fonts.googleapis.com/css?family=Poppins');
.main-container {
    width: 100vw;
    height: 100vh;
    font-family: Poppins, Regular;
}

// mat-icon{
//     font-size: 30px;
// }
.circle-icon {
    width: 25px;
    height: 25px;
    color: white;
    background-color: #007BFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 30px;
}

.plus-sign {
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}

.left-side-container .icon {
    width: 25px;
    height: 25px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.active-icon {
    border-right: 3px solid skyblue;
    opacity: 1 !important;
}

.company-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px 0px;
    // padding: 15px 0px;
    .company-img {
        width: 45px;
    }
    opacity: 1 !important;
}

.company-logo {
    padding: 15px 0px;
}

.app-title {
    font-size: 18px;
    font-family: Poppins, Regular;
    background-color: #02316E;
    padding: 0px 5px;
    height: 60px;
}

.main-menu {
    height: calc(100vh - 115px);
    overflow-y: scroll;
}

.add-btn {
    border-radius: 50px;
}

.left-side-container {
    width: 80px;
    background-color: #04397F;
}

.left-side-container img {
    width: 35%
}

// .add-btn{
//     width: 10px;
//     border-radius: 10%;
//     background-color: #fff;
// }
.setting-btn {
    position: absolute;
    bottom: 0px;
    left: 0%;
    background-color: #04397f;
    padding-bottom: 40px !important;
}

.common-menu {
    padding: 20px;
    display: block;
}

.common-icon {
    opacity: 0.5;
    display: inline-grid;
}

.right-toolbar {
    font-size: 16px;
    background-color: #ffffff;
    position: fixed;
    width: calc(100% - 80px);
    z-index: 9999;
    padding: 10px 35px;
    box-shadow: 0px 0px 12px #00000014;
    height: 60px;
    &.business_toolbar {
        width: 100%;
    }
}
// .right-toolbar-content{height: calc(100vh - 60px);}
.modal-lg {
    max-width: 1050px !important;
    margin: 0px !important;
    border: none !important;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}

.selected-boxoffice-btn-main {
    display: table;
    margin: 0 auto;
}

.modal-content .modal-header {
    border: none !important;
}

.modal-content .modal-header .heading {
    margin-bottom: 0px !important;
}

.user-image-icon {
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.head-dropdown {
    border: none;
    width: 170px;
}

::ng-deep .main-menu-tooltip {
    background: #FF8800;
}

.bottom_admin_menu {
    position: absolute;
    width: 100%;
    height: 55px;
    bottom: 0;
    background-color: #04397f;
}


//Import Files

::ng-deep .file-upload {
    background-color: #ffffff;
    
    margin: 0 auto;
    padding: 20px;
    .image-upload-wrap {
    margin-top: 20px;
    border: 2px dashed #03a9f4;
    position: relative;
    padding: 30px 0;
    .fileuploadinput {
       position: absolute;
       margin: 0;
       padding: 0;
       width: 100%;
       height: 100%;
       outline: none;
       opacity: 0;
       cursor: pointer;
    }
    }
    .drag-text {
    text-align: center;
    h6{
    font-size: 18px;
    }
    h3{
    font-size: 14px;
    }
    }
    .imgbtn{
    margin: 15px auto;
    display: table;
    padding:8px 16px;
    border-radius: 50px;
    }
    
    }
    
    .profile-img-wrap{
     border-radius: 100%;
    height: 120px;
    max-width: 120px;
    overflow: hidden;
    position: relative;
    transition: 0.3s all;
    cursor: pointer;
    &:hover .camera-alt{
    transition: 0.3s all;
     display: flex;
    }
    .customer-profile-img{
         width: 100%;
         height: 100%;
    }
    .camera-alt{
     display: none;
    position: absolute;
    top: 0;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background-color: #00000070;
    justify-content: center;
    align-items: center;
    i{
     font-size: 45px;
     width: auto;
     color: #ffffff;
    }
    }
    }
    ::ng-deep .upload-preview-img{
    max-width: 200px;
    margin: 0 auto;
    display: table;
    }
