    @import "variables";
    @import "my-customer.css";
    html,
    body {
        height: 100%;
        font-family: Poppins, sans-serif !important;
        color: #333;
    }
    
    body {
        margin: 0;
    }