@import url('https://fonts.googleapis.com/css?family=Poppins');
.main {
    font-family: Poppins, Regular;
    
}

.box {
    max-width: 31%;
    height: 100px;
    border-radius: 5px;
    color: white;
    .btn-head {
        font-size: 24px;
    }
}

.mat-blue {
    background-color: #973c56;
    color: #ffffff;
}

.mat-dull {
    background-color: #ffe6c8;
    color: #000000;
}
.biiling-link{
    color: #FE6A4D !important;
}
.billing-box{
    background-color: #E2F3F3;
    color: #000;
    .btn-head {
        font-weight: 500;
    }
}