
<div class="signin-main" id="sign-in">
    <div class="row sign-up mx-0 h-100">
        <div class="signup-left col-md-7">
            <div class="logo-image">
                <img src="/assets/images/login/logo-black.png" class="logo-img" alt="">
            </div>

            <div class="user-details">
                <div>
                    <div class="signup-head text-center">
                        <h5>SIGN UP</h5>
                        <p>Sign up Lorem ipsum is a dummy text used for design industry.</p>
                        <h6>Already have an account?<a href="" routerLink="/login"> Log in</a></h6>
                    </div>
                    <div class="signup-details">
                        <form [formGroup]="signUpForm">
                            <div class="input-group">
                                <div class="field-list">
                                    <span class="">
                                        <mat-icon class="login-icon">person_outline</mat-icon>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Full name" />
                                </div>
                                <span class="error-wrap" *ngIf="signUpForm.get('firstname').dirty || signUpForm.get('firstname').touched"><small *ngIf="signUpForm.get('firstname').hasError('required')" class="error text-left ml-4">Full name is required.</small></span>
                            </div>
                            <div class="input-group">
                                <div class="field-list">
                                    <span class="">
                                        <mat-icon class="login-icon">mail_outline</mat-icon>
                                    </span>
                                    <input type="text" class="form-control" formControlName="email" placeholder="Email address" />
                                </div>
                                <span class="error-wrap" *ngIf="signUpForm.get('email').dirty || signUpForm.get('email').touched"><small *ngIf="signUpForm.get('email').hasError('required')" class="error text-left ml-4">Email is required.</small><small *ngIf="signUpForm.get('email').hasError('pattern')" class="error">Enter valid email.</small><small *ngIf="signUpForm.get('email').hasError('isEmailUnique')" class="error">Email is already exists.</small></span>
                            </div>
                            <div class="input-group">
                                <div class="field-list">
                                    <span class="">
                                        <mat-icon class="login-icon">lock</mat-icon>
                                    </span>
                                    <input type="password" class="form-control" formControlName="password" placeholder="Create Password"  [type]="hide ? 'password' : 'text'" />
                                    <mat-icon class="hide-show-pswd pointer" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </div>
                                <span class="error-wrap" *ngIf="signUpForm.get('password').dirty || signUpForm.get('password').touched"><small *ngIf="signUpForm.get('password').hasError('required')" class="error text-left ml-4">Password is required.</small><small *ngIf="signUpForm.get('password').hasError('minlength') || signUpForm.get('password').hasError('maxlength')" class="error">Password should  minimum 8 maximum 12 characters.</small></span>    
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" formControlName="description" id="" rows="3" placeholder="How did you hear about us?"></textarea>
                            </div>
                            <mat-checkbox class="" (change)="fnChangeTermsPrivacyCheck($event.checked)">I accept terms and conditions & Privacy Policy</mat-checkbox>
                            <span class="error-wrap" *ngIf="!termsCheckbox">
                            <small *ngIf="!termsCheckbox" class="error"> Check the Privacy Policy.</small></span>
                            <div>
                                <button mat-raised-button (click)="fnSignUp()" class="signup-btn">SIGN UP</button>
                            </div>
                        </form>
                    </div>                
             </div>
            
        </div>
    </div>
        <div class="col-md-5 signup-right">
            <img src="/assets/images/login/sigup.png" class="signup-image" alt="">
        </div>
  </div>
</div>