@import url('https://fonts.googleapis.com/css?family=Poppins');
.main {
    font-family: Poppins, Regular;
}

.add-event-button {
    background-color: #1172F4;
    color: #fff;
    border-radius: 30px;
}

.event-title {
    color: #007BFF;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}

.pagination-class {
    text-align: center;
    display: inline-block;
    .page-item.active .page-link {
        color: #fff !important;
    }
}

.mat-elevation-z8 {
    .btn-content {
        position: relative;
    }
    .toggle-btn {
        width: 35px;
        height: 35px;
        border-radius: 30px;
        background-color: #ABE6FD;
    }
    .event-option {
        width: 170px;
        display: none;
        position: absolute;
        top: 100%;
        left: -80%;
    }
    .event-option:hover {
        display: block;
    }
    .toggle-btn:hover+.event-option {
        display: block;
    }
}

.events.comm-back {
    background: white;
    padding: 16px;
}

.page-title {
    font-size: 20px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

::ng-deep .event-tabs {
    .mat-tab-labels {
        padding: 0 20px;
        .mat-tab-label {
            opacity: 1;
        }
    }
}

// .code-tab{
// }  
::ng-deep .fa-asterisk {
    color: #FF0000;
    font-size: 5px;
    position: relative;
    bottom: 6px;
}

 ::ng-deep .fa-question {
    // background: #e8e8e8;
    border-radius: 50%;
    font-size: 9px;
    padding: 3px 5px;
    background: #CECECE;
    opacity: 0.47;
    margin-left: 5px;
}

::ng-deep .events {
    .mat-select-trigger {
        line-height: 1.5;
    }
    .mat-select-trigger {
        .mat-select-value {
            color: #fff;
        }
        .mat-select-arrow-wrapper {
            .mat-select-arrow {
                color: #fff;
            }
        }
    }
}

 ::ng-deep .code-tab .mat-tab-header {
    margin-bottom: 20px;
    border: none;
    text-align: left;
}

 ::ng-deep .code-tab .mat-ink-bar {
    background: #1172F4;
    height: 3px;
    border-radius: 10px;
}

 ::ng-deep .mat-tab-label {
    font-size: 16px;
}

 ::ng-deep .mat-tab-label-active {
    color: #007BFF;
}

.events.service-listing {
    .drageble-list {
        width: 100%;
        border-top: solid 1px #DDDDDD;
        display: block;
        background: white;
        border-radius: 4px;
        overflow: hidden;
        font-size: 14px;
        font-weight: 400;
        height: calc(100vh - 255px);
        overflow-y: scroll;
    }
    .main-heading-content {
        border-top: solid 1px #DDDDDD;
        padding: 8px 3rem;
        align-items: center;
        font-size: 14px;
        color: #595959;
        div {
            font-weight: 500;
            font-size: 16px;
        }
    }
    .drageble-box {
        align-items: center;
        border-bottom: 1px solid #ccc5c5;
        padding: 0 3rem;
    }
    .tb-data {
        padding: 18px 0px;
        color: #595959;
    }
    .cpn-title {
        color: #181818;
    }
    .cpn-code {
        color: #1172F4;
    }
    .cpn-bor {
        // color: #ffffff;
        padding: 2px 15px;
        border-radius: 10px;
    }
    .action-icon {
        color: #007BFF;
        border-radius: 50%;
        padding: 16px 16px;
        background: #ABE6FD;
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 30px;
    }
}

.ticket-available-unavailabel {
    width: 49%
}

.tax-input {
    width: 48%;
}

.tax-add-btn {
    color: #1172F4;
}

::ng-deep .popover-body {
    padding: 0px !important;
}

.date-and-time {
    width: 38%;
    display: flex;
}

::ng-deep .matDate {
    position: relative;
}

::ng-deep .dateIcon {
    position: absolute;
}

::ng-deep .matInputdate {
    padding-left: 40px;
}

::ng-deep .venue-info {
    width: 32%;
}

.after-save-general-admission {
    background-color: #CEE6FF;
    font-weight: bold;
    .ticket-status {
        color: #007BFF;
    }
    .tickets-main-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

::ng-deep .donation-field {
    width: 49%;
    .fa-question-circle {
        color: #CECECE;
    }
}

.event-images {
    width: 100px;
    height: 70px;
    background-color: #CEE6FF;
    display: inline-block;
    border-radius: 5px;
    p {
        color: #2C2C2C;
    }
    .fa-cloud-upload {
        color: #007BFF;
    }
    .fa-ban {
        color: #2C2C2C;
    }
    &.active-image {
        border: 3px solid #195bf3;
    }
}

.create-ticket-types {
    button {
        background-color: #1172F4;
        color: #ffffff;
    }
    .add-ticket-notification {
        background-color: #CEE6FF;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .fa-bell {
        transform: rotate(-45deg);
        color: #FF6600;
    }
    .delete-btn {
        background-color: #fff;
        color: #212529;
    }
}

.event-setting-btn {
    .cancel-btn {
        background-color: #E1E1E1;
    }
    .save-btn {
        background-color: #1172F4;
        color: #ffffff;
    }
}

::ng-deep .cancel-btn {
    background-color: #E1E1E1;
    outline: none;
}

 ::ng-deep .save-btn {
    background-color: #1172F4;
    color: #ffffff;
}

.add-new-event {
    .add-new-event-form {
        margin: 0 6rem;
        width: calc(100% - 12rem);
        label {
            font-size: 15px;
            font-weight: 500;
        }
    }
}

.status-select {
    border-radius: 50px;
    font-size: 12px;
}

::ng-deep .popover {
    border: none;
    .popover-body {
        padding: 0px !important;
        color: #595959;
        box-shadow: 0px 0px 12px #007bff26;
        border-radius: 6px;
        .border-bottom {
            border-bottom: 1px solid #7070701a !important;
            padding: 5px 0px;
            cursor: pointer;
        }
    }
}

 ::ng-deep .bs-popover-bottom>.arrow::before,
.bs-popover-auto[x-placement^=bottom]>.arrow::before {
    border-bottom-color: transparent;
}

::ng-deep .mat-common-radius {
    .mat-select {
        height: 32px;
        line-height: 1.2;
        border-radius: 30px;
        border: none;
        .mat-select-trigger {
            .mat-select-value {
                color: #fff;
            }
            .mat-select-arrow-wrapper {
                .mat-select-arrow {
                    color: #fff;
                }
            }
        }
    }
}

.event-settings {
    border-bottom: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.sales-tax-container {
    border-top: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

// ::ng-deep .mat-dialog-container {
//          padding: 0px !important;
// }
.delete-tax {
    align-items: center;
    display: flex;
    margin-left: 10px;
    mat-icon {
        padding: 5px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        color: red;
    }
}

.event-status-select.status-select {
    font-size: 14px;
}

.page-sub-title {
    font-size: 16px;
    font-weight: 600;
}

::ng-deep .dialog-title {
    font-size: 18px;
    font-weight: 500;
}