<div class="bg-white sub-container">
    <div *ngIf="addNewEvents" class="main bg-white">
        <div class="row mx-0 p-3">
            <div class="font-weight-bold page-title">
                Events
            </div>

            <div class="ml-auto pr-3">
                <button (click)="addNewEvents=!addNewEvents" mat-flat-button class="add-event-button px-5">Add Next Event</button>
            </div>
        </div>

        <div class="row mx-0 code-tab">
            <mat-tab-group class="col-sm-12 col-12 col-lg-12 col-md-12 col-xl-12 float-left p-0 event-tabs">
                <mat-tab label="Upcoming Events (2)" class="">
                    <div class="service-listing events">
                        <div class="main-table-content main-cust-table-content">
                            <div class="">
                                <div class="heads main-heading-content drageble py-3" fxLayout="row">
                                    <div class="" fxFlex="25">Events</div>
                                    <div class="" fxFlex="20">Status</div>
                                    <div class="" fxFlex="13">Sold</div>
                                    <div class="" fxFlex="15">Remaining</div>
                                    <div class="" fxFlex="17">Revenue</div>
                                    <div class="" fxFlex="10">Action</div>
                                </div>

                                <div class="content" class="drageble-list">
                                    <div class="drageble-box" cdkDrag fxLayout="row" *ngFor="let element of upcomingEventData">
                                        <div class="tb-data " fxFlex="25"> <a routerLink="/super-admin/single-event-dashboard/"> {{element.event}} </a> <br> Mon Jul 27, 2020</div>
                                        <div class="tb-data" fxFlex="20">
                                            <select (onChange)="$event.target.value"
                                            [ngStyle]="{'background-color': 'statusColor'}">
                                            <option *ngFor="let st of status" 
                                                  [ngStyle]="{'background': st.value}" Value="st.value"> 
                                                  {{st.status}}
                                            </option>
                                       </select>
                                            <!-- <span class="cpn-bor" [ngStyle]="{'backgroundColor':element.status === 'Draft' ? '#85938D' : '#52C03B' }">{{element.status}}<i class="fa fa-angle-down pl-2"></i></span> -->
                                        </div>
                                        <div class="tb-data" fxFlex="13">{{element.sold}}</div>
                                        <div class="tb-data" fxFlex="15">{{element.remaining}}</div>
                                        <div class="tb-data" fxFlex="17">{{element.revenue}}</div>
                                        <div class="tb-data" fxFlex="10">
                                            <mat-icon [ngbPopover]="popContent" placement="bottom"  aria-hidden="false" aria-label="Example home icon" class="action-icon">more_horiz</mat-icon>
                                            <!-- <i class="fa fa-ellipsis-h action-icon" aria-hidden="true"></i> -->
                                            <ng-template class="popover" #popContent>
                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-eye mr-2"></i><span>View event page</span>
                                                </div>

                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-bar-chart-o mr-2"></i><span>Event Summary</span>
                                                </div>

                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-pencil mr-2"></i><span>Edit event & Tickets</span>
                                                </div>

                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-shopping-bag mr-2"></i><span>Orders</span>
                                                </div>

                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-copy mr-2"></i><span>Duplicate</span>
                                                </div>

                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-trash mr-2"></i><span>Delete</span>
                                                </div>

                                                </ng-template>

                                        </div>
                                   </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </mat-tab>
                <mat-tab label="Past Events (0)">
                    <div class="service-listing events">
                        <div class="main-table-content main-cust-table-content">
                            <div class="">
                                <div class="heads main-heading-content drageble py-3" fxLayout="row">
                                    <div class="" fxFlex="25">Events</div>
                                    <div class="" fxFlex="20">Status</div>
                                    <div class="" fxFlex="13">Sold</div>
                                    <div class="" fxFlex="15">Remaining</div>
                                    <div class="" fxFlex="17">Revenue</div>
                                    <div class="" fxFlex="10">Action</div>
                                </div>

                                <div class="content" class="drageble-list">
                                    <div class="drageble-box" cdkDrag fxLayout="row" *ngFor="let element of pastEventData">
                                        <div class="tb-data" fxFlex="25"><a href="#"> {{element.event}} </a> <br> Mon Jul 27, 2020</div>
                                        <div class="tb-data" fxFlex="20"><span class="cpn-bor" [ngStyle]="{'backgroundColor':element.status === 'Draft' ? '#85938D' : '#52C03B' }">{{element.status}}<i class="fa fa-angle-down pl-2"></i></span></div>
                                        <div class="tb-data" fxFlex="13">{{element.sold}}</div>
                                        <div class="tb-data" fxFlex="15">{{element.remaining}}</div>
                                        <div class="tb-data" fxFlex="17">{{element.revenue}}</div>
                                        <div class="tb-data" fxFlex="10">
                                            <mat-icon [ngbPopover]="popContent" placement="bottom"  aria-hidden="false" aria-label="Example home icon" class="action-icon">more_horiz</mat-icon>
                                            <!-- <i class="fa fa-ellipsis-h action-icon" aria-hidden="true"></i> -->
                                            <ng-template class="popover" #popContent>
                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-eye mr-2"></i><span>View event page</span>
                                                </div>

                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-bar-chart-o mr-2"></i><span>Event Summary</span>
                                                </div>

                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-pencil mr-2"></i><span>Edit event & Tickets</span>
                                                </div>

                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-shopping-bag mr-2"></i><span>Orders</span>
                                                </div>

                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-copy mr-2"></i><span>Duplicate</span>
                                                </div>

                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-trash mr-2"></i><span>Delete</span>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>


    <!-- ----------------------------------Add new events form------------------------------------------ -->


    <div *ngIf="!addNewEvents" class="add-new-event p-3 bg-white">
        <div class="col-12 py-3 page-title">
            <mat-icon (click)="addNewEvents=!addNewEvents" class="mr-3 pointer">west</mat-icon><span>Add New Events</span>
        </div>

        <div class="add-new-event-form">
            <div class="px-5 py-3 border rounded bg-light">
                <div class=" py-2 font-weight-bold">
                    <div>Add event info</div>
                </div>

                <form [formGroup]="addEventForm">
                    <label for=""> Event Name</label>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="event_name" placeholder="Enter the name of your event">
                    </div>


                    <div class="row mx-0">
                        <div class=" col-4">
                            <label for="">Starts</label>
                            <div class="form-group">
                                <input type="date" formControlName="event_start_date" class="col-8 form-control d-inline-block">
                                <input type="time" formControlName="event_start_time" class="col-4 form-control d-inline-block ">
                            </div>
                        </div>

                        <div class=" col-4">
                            <label for="">Ends</label>
                            <div class="form-group">
                                <input type="date" formControlName="event_end_date" class=" col-8 form-control d-inline-block">
                                <input type="time" formControlName="event_end_time" class="col-4 form-control d-inline-block">
                            </div>
                        </div>
                        <div class=" col-5">
                            <button class="btn btn-primary">Save</button>
                        </div>

                    </div>
                </form>

            </div>

            <div class="px-5 py-3 mt-3 border rounded create-ticket-types bg-light">
                <div class=" py-2 font-weight-bold">
                    <div>Create ticket types</div>
                </div>
                <div class="mt-2">
                    <button mat-flat-button (click)="openAddNewTicketTypeDialog()" class="mr-1">Add a new ticket type</button>
                    <button mat-flat-button (click)="openAddNewTicketGroupDialog()" class="ml-1">Add a new ticket group</button>
                </div>

                <div class="p-3 mt-3 add-ticket-notification rounded">
                    <i class="fa fa-bell mr-3"></i><span>Click the <b>Add a new ticket type</b> button above to add a ticket to your event.</span>
                </div>

            </div>

            <div class="px-5 py-3 mt-3 border rounded event-settings bg-light">
                <div class=" py-2 font-weight-bold">
                    <div>Event Settings</div>
                </div>

                <label for="">Timezone</label>
                <div class="form-group ">
                    <select name="" id="" class="form-control col-8">
    <option value="">(GMT+05:30)Colcutta</option>
    </select>
                </div>

                <div class="form-group">
                    <input type="checkbox" class="from-control mr-2"> Allow customers to make a donation
                    <!-- <mat-checkbox class="form-control">123</mat-checkbox> -->
                </div>

                <label for="">Customise the text that appears on the event button and in the title of the event page</label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Book Tickets">
                </div>

                <div class=" py-2 font-weight-bold">
                    <div>Advance Settings</div>
                </div>

                <div class="row mx-0">
                    <div class="col-6">
                        <label for="">Tickets become availables</label>
                        <div class="form-group">
                            <select name="" id="" class="form-control">
    <option value="">When the event is published</option>
    <option value="">At a scheduled date and time</option>
    <option value="">At a scheduled interval before the event starts</option>
    </select>
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="">Tickets become unavailables</label>
                        <div class="form-group">
                            <select name="" id="" class="form-control">
    <option value="">When the event is taken off, or the event passes</option>
    <option value="">At a scheduled date and time</option>
    <option value="">At a scheduled interval before the event starts</option>
    </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="checkbox" class="from-control mr-2"> Redirect order confirmation page
                    <!-- <mat-checkbox class="form-control">123</mat-checkbox> -->
                </div>

                <label for="">Redirect to URL</label>
                <div class="form-group">
                    <input type="text" class="form-control col-6" placeholder="https://yourwebsitename.com/order-complete">
                </div>

                <div class="form-group">
                    <input type="checkbox" class="from-control mr-2"> Hide this event from your box office listings and search engines.
                    <!-- <mat-checkbox class="form-control">123</mat-checkbox> -->
                </div>

                <div class="form-group">
                    <input type="checkbox" class="from-control mr-2"> Customers need to enter an access code to buy tickets for this event
                    <!-- <mat-checkbox class="form-control">123</mat-checkbox> -->
                </div>

                <label for="">Access Code</label>
                <div class="form-group">
                    <input type="text" class="form-control col-6">
                </div>

                <div class="form-group">
                    <input type="checkbox" class="from-control mr-2"> Hide share button on event page.
                    <!-- <mat-checkbox class="form-control">123</mat-checkbox> -->
                </div>

                <div class="form-group">
                    <input type="checkbox" class="from-control mr-2"> Set custom sales tax for this event
                    <!-- <mat-checkbox class="form-control">123</mat-checkbox> -->
                </div>


                <div class="row mx-0">
                    <div class="col-6">
                        <label for="">Sales tax amounts</label>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="0.00%">
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="">Sales tax label</label>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="VAT">
                        </div>
                    </div>
                </div>

            </div>

            <div class="py-3 mt-3 event-setting-btn text-right">
                <button (click)="fnAddNewEventsForm()" mat-flat-button class="cancel-btn mr-2">Cancel</button>
                <button mat-flat-button class="save-btn ml-2 px-3">Save Event</button>
            </div>

        </div>
    </div>
</div>