<div id="events" class="bg-white sub-container">
    <div class="loader-main" *ngIf="isLoaderAdmin"><img src="../../../assets/loading-spinner.gif" /></div>
    <div *ngIf="addNewEvents" class="bg-white">
        <div class="row mx-0 p-3">
            <div class="font-weight-bold page-title">
                Events
            </div>

            <div class="ml-auto pr-3">
                <button (click)="addNewEvents=!addNewEvents" mat-flat-button class="add-event-button px-5">Add Next Event</button>
            </div>
        </div>

        <div class="row mx-0 code-tab">
            <mat-tab-group (selectedTabChange)="onTabChange($event)" class="col-sm-12 col-12 col-lg-12 col-md-12 col-xl-12 float-left p-0 event-tabs">
                <mat-tab label="Upcoming Events (2)" class="">
                    <div class="service-listing events">
                        <div class="main-table-content main-cust-table-content">
                            <div class="">
                                <div class="heads main-heading-content drageble py-3" fxLayout="row">
                                    <div class="" fxFlex="25">Events</div>
                                    <div class="" fxFlex="20">Status</div>
                                    <div class="" fxFlex="13">Sold</div>
                                    <div class="" fxFlex="15">Remaining</div>
                                    <div class="" fxFlex="17">Revenue</div>
                                    <div class="" fxFlex="10">Action</div>
                                </div>

                                <div class="content" class="drageble-list">
                                    <div class="drageble-box" fxLayout="row" *ngFor="let element of allEventListData">
                                        <div class="tb-data " fxFlex="25"> <a routerLink="/super-admin/single-event-dashboard/"> {{element.event_title}} </a> <br> Mon Jul 27, 2020</div>
                                        <div class="tb-data mat-common-radius" fxFlex="20">
                                            <mat-select [(value)]="element.event_status" class="form-control event-status-select" [ngStyle]="{'backgroundColor':element.event_status === 'draft' ? '#85938D' : '#52C03B'}">
                                                <mat-option value="draft">Draft</mat-option>
                                                <mat-option value="published">Published</mat-option>
                                            </mat-select>
                                            <!-- <span class="cpn-bor" [ngStyle]="{'backgroundColor':element.status === 'Draft' ? '#85938D' : '#52C03B' }">{{element.status}}<i class="fa fa-angle-down pl-2"></i></span> -->
                                        </div>
                                        <div class="tb-data" fxFlex="13">0</div>
                                        <div class="tb-data" fxFlex="15">100</div>
                                        <div class="tb-data" fxFlex="17">300</div>
                                        <div class="tb-data" fxFlex="10">
                                            <mat-icon [ngbPopover]="popContent" placement="bottom" aria-hidden="false" aria-label="Example home icon" class="action-icon">more_horiz</mat-icon>
                                            <!-- <i class="fa fa-ellipsis-h action-icon" aria-hidden="true"></i> -->
                                            <ng-template class="popover custom-popover" #popContent>
                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-eye mr-2"></i><span>View event page</span>
                                                </div>

                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-bar-chart-o mr-2"></i><span>Event Summary</span>
                                                </div>

                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-pencil mr-2"></i><span>Edit event & Tickets</span>
                                                </div>

                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-shopping-bag mr-2"></i><span>Orders</span>
                                                </div>

                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-copy mr-2"></i><span>Duplicate</span>
                                                </div>

                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-trash mr-2"></i><span>Delete</span>
                                                </div>

                                            </ng-template>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </mat-tab>
                <mat-tab label="Past Events (0)">
                    <div class="service-listing events">
                        <div class="main-table-content main-cust-table-content">
                            <div class="">
                                <div class="heads main-heading-content drageble py-3" fxLayout="row">
                                    <div class="" fxFlex="25">Events</div>
                                    <div class="" fxFlex="20">Status</div>
                                    <div class="" fxFlex="13">Sold</div>
                                    <div class="" fxFlex="15">Remaining</div>
                                    <div class="" fxFlex="17">Revenue</div>
                                    <div class="" fxFlex="10">Action</div>
                                </div>

                                <div class="content" class="drageble-list">
                                    <div class="drageble-box" fxLayout="row" *ngFor="let element of allEventListData">
                                        <div class="tb-data " fxFlex="25"> <a routerLink="/super-admin/single-event-dashboard/"> {{element.event_title}} </a> <br> Mon Jul 27, 2020</div>
                                        <div class="tb-data mat-common-radius" fxFlex="20">
                                            <mat-select [(value)]="element.event_status" class="form-control event-status-select" [ngStyle]="{'backgroundColor':element.event_status === 'draft' ? '#85938D' : '#52C03B'}">
                                                <mat-option value="draft">Draft</mat-option>
                                                <mat-option value="published">Published</mat-option>
                                            </mat-select>
                                        </div>
                                        <div class="tb-data" fxFlex="13">0</div>
                                        <div class="tb-data" fxFlex="15">100</div>
                                        <div class="tb-data" fxFlex="17">300</div>
                                        <div class="tb-data" fxFlex="10">
                                            <mat-icon [ngbPopover]="popContent" placement="bottom" aria-hidden="false" aria-label="Example home icon" class="action-icon">more_horiz</mat-icon>
                                            <!-- <i class="fa fa-ellipsis-h action-icon" aria-hidden="true"></i> -->
                                            <ng-template class="popover custom-popover" #popContent>
                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-eye mr-2"></i><span>View event page</span>
                                                </div>

                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-bar-chart-o mr-2"></i><span>Event Summary</span>
                                                </div>

                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-pencil mr-2"></i><span>Edit event & Tickets</span>
                                                </div>

                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-shopping-bag mr-2"></i><span>Orders</span>
                                                </div>

                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-copy mr-2"></i><span>Duplicate</span>
                                                </div>

                                                <div class="px-3  border-bottom">
                                                    <i class="fa fa-trash mr-2"></i><span>Delete</span>
                                                </div>

                                            </ng-template>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>


    <!-- ----------------------------------Add new events form------------------------------------------ -->


    <div *ngIf="!addNewEvents" class="add-new-event p-3 bg-white">
        <div class="col-12 py-3 page-title">
            <mat-icon (click)="addNewEvents=!addNewEvents" class="mr-3 pointer">west</mat-icon><span>Add New Events</span>
        </div>

        <div class="add-new-event-form">

            <form [formGroup]="addEventForm" class="with-validation">
                <div class="px-5 py-3 border rounded bg-light">
                    <div class=" py-2 font-weight-bold">
                        <div>Add event info</div>
                    </div>
                    <label for=""> Event Name</label>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="event_name" placeholder="Enter the name of your event">
                        <span class="error-wrap" *ngIf="addEventForm.get('event_name').touched || addEventForm.get('event_name').dirty">
                            <small *ngIf="addEventForm.get('event_name').hasError('required')" class="error">Event Name is required.</small>
                        </span>
                    </div>


                    <div class="row mx-0">
                        <div class=" date-and-time">
                            <label for="">Starts</label>
                            <div class="form-group">
                                <input (dateChange)="fnChangeEventStartDate()" (click)="event_start_date_picker.open()" [min]="minEventStartDate" [matDatepicker]="event_start_date_picker" type="text" formControlName="event_start_date" class="col-7 form-control d-inline-block" placeholder="DD/MM/YY">
                                <span style="left:0" class="error-wrap" *ngIf="addEventForm.get('event_start_date').touched || addEventForm.get('event_start_date').dirty">
                                    <small *ngIf="addEventForm.get('event_start_date').hasError('required')" class="error">Event Start Date is required.</small>
                                </span>
                                <mat-datepicker #event_start_date_picker></mat-datepicker>
                                <mat-select formControlName="event_start_time" class="col-4 ml-2 form-control d-inline-block">
                                    <option></option>
                                </mat-select>
                                <span style="left:0" class="error-wrap offset-7 pl-2" *ngIf="addEventForm.get('event_start_time').touched || addEventForm.get('event_start_time').dirty">
                                    <small *ngIf="addEventForm.get('event_start_time').hasError('required')" class="error">Event Start Time is required.</small>
                                </span>
                            </div>
                        </div>

                        <div class=" date-and-time ml-2">
                            <label for="">Ends</label>
                            <div class="form-group">
                                <input (click)="event_end_date_picker.open()" [min]="minEventEndDate" [matDatepicker]="event_end_date_picker" type="text" formControlName="event_end_date" class=" col-7 form-control d-inline-block" placeholder="DD/MM/YY">
                                <mat-datepicker #event_end_date_picker></mat-datepicker>
                                <span style="left:0" class="error-wrap" *ngIf="addEventForm.get('event_end_date').touched || addEventForm.get('event_end_date').dirty">
                                    <small *ngIf="addEventForm.get('event_end_date').hasError('required')" class="error">Event End Date is required.</small>
                                </span>
                                <!-- <input type="time" formControlName="event_end_time" class="col-4 ml-2 form-control d-inline-block"> -->
                                <mat-select formControlName="event_end_time" class="col-4 ml-2 form-control d-inline-block">
                                    <option></option>
                                </mat-select>
                                <span style="left:0" class="error-wrap offset-7 pl-2" *ngIf="addEventForm.get('event_end_time').touched || addEventForm.get('event_end_time').dirty">
                                    <small *ngIf="addEventForm.get('event_end_time').hasError('required')" class="error">Event End Time is required.</small>
                                </span>
                            </div>
                        </div>

                        <div class="w-100" *ngIf="olPlatForm == 'N'">
                            <div class="row m-0">
                                <div class="venue-info">
                                    <label for="">Venue Name</label>
                                    <div class="form-group">
                                        <input formControlName="vanue_name" type="text" class="form-control" placeholder="e.g. Blues Star">
                                    </div>
                                </div>

                                <div class="venue-info ml-2">
                                    <label for="">Venue postalcode / Zip</label>
                                    <div class="form-group">
                                        <input formControlName="vanue_zip" type="text" class="form-control" placeholder="e.g. 400001">
                                    </div>
                                </div>

                                <div class="venue-info ml-2">
                                    <label for="">Venue Country</label>
                                    <div class="form-group">
                                        <mat-select formControlName="vanue_country" class="form-control">
                                            <mat-option *ngFor="let allCountry of allCountry; let i=index" value="{{allCountry.id}}">{{allCountry.name}}</mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="w-100" *ngIf="olPlatForm == 'Y'">
                            <div class="row m-0">
                                <div class="venue-info">
                                    <label for="">Platform</label>
                                    <div class="form-group">
                                        <mat-select formControlName="online_platform" class="form-control" placeholder="Please select platform">
                                            <mat-option value="Z">Zoom</mat-option>
                                            <mat-option value="GH">Google Hangout</mat-option>
                                            <mat-option value="YU">Youtube</mat-option>
                                            <mat-option value="HP">Hopin</mat-option>
                                            <mat-option value="VM">Vimeo</mat-option>
                                            <mat-option value="SKY">Skype</mat-option>
                                            <mat-option value="OTH">Other</mat-option>
                                        </mat-select>
                                    </div>
                                </div>

                                <div class="venue-info ml-2">
                                    <label for="">Online event link (Can be added later)</label>
                                    <div class="form-group">
                                        <input formControlName="online_link" type="text" class="form-control">
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="w-100">
                            <div class="form-group">
                                <!-- <input type="checkbox" class="from-control mr-2"> This is on online event -->
                                <mat-checkbox class="" (change)="fnolPlatform($event)">This is on online event</mat-checkbox>
                            </div>
                        </div>

                        <label class="w-100" for="">Description</label>
                        <div class="form-group">
                            <ck-editor formControlName="description" skin="moono-lisa" language="en" [fullPage]="true">
                            </ck-editor>
                            <span class="error-wrap" *ngIf="addEventForm.get('description').touched || addEventForm.get('description').dirty">
                                <small *ngIf="addEventForm.get('description').hasError('required')" class="error">Description is required.</small>
                            </span>
                        </div>

                        <label class="w-100" for="">Choose or upload an images</label>
                        <div class="row">
                            <img [ngClass]="{'active-image':eventImageType == 'defaultImage'}" (click)="fnSelectImage('defaultImage'); fnSelectDefaultImage()" src="../../../assets/images/events/image 1.jpg" class="event-images m-2" alt="">
                            <div [ngClass]="{'active-image':eventImageType == 'newUploadImage'}" (click)="fnSelectImage('newUploadImage'); fnUploadEventImage()" class="event-images m-2 text-center pointer">
                                <i class="fa fa-cloud-upload fa-2x pt-2 "></i>
                                <p>Upload</p>
                            </div>
                            <div [ngClass]="{'active-image':eventImageType == 'noImage'}" (click)="fnSelectImage('noImage')" class="event-images m-2 text-center pointer">
                                <i class="fa fa-ban fa-2x pt-2 "></i>
                                <p>No image</p>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="px-5 py-3 mt-3 border rounded create-ticket-types bg-light">
                    <div class=" py-2 font-weight-bold">
                        <div>Create ticket types</div>
                    </div>
                    <div class="mt-2">
                        <button mat-flat-button (click)="openAddNewTicketTypeDialog()" class="mr-1">Add a new ticket type</button>
                        <button mat-flat-button (click)="openAddNewTicketGroupDialog()" class="ml-1">Add a new ticket group</button>
                    </div>

                    <div *ngIf="eventTicketAlertMSG" class="p-3 mt-3 add-ticket-notification rounded">
                        <i class="fa fa-bell mr-3"></i><span>Click the <b>Add a new ticket type</b> button above to add a ticket to your event.</span>
                    </div>

                    <div *ngFor="let eventTicketList of eventTicketList; let i=index;" class="after-save-general-admission p-3 mt-2 rounded">
                        <div class="row m-0">
                            <div>
                                {{eventTicketList.ticket_name}}
                            </div>
                            <div class="ticket-status ml-auto">
                                <div class="d-inline-block ">
                                    <i class="fa fa-ticket fa-lg mr-2"></i><span>0 Ticket Sold</span>
                                </div>
                                <div class="d-inline-block ml-2">
                                    <i class="fa fa-ticket fa-lg mr-2"></i><span>200 Tickets Remaining</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="after-save-general-admission p-3 mt-2 rounded">
                        <div class="row m-0">
                            <div>
                                General Admission
                            </div>
                            <div class="ticket-status ml-auto">
                                <div class="d-inline-block">
                                    <i class="fa fa-ticket fa-lg mr-2"></i><span>0 Ticket Sold</span>
                                </div>
                                <div class="d-inline-block ml-3">
                                    <i class="fa fa-ticket fa-lg mr-2"></i><span>200 Tickets Available</span>
                                </div>
                            </div>
                            <div class="w-100 mt-2">
                                <input type="text" class="form-control p-3" placeholder="To add ticket to this group, select this group name when adding or editing tickets.">
                            </div>
                        </div>
                    </div> -->

                </div>

                <div class="px-5 py-3 mt-3 border rounded event-settings bg-light">
                    <div class=" py-2 font-weight-bold">
                        <div>Event Settings</div>
                    </div>

                    <label for="">Timezone</label>
                    <div class="form-group ">
                        <mat-select formControlName="timezone" class="form-control col-8 d-block">
                            <mat-option *ngFor="let allTimeZone of allTimeZone; let i=index" value="{{allTimeZone.id}}">({{allTimeZone.utc}}){{allTimeZone.name}}</mat-option>
                        </mat-select>
                        <span class="error-wrap" *ngIf="addEventForm.get('timezone').touched || addEventForm.get('timezone').dirty">
                            <small *ngIf="addEventForm.get('timezone').hasError('required')" class="error">Timezone is required.</small>
                        </span>
                    </div>

                    <div class="form-group">
                        <!-- <input type="checkbox" class="from-control mr-2"> Allow customers to make a donation -->
                        <mat-checkbox (change)="fnChangeDonation($event)" [checked]="false">Allow customers to make a donation</mat-checkbox>
                    </div>

                    <div class="w-100" *ngIf="donation == 'Y'">
                        <div class="row m-0">
                            <div class="donation-field mt-2">
                                <label for="">Donation title <span class="text-danger">*</span></label>
                                <input formControlName="donation_title" type="text" class="form-control" placeholder="Please make a donation">
                                <span class="error-wrap" *ngIf="addEventForm.get('donation_title').touched || addEventForm.get('donation_title').dirty">
                                    <small *ngIf="addEventForm.get('donation_title').hasError('required')" class="error">Donation title is required.</small>
                                </span>
                            </div>
                            <div class="donation-field ml-auto mt-2">
                                <label for="">Suggested donation amount <i class="fa fa-question-circle"></i></label>
                                <input formControlName="donation_amount" type="text" class="form-control" placeholder="0.00">
                            </div>
                            <div class="donation-field mt-2">
                                <label for="">Donation desciption <i class="fa fa-question-circle"></i></label>
                                <input formControlName="donation_description" type="text" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="mt-2">
                        <label for="">Customise the text that appears on the event button and in the title of the event page</label>
                        <div class="form-group">
                            <input formControlName="book_btn_title" type="text" class="form-control" placeholder="Book Tickets">
                            <span class="error-wrap" *ngIf="addEventForm.get('book_btn_title').touched || addEventForm.get('book_btn_title').dirty">
                                <small *ngIf="addEventForm.get('book_btn_title').hasError('required')" class="error">Button title is required.</small>
                            </span>
                        </div>
                    </div>


                    <div class=" py-2 font-weight-bold">
                        <div>Advance Settings</div>
                    </div>

                    <div class="row mx-0">
                        <div class="ticket-available-unavailabel">
                            <label for="">Tickets become availables</label>
                            <div class="form-group">
                                <mat-select class="form-control d-block" formControlName="ticket_available">
                                    <mat-option value="PB">When the event is published</mat-option>
                                    <mat-option value="SDT">At a scheduled date and time</mat-option>
                                    <mat-option value="SIB">At a scheduled interval before the event starts</mat-option>
                                </mat-select>
                                <span class="error-wrap" *ngIf="addEventForm.get('ticket_available').touched || addEventForm.get('ticket_available').dirty">
                                    <small *ngIf="addEventForm.get('ticket_available').hasError('required')" class="error">Tickets availablity is required.</small>
                                </span>
                            </div>
                        </div>

                        <div class="ticket-available-unavailabel ml-auto">
                            <label for="">Tickets become unavailables</label>
                            <div class="form-group">
                                <mat-select class="form-control d-block" formControlName="ticket_unavailable">
                                    <mat-option value="TOS">When the event is taken off, or the event passes</mat-option>
                                    <mat-option value="SDT">At a scheduled date and time</mat-option>
                                    <mat-option value="SIB">At a scheduled interval before the event starts</mat-option>
                                </mat-select>
                                <span class="error-wrap" *ngIf="addEventForm.get('ticket_unavailable').touched || addEventForm.get('ticket_unavailable').dirty">
                                    <small *ngIf="addEventForm.get('ticket_unavailable').hasError('required')" class="error">Tickets unavailablity is required.</small>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- <input type="checkbox" class="from-control mr-2"> Redirect order confirmation page -->
                        <mat-checkbox (change)="fnRedirectURL($event)" [checked]="false">Redirect order confirmation page</mat-checkbox>
                    </div>

                    <div *ngIf="redirectURL == 'Y'">
                        <label for="">Redirect to URL</label>
                        <div class="form-group">
                            <input formControlName="redirect_url" type="text" class="form-control col-6" placeholder="https://yourwebsitename.com/order-complete">
                        </div>
                    </div>


                    <div class="form-group">
                        <!-- <input type="checkbox" class="from-control mr-2"> Hide this event from your box office listings and search engines. -->
                        <mat-checkbox (change)="fnHideEventSearch($event)">Hide this event from your box office listings and search engines.</mat-checkbox>
                    </div>

                    <div class="form-group">
                        <!-- <input type="checkbox" class="from-control mr-2"> Customers need to enter an access code to buy tickets for this event -->
                        <mat-checkbox (change)="fnAccessCode($event)" [checked]="false">Customers need to enter an access code to buy tickets for this event</mat-checkbox>
                    </div>

                    <div *ngIf="accessCode == 'Y'">
                        <label for="">Access Code</label>
                        <div class="form-group">
                            <input formControlName="access_code" type="text" class="form-control col-6">
                        </div>
                    </div>


                    <div class="form-group">
                        <!-- <input type="checkbox" class="from-control mr-2"> Hide share button on event page. -->
                        <mat-checkbox (change)="fnShareButtonStatus($event)">Hide share button on event page.</mat-checkbox>
                    </div>

                    <div class="form-group">
                        <!-- <input type="checkbox" class="from-control mr-2"> Set custom sales tax for this event -->
                        <mat-checkbox (change)="fnCustomSalesTax($event)" [checked]="false">Set custom sales tax for this event</mat-checkbox>
                    </div>


                </div>
            </form>
            <div class="px-5 py-3 border rounded sales-tax-container bg-light">
                <div *ngIf="customSalesTax == 'Y'">
                    <div class="row mx-0">

                        <!-- <div class="tax-input">
                    <label for="">Sales tax amounts</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="0.00%">
                    </div>
                </div>

                <div class="tax-input ml-auto">
                    <label for="">Sales tax label</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="VAT">
                    </div>
                </div> -->
                        <!-- <form [formGroup]="customSalesTaxForm">
                            <div class=" w-100" formArrayName="arr" *ngFor="let a of customSalesTaxForm.get('customSalesTaxArr').controls; let i = index">
                                <div [formGroupName]="i" class="row m-0">
                                    <div class="tax-input">
                                        <label for="">Sales tax amounts</label>
                                        <div class="form-group">
                                            <input formControlName="amount" type="text" class="form-control" placeholder="0.00%">
                                        </div>
                                    </div>

                                    <div class="tax-input ml-auto">
                                        <label for="">Sales tax label</label>
                                        <div class="form-group">
                                            <input formControlName="label" type="text" class="form-control" placeholder="VAT">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form> -->
                        <!-- <div class="w-100">
                            <div (click)="fnSalesTaxAdd()" class="tax-add-btn">
                                <i class="fa fa-plus-circle"></i><span class="ml-2">Add Tax</span>
                            </div>

                        </div> -->

                    </div>
                </div>
            </div>

            <div class="py-3 mt-3 event-setting-btn text-right">
                <button (click)="fnCancelNewEvent()" mat-flat-button class="cancel-btn mr-2">Cancel</button>
                <button (click)="fnAddNewEvent()" mat-flat-button class="save-btn ml-2 px-3">Save Event</button>
            </div>
        </div>
    </div>
</div>