@import url('https://fonts.googleapis.com/css?family=Poppins');
.main{
    font-family: Poppins, Regular;
}
.search-bar{
    font-family: Poppins, Regular;
    border:1px solid #CECECE;
    input{
        width: 97%;
        background-color: transparent;
        border: none;
        outline: none;
    }   
    i{
        width: 3%;
    }
}

    .btn-content{
        position: relative;
    }
    .toggle-btn{
        width: 35px;
        height: 35px;
        border-radius: 30px;
        background-color: #ABE6FD;
    }    
    .event-option{
        width: 170px;
        display:none;
        position: absolute;
        top: 100%;
        left: -200%;    
    }
    .event-option:hover{
        display: block;
    }
    .toggle-btn:hover + .event-option{
       display:block;
    }
    .page-title{
        font-family: Poppins, Regular;
        font-size: 18px;   
    }

    .sub-title{
        font-family: Poppins, Regular;
    }

    .events.comm-back{
        background: white;
        padding: 16px;
    }
       
        // .code-tab{
           
        // }   
            
            ::ng-deep .code-tab .mat-tab-header{
                margin-bottom: 20px;
                border:none;
                text-align: left;
            }
            ::ng-deep .code-tab .mat-ink-bar{
                background: #1172F4;
                height: 3px;
                border-radius: 10px;
            }
            ::ng-deep .mat-tab-label{
                font-size: 16px;
            }
            ::ng-deep .mat-tab-label-active{
                color: #007BFF;
            }
            
            .events.service-listing{
                         
                .drageble-list {
                    width: 100%;
                    border-top: solid 1px #DDDDDD;
                    display: block;
                    background: white;
                    border-radius: 4px;
                    overflow: hidden;
                    font-size: 14px;
                    font-weight: 500;
                }
               .main-heading-content{
                    border-top: solid 1px #DDDDDD;
                    padding: 8px 0px;
                    align-items: center;                
                    font-size: 14px;
                    color: #595959;
                }
                .drageble-box{
                    align-items: center;
                    border-bottom: 1px solid #ccc5c5;
                }
                .tb-data{
                    padding: 18px 0px;
                    color: #595959;
                }
                .cpn-title{
                    color: #181818;
                }
                .cpn-code{
                    color: #1172F4;
                }
                .cpn-bor{
                    color: #ffffff;
                
                }
                .action-icon{
                    color: #007BFF;
                    border-radius: 50%;
                    padding: 16px 16px;
                    background: #ABE6FD;
                    width: 32px;
                    height: 32px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    font-size: 30px;
                }
            }       
        
    