<div class="main bg-white sub-container order">
    <div class="col-12">
        <div class="row">
            <div class="font-weight-bold page-title">
                Orders
            </div>
        </div>
    </div>
    <div class="col-12 mt-3 manage-order">
        <div class="manage-order-details">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="sub-title font-weight-bold">
                            Manage
                        </div>
                
                        <div class="ml-auto ">
                            <button mat-flat-button class=" px-3 mr-2 bg-primary text-light" (click)="exportOredr()">Export orders</button>
                            <button mat-flat-button class=" px-3 ml-2 bg-primary text-light" (click)="addNewOredr()">Add new order</button>         
                        </div>
                    </div>
                </div>
    
                <div class="col-12 searchbox p-0 search-bar rounded">
                    <i class="fa fa-search p-2 pl-3"></i>
                    <input matInput type="text" class="p-2 pl-0" placeholder="Search by name, email, transaction id, or ticket code">   
                </div>
                <div class="col-12 p-0 order-event">
                    <div class="d-inline-block mr-3">
                        <label class="mb-0">Event</label>
                        <div>
                            <select class="form-control bg-transparent">
                                <option>All Events</option>
                                <option>Lajavab Cooking Classes (Mon 17 Jun 2020)</option>
                                <option>Dracula Drink (Mon 17 Jun 2020)</option>
                                <option>The Ladies Kitty Party  (Mon 17 Jun 2020)</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="d-inline-block mx-3">
                        <label class="mb-0">Order date form</label>
                        <div>
                            <input type="date" class="form-control bg-transparent">
                        </div>
                    </div>
                    
                    <div class="d-inline-block mx-3">
                        <label class="mb-0">Order date to</label>
                        <div>
                            <input type="date" class="form-control bg-transparent">
                        </div>
                    </div>
                    
                   <div class="d-inline-block ml-3">
                        <label class="mb-0">Order Status</label>
                        <div>
                            <select class="form-control bg-transparent">
                                <option>All Orders</option>
                                <option>Completed ordes</option>
                                <option>Pending orders</option>
                                <option>Cancelled orders</option>
                                <option>Complete order</option>
                            </select>
                        </div>
                   </div> 
                    
                </div>
                
            </div>
        </div>

        <div class="events ">
          <div class="service-listing">
            <div class="main-table-content main-cust-table-content ">
                <div class="">
                    <div class="heads main-heading-content drageble py-3" fxLayout="row">
                        <div class="ml-5" fxFlex="10">Order ID</div>
                        <div class="" fxFlex="10">Status</div>
                        <div class="" fxFlex="13">Name</div>
                        <div class="" fxFlex="15">Date / Time</div>
                        <div class="" fxFlex="32">Event</div>
                        <div class="" fxFlex="10">Value</div>
                        <div class="" fxFlex="10">Action</div>
                    </div>
                   
                  <div class="drageble-list">
                      <div class="drageble-box"  fxLayout="row" *ngFor="let element of orderData">
                          <div class="tb-data ml-5 " fxFlex="10"> <a href="" class="text-dark"> {{element.orderid}} </a></div>
                          <div class="tb-data" fxFlex="10"><span class="cpn-bor" [ngStyle]="{'color':element.status === 'Completed' ? '#2BB800' : '#FF0000' }">{{element.status}}</span></div>
                          <div class="tb-data" fxFlex="13">{{element.name}}</div>
                          <div class="tb-data" fxFlex="15">{{element.datetime}}</div>
                          <div class="tb-data" fxFlex="32">{{element.event}}</div>
                          <div class="tb-data" fxFlex="10">{{element.value}}</div>
                          <div class="tb-data" fxFlex="10">
                            <mat-icon [ngbPopover]="popContent" placement="bottom"  aria-hidden="false" aria-label="Example home icon" class="action-icon">more_horiz</mat-icon>
                            <!-- <i class="fa fa-ellipsis-h action-icon" aria-hidden="true"></i> -->
                            <ng-template class="popover" #popContent>
                                <div class="px-3  border-bottom">
                                    <i class="fa fa-repeat mr-2"></i><span>Resend</span>
                                </div>

                                <div class="px-3  border-bottom">
                                    <i class="fa fa-pencil mr-2"></i><span>Edit</span>
                                </div>

                                <div class="px-3  border-bottom">
                                    <i class="fa fa-ticket mr-2"></i><span>Download Tickets</span>
                                </div>

                                <div class="px-3  border-bottom">
                                    <i class="fa fa-times-circle mr-2"></i><span>Cancel</span>
                                </div>

                            </ng-template>
                          </div>
                      </div>
                    </div>
                </div>

            </div>
        </div>
        </div>        
    </div>
</div>