.dialog_button {
    float: right !important;
}

::ng-deep .mat-dialog-container {
    padding: 0;
}

#confirmation_dialog {
    .yes-btn {
        width: 130px;
        height: 37px;
        border-radius: 29px;
        background-color: #1172f4;
        color: white;
    }
    .cancel-btn {
        width: 130px;
        height: 37px;
        border-radius: 29px;
        background-color: #9b9b9b;
        color: white;
    }
}