.page-title{
    font-size: 16px;
}
button{
    background-color: #007BFF;
    color: #fff;
}

.card-header{
    background-color: #92C7FF !important;
    font-size: 16px;
}
.card-body{
    background-color: #F6FAFF;
}
.card-footer{
    background-color: #92C7FF !important;
}

.card-footer .poweredby{
    opacity: 0.3;
}

.card-footer .poweredby p{
font-size: 11px;
}
.card-footer .poweredby .web-title{
    font-size: 22px;
}
    
.html-code-div{
    height: 150px;
    overflow: auto;
}
.color-code{
    background-color: #E2E2E2;
}
.bg-color-code{
    width: 20px;
    height: 20px;
    background-color: #A207A8;
    border-radius: 2px;
}
.text-color-code{
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 2px;
}

.header-color-code{
    width: 20px;
    height: 20px;
    background-color: #E72586;
    border-radius: 2px;
}
.header-text-color-code{
    width: 20px;
    height: 20px;
    background-color: #F3F3F3;
    border-radius: 2px;
}

.btn-color-code{
    width: 20px;
    height: 20px;
    background-color: #49DD54;
    border-radius: 2px;
}
.btn-text-color-code{
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 2px;
}
.preview-example{
    background-color: #F6FAFF;
}
.ticket-header{
    background-color: #92C7FF;
    border-radius: 10px 10px 0px 0px;
}

.ticket-footer{
    background-color: #92C7FF;
    border-radius: 0px 0px 10px 10px;
}
.ticket-table-title{
    background-color: #DCECFF;
}

.save-btn, .next-btn, .edit-btn {
    background-color: #007BFF;
    color:#ffffff;
}


.poweredby{
    opacity: 0.3;
}

.poweredby p{
font-size: 11px;
}
.poweredby .web-title{
    font-size: 22px;
}