<div class="bg-white">
    <div class="main main-work-area">
        <div class="rowmx-auto">
            <div class="col-12  ml-2 mt-2">
                <div class="font-weight-bold page-title">
                    <div class="form-group">
                        Privacy  policy             
                    </div>
                </div>
                <label for="">Add your privacy policy below. This explains to your customers how you will use the data that you collect from them. There will be a link to this from the footer of your box office.</label>
                
            </div> 
        </div>

    <div class="row mx-auto mt-3">
            <div class="col-12 pb-2 font-weight-bold ">Update privacy policy
                <i class="fa fa-question-circle ml-2"  matTooltip="Info about the action" aria-hidden="true"></i> 
            </div>
        <div class="col-10 mb-5 ckeditor">
            <ck-editor name="editor1" 
                skin="moono-lisa" 
                language="en" [fullPage]="true">
            </ck-editor>
                <!-- <div *ngIf="myckeditor.invalid && myckeditor.touched" class="help-block">Required field.</div> -->
         </div>
            <!-- <button [disabled]="myForm.invalid" class="btn btn-primary">Save</button> -->
            <!-- <div [innerHTML]="mycontent"></div> -->
    </div>
    
    <div class="row mx-auto mt-5">
            <div class="main-privacy-text col-10 ml-3 bg alert-info box text-dark">
                    <div class="">
                    <span class="material-icons notification-icon mr-2">
                        notifications
                        </span>
                    </div>
                        <div class="">
                        <p class=" mb-1 font-weight-bold"> Do you need a privacy policy?</p>
                    <p class=""> We have a created a free tool for you to create a custom privacy policy specific to your requirements.</p>
                        <a routerLink="#" class=""><u> Use our free privacy policy generator.</u></a>
                </div>
                </div>        
        </div>        
    </div>
    <div class="footer-action-btn">
        <div class="can-save">
            <button mat-raised-button class="cancel-btn">Cancel</button>
            <button mat-raised-button class="save-btn">Save</button>
        </div>
    </div>
</div>