<div class="main bg-white p-4 ml-2 sub-container">
    <div class="row">
        <div class="col-12 mt-2">
        <div class="font-weight-bold page-title">
        Privacy Policy
        </div>
        <label for="">Add your privacy policy below. This explains to your customers how you will use the data that you collect from them. There will be a link to this from the footer of your box office.</label>
        </div> 
    </div>

    <div class="row mt-3">
        <div class="col-12 pb-3 ">Update privacy policy
            <i class="fa fa-question-circle ml-2"  matTooltip="Info about the action" aria-hidden="true"></i>
           
        </div>
        <div class="col-12">
            <script src="../../node_modules/ckeditor4-angular/esm5/ckeditor.js"></script>
            <script>
                CKEDITOR.replace( 'editor' );
            </script>
       </div>
    </div>
    
    <div class="row mb-3">
        <div class="col-10 ml-3 bg alert-info box">
         <div class="form-group mt-1">
              <p class="ml-4">  Do you need a privacy policy?</p>
              <label for="" class="ml-4">We have a created a free tool for you to create a custom privacy policy specific to your requirements.</label> 
            <div class="bell-infomation">
           <span class="material-icons notification-icon">
            notifications
            </span>
          
           </div>
        </div>
        </div>
    </div>

    <div class="row bottom">
        <hr class="col-12   ">
        <div class="pull-right col-12 mt-2">
        <button mat-flat-button class="save float-right mx-2">Save</button>
        <button mat-flat-button class="cancel float-right mx-2">Cancel</button>                 
        
        </div>
      </div>

</div>