
 .bottom{
    margin-top: 40vh;

        .cancel{
            background-color:#C0C0C0;
            color:#000000;
        }
        .save{
            background-color: #1172F4;
            color:#ffffff;  
        }
 }

 .notification-icon{
    transform: matrix(0.87, -0.48, 0.48, 0.87, 0, 0);
    color: #FF6600;
 }

 .bell-infomation{
     margin-top: --50pxpx;
 }
 