<div class="col-6">
    <div class="py-3 font-weight-bold">
        Preview
    </div>
    <div class="card border-0">
        <div class="card-header py-4 font-weight-bold">
            Sparkling Events
        </div>
        <div class="card-body pb-5">
            There are no events listed at the moment. Please check back soon.
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-8">
                    <span>Need help, lost your tickets, and have any questions? <a href="#">Click here for help</a></span>
                </div>
                <div class="col-4 text-center poweredby">
                    <p class="m-0">Powered by</p>
                    <p class="web-title">Eventjio</p>
                </div>
            </div>
        </div>
    </div>
</div>