.mat-blue{
    background-color: #1172F4;
    color:#ffffff;
}

.void-btn{
    background-color: red;
    color: white;
    border-radius: 5px;
}
.search-bar{
    font-family: Poppins, Regular;
    border:1px solid #CECECE;
    input{
        
        background-color: transparent;
        border: none;
        outline: none;
    }   
    
}
.mat_content{
  background-color:#F6F6F645;
}

.matDate{
    
    position:relative;
}
.dateIcon{
     position: absolute;
}
.matInputdate{
    padding-left: 40px;
}

.events{
    padding-bottom: 30px;
.service-listing{
             
    .drageble-list {
        width: 100%;
        border-top: solid 1px #DDDDDD;
        display: block;
        // background: white;
        // border-radius: 4px;
        overflow: hidden;
        font-size: 14px;
        font-weight: 500;
    }
   .main-heading-content{
        border-top: solid 1px #DDDDDD;
        padding: 8px 0px;
        align-items: center;                
        font-size: 14px;
        color: #595959;
    }
    .drageble-box{
        align-items: center;
        // border-bottom: 1px solid #ccc5c5;
    }
    .tb-data{
        padding: 15px 0px;
        color: #595959;
    }
    .cpn-title{
        color: #181818;
    }
    .cpn-code{
        color: #1172F4;
    }
    .cpn-bor{
        color: #ffffff;
        // padding: 2px 15px; 
        border-radius: 10px;
    }
    .void-btn{
        border-radius: 5px;
        line-height: 24px;
        margin-left: 12px;
    }
    .action-icon{
        color: #007BFF;
        border-radius: 50%;
        padding: 16px 16px;
        background: #ABE6FD;
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 30px;
    }
}
}

