<div class="main">
    <div class="loader-main" *ngIf="isLoaderAdmin"><img src="../../../assets/loading-spinner.gif" /></div>
    <div class="modal-header pl-3 py-0 border-0">
        <p class="font-weight-bold">Add New Ticket Type</p>
        <button type="button" data-dismiss="modal" aria-label="Close" (click)="onNoClick()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="addTicketForm">
            <div class="row">
                <div class="col-7">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Ticket Name</label>
                            <div class="form-group">
                                <input type="text" formControlName="title" class="form-control" placeholder="General Adminssion">
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="">Price</label>
                            <div class="form-group">
                                <input type="text" formControlName="price" class="form-control" placeholder="0.00">
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="">Quantity</label>
                            <div class="form-group">
                                <input type="text" formControlName="qty" class="form-control" placeholder="General Adminssion">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- <input type="checkbox" class="from-control mr-2"> Show advance settings -->
                        <mat-checkbox>Show advance settings</mat-checkbox>
                    </div>

                    <label for="">Description</label>
                    <div class="form-group">
                        <input type="text" formControlName="description" class="form-control" placeholder="General Admission">
                    </div>


                    <div class="row">
                        <div class="col-6">
                            <label for="">Booking Fee</label>
                            <div class="form-group">
                                <input type="text" formControlName="fee" class="form-control" placeholder="0.00">
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="">Status</label>
                            <div class="form-group" class="form-group">
                                <mat-select formControlName="status" id="" class="form-control">
                                    <mat-option value="OS">On Sale</mat-option>
                                    <mat-option value="H">Hidden</mat-option>
                                    <mat-option value="ACR">Access code required</mat-option>
                                    <mat-option value="DSO">Display as sold out</mat-option>
                                    <mat-option value="DU">Display as unavailable</mat-option>
                                    <mat-option value="OVA">Only visoble to admin</mat-option>
                                </mat-select>
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="">Min per order</label>
                            <div class="form-group">
                                <input formControlName="min_order" type="text" class="form-control" placeholder="1">
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="">Max per order</label>
                            <div class="form-group">
                                <input formControlName="max_order" type="text" class="form-control" placeholder="20">
                            </div>
                        </div>

                    </div>

                </div>




                <div class="col-5">

                    <div class="form-group mt-4">
                        <!-- <input type="checkbox" class="from-control mr-2"> Hide untill a set date and time -->
                        <label>Hide untill a set date and time</label>
                    </div>

                    <div class="form-group">
                        <div class="matDate w-50 d-inline-block">
                            <mat-datepicker-toggle matPrefix [for]="hideDatePicker" class="dateIcon"> </mat-datepicker-toggle>
                            <input formControlName="until_date" type="text" matInput [matDatepicker]="hideDatePicker" (click)="hideDatePicker.open()" class="form-control matInputdate ">
                            <mat-datepicker #hideDatePicker></mat-datepicker>
                        </div>
                        <mat-select formControlName="until_time" class="col-4 ml-2 form-control d-inline-block">
                            <mat-option value="00:00"> 00:00</mat-option>
                        </mat-select>
                    </div>

                    <div class="form-group mt-4">
                        <!-- <input type="checkbox" class="from-control mr-2"> Hide untill a set date and time -->
                        <label for="">Hide untill a set available interval hours</label>
                    </div>

                    <div class="form-group ">
                        <mat-select formControlName="until_interval" class="form-control w-50">
                            <mat-option value="1">1</mat-option>
                            <mat-option value="2">2</mat-option>
                            <mat-option value="3">3</mat-option>
                            <mat-option value="4">4</mat-option>
                            <mat-option value="5">5</mat-option>
                            <mat-option value="6">6</mat-option>
                            <mat-option value="7">7</mat-option>
                            <mat-option value="8">8</mat-option>
                            <mat-option value="9">9</mat-option>
                            <mat-option value="10">10</mat-option>
                            <mat-option value="11">11</mat-option>
                            <mat-option value="12">12</mat-option>
                        </mat-select> <span class="pl-2">/ Hours</span>
                    </div>


                    <div class="form-group">
                        <!-- <input type="checkbox" class="from-control mr-2"> Hide after a set date and time -->
                        <mat-checkbox>Hide after a set date and time</mat-checkbox>
                    </div>

                    <div class="form-group">
                        <div class="matDate w-50 d-inline-block">
                            <mat-datepicker-toggle matPrefix [for]="ticketIssuedDatePicker" class="dateIcon"> </mat-datepicker-toggle>
                            <input formControlName="after_date" type="text" matInput [matDatepicker]="ticketIssuedDatePicker" (click)="ticketIssuedDatePicker.open()" class="form-control matInputdate ">
                            <mat-datepicker #ticketIssuedDatePicker></mat-datepicker>
                        </div>
                        <!-- <input type="date" class="form-control col-6 mr-1 d-inline-block"> -->
                        <mat-select formControlName="after_time" class="col-4 ml-2 form-control d-inline-block">
                            <mat-option value="00:00"> 00:00</mat-option>
                        </mat-select>
                    </div>

                    <div class="form-group mt-4">
                        <!-- <input type="checkbox" class="from-control mr-2"> Hide untill a set date and time -->
                        <label>Hide untill a set unavailable interval hours</label>
                    </div>

                    <div class="form-group ">
                        <mat-select formControlName="after_interval" class="form-control w-50">
                            <mat-option value="1">1</mat-option>
                            <mat-option value="2">2</mat-option>
                            <mat-option value="3">3</mat-option>
                            <mat-option value="4">4</mat-option>
                            <mat-option value="5">5</mat-option>
                            <mat-option value="6">6</mat-option>
                            <mat-option value="7">7</mat-option>
                            <mat-option value="8">8</mat-option>
                            <mat-option value="9">9</mat-option>
                            <mat-option value="10">10</mat-option>
                            <mat-option value="11">11</mat-option>
                            <mat-option value="12">12</mat-option>
                        </mat-select> <span class="pl-2"> / Hours</span>
                    </div>

                    <div class="form-group">
                        <!-- <input type="checkbox" class="from-control mr-2"> Hide when sold out -->
                        <mat-checkbox>Hide when sold out</mat-checkbox>
                    </div>

                    <div class="form-group">
                        <!-- <input type="checkbox" class="from-control mr-2"> Show quantity  remaining on event page -->
                        <mat-checkbox>Show quantity remaining on event page</mat-checkbox>
                    </div>

                    <label for="">Discounts</label>
                    <div class="form-group">
                        <mat-checkbox *ngFor="let allCouponCodeList of allCouponCodeList; let i=index" (change)="fnAddCoupon($event,allCouponCodeList.id)">{{allCouponCodeList.coupon_title}}</mat-checkbox>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer border-0">
        <button mat-flat-button (click)="onNoClick()" class="cancel-btn mr-1">Cancel</button>
        <button mat-flat-button (click)="fnSubmitAddTicketForm()" class="save-btn ml-1">Save Ticket</button>
    </div>
</div>