<div class="modal-dialog modal-notify modal-info export-order modal-lg"  role="document" >
  <div class="modal-content ">
    <div class="modal-header modal-bcolor-primary px-0 pt-0">
      <p class="heading lead  work-content">Add new order</p>
      <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close" (click)="onNoClick()">
        <span aria-hidden="true" class="white-text">&times;</span>
      </button>
    </div>
      
    
    <div class="modal-body pb-0 px-0"> 
      <div class="new-order-table" *ngIf="addOrderFormType === 'selectTicket'">
        <div class="code-tab">
              <div class="service-listing">
                  <div class="main-table-content main-cust-table-content">
                      <div class="">
                          <div class="heads main-heading-content drageble" fxLayout="row">
                            <div class="th-data" fxFlex="10"></div> 
                            <div class="th-data" fxFlex="30">TICKET TYPE</div>                           
                            <div class="th-data" fxFlex="20">PRICE</div>
                            <div class="th-data" fxFlex="20">Fee</div>
                            <div class="th-data" fxFlex="20">QUANTITY</div>
                          </div>
                          <div class="content" class="drageble-list" *ngFor="let eventTicket of eventTicket;let i=index">
                            <div class="drageble-box" fxLayout="row">
                                <div class="tb-data" fxFlex="10">
                                  <mat-checkbox  (change)="fnBookTicket($event,i)" ></mat-checkbox>
                                </div>   
                                <div class="tb-data" fxFlex="30">{{eventTicket.ticket_name}}</div>                               
                                <div class="tb-data" fxFlex="20"><input type="hidden" class="form-control" >{{eventTicket.prize}}</div>
                                <div class="th-data" fxFlex="20">{{eventTicket.booking_fee}}</div>
                                <div class="tb-data" fxFlex="20">
                                  <input type="number"  class="form-control" (change)="fnAddQty(i,$event.target.value);" >      
                                </div>
                            </div>
                        </div>
                        <div class="content" class="drageble-list">
                          <div class="drageble-box" fxLayout="row">
                              <div class="tb-data fw-600" fxFlex="50">Subtotal</div>
                              <div class="tb-data" fxFlex="30"></div>
                              <div class="tb-data fw-600" fxFlex="20" >$ {{subTotal}}</div>
                          </div>
                      </div>
                      </div>
                  </div>
              </div>
              <div class="example-button-row ml-auto mt-4">
                <button mat-raised-button class="comm-btn d-flex ml-auto" (click)="fnTicketCheckout('checoutForm')">Next</button>
              </div>
            </div>
      </div>   
  </div>
  
  <form [formGroup]="bookTickets" class="with-validation checkout-form">
  <div *ngIf="addOrderFormType === 'checoutForm'">
    <h4 class="main-head">Checkout</h4>
    <div class="itemlist-table">
      <div class="service-listing">
        <div class="main-table-content main-cust-table-content">
            <div class="">
                <div class="heads main-heading-content drageble" fxLayout="row">
                    <div class="th-data" fxFlex="30">Item</div>
                    <div class="th-data" fxFlex="20">Price</div>
                    <div class="th-data" fxFlex="15">Fee</div>
                    <div class="th-data" fxFlex="15">Quantity</div>
                    <div class="th-data" fxFlex="20" class="align-end">Subtotal</div>
                </div>
                <div class="content" class="drageble-list">
                    <div class="drageble-box fw-600" fxLayout="row"  *ngFor="let eventTicket of eventTicket">
                        <div class="tb-data order-item fw-100" fxFlex="30" >{{eventTicket.ticket_name}}</div>
                        <div class="tb-data" fxFlex="20">{{eventTicket.prize}}</div>
                        <div class="tb-data" fxFlex="15">${{eventTicket.booking_fee}}</div>
                        <div class="tb-data" fxFlex="15"></div>
                        <div class="tb-data align-end" fxFlex="20">$</div>                        
                    </div>
                </div>     
                <div class="content" class="drageble-list">
                  <div class="drageble-box fw-600"  fxLayout="row">
                      <div class="tb-data fs-15 fw-600" fxFlex="35">Order Total</div>
                      <div class="tb-data" fxFlex="20"></div>
                      <div class="tb-data" fxFlex="15"></div>
                      <div class="tb-data" fxFlex="15"></div>
                      <div class="tb-data align-end fs-15" fxFlex="20">$</div>                        
                  </div>
              </div>  
              <div class="content" class="drageble-list">
                <div class="drageble-box fw-600"  fxLayout="row">
                      <div class="tb-data order-item fw-100" fxFlex="20">
                        
                      </div>       
                      <div class="tb-data" fxFlex="20"></div>  
                      <div class="tb-data" fxFlex="20">
                        <input type="text" class="form-control" name="discount">                                     
                      </div>  
                      <div class="tb-data" fxFlex="25"></div>
                      <div class="b-data align-end fs-15" fxFlex="15"></div>       
                </div>
            </div>             
            </div>

        </div>
      </div>
    </div>
    <div class="mt-2">
      <a href="https://www.google.com/" target="_blank" class="link p-0">Change your order</a>
    </div>
    <div class="mt-16">
      <div class="form-group">
        <label for="" class="main-head fw-600">Do you have a promo code?</label>
        <div class="row">
          <div class="col-10 pr-1">
              <input type="text" class="form-control" formControlName="promo_code" >
              <span class="error-wrap" *ngIf="bookTickets.get('promo_code').dirty || bookTickets.get('promo_code').touched"><small *ngIf="bookTickets.get('promo_code').hasError('required')" class="error text-left">Promo Code is required.</small><small *ngIf="bookTickets.get('promo_code').hasError('maxlength') || bookTickets.get('promo_code').hasError('minlength')" class="error">Promo Code Should be of 6 digits.</small></span>
          </div>
          <div class="col-2 pl-1">
            <button mat-raised-button class="ticket-btn comm-btn">Apply</button>
          </div>
      </div>
      </div>
      <div class="checkout mt-2">
        <label class="main-head mb-3 fw-600">Please complete the form below to checkout</label>
            <div class="form-group">
              <label for="">First Name <span><i class="fa fa-asterisk"></i></span> </label>
              <input type="text" class="form-control" id="" placeholder="" formControlName ="firstname">
              <span class="error-wrap" *ngIf="bookTickets.get('firstname').dirty || bookTickets.get('firstname').touched"><small *ngIf="bookTickets.get('firstname').hasError('required')" class="error text-left">First Name is required.</small></span>
            </div>
            <div class="form-group">
              <label for="">Last Name <span><i class="fa fa-asterisk"></i></span> </label>
              <input type="text" class="form-control" id="" placeholder="" formControlName ="lastname">
              <span class="error-wrap" *ngIf="bookTickets.get('lastname').dirty || bookTickets.get('lastname').touched"><small *ngIf="bookTickets.get('lastname').hasError('required')" class="error text-left">Last Name is required.</small></span>
            </div>
            <div class="form-group">
              <label for="">Email address <span><i class="fa fa-asterisk" aria-hidden="true"></i></span> </label>
              <input type="email" class="form-control" id="" placeholder="" formControlName ="email">
              <span class="error-wrap" *ngIf="bookTickets.get('email').dirty || bookTickets.get('email').touched"><small *ngIf="bookTickets.get('email').hasError('required')" class="error text-left">Email is required.</small><small *ngIf="bookTickets.get('email').hasError('pattern')" class="error">Enter valid email.</small><small *ngIf="bookTickets.get('email').hasError('isEmailUnique')" class="error">Email is already exists.</small></span>
            </div>
            <div class="form-group">
              <label for="">Repeat Email <span><i class="fa fa-asterisk" aria-hidden="true"></i></span> </label>
              <input type="email" class="form-control" id=""  placeholder="" formControlName = "repeat_email">
              <span class="error-wrap" *ngIf="bookTickets.get('repeat_email').dirty || bookTickets.get('repeat_email').touched"><small *ngIf="bookTickets.get('repeat_email').hasError('required')" class="error text-left">Email is required.</small><small *ngIf="bookTickets.get('repeat_email').hasError('required') && bookTickets.hasError('notSame')" class="error text-left ml-4">Confirm password is required.</small>
              <small *ngIf="!bookTickets.get('repeat_email').hasError('required') && bookTickets.hasError('notSame')" class="error text-left ml-4">emails do not match.</small></span>
            </div>
          <div class="form-group">
            <label for="">Mobile Phone Number <span><i class="fa fa-asterisk"></i></span> </label>
            <input type="text" class="form-control" id=""  placeholder="" formControlName = "phone">
             <span class="error-wrap" *ngIf="bookTickets.get('phone').dirty || bookTickets.get('phone').touched"><small *ngIf="bookTickets.get('phone').hasError('required')" class="error text-left">Phone Number is required.</small>
             <small *ngIf="bookTickets.get('phone').hasError('pattern') || bookTickets.get('phone').hasError('pattern') && (bookTickets.get('phone').hasError('maxlength') || bookTickets.get('phone').hasError('minlength'))" class="error">Phone Number Should in numbers</small>
             <small *ngIf="bookTickets.get('phone').hasError('maxlength') || bookTickets.get('phone').hasError('minlength')" class="error">Phone Number Should Minimum 6 and Maximum 15 digits.</small></span>
          </div>
          <div class="form-group">
            <label for="">Address Line 1 <span><i class="fa fa-asterisk" ></i></span> </label>
            <input type="text" class="form-control" id="" placeholder="" formControlName = "address_1">
            <span class="error-wrap" *ngIf="bookTickets.get('address_1').dirty || bookTickets.get('address_1').touched"><small *ngIf="bookTickets.get('address_1').hasError('required')" class="error text-left">Address is required.</small></span>
          </div>
          <div class="form-group">
            <label for="">Address Line 2 </label>
            <input type="text" class="form-control" id=""  placeholder="" formControlName = "address_2">
            <span class="error-wrap" *ngIf="bookTickets.get('address_2').dirty || bookTickets.get('address_2').touched"><small *ngIf="bookTickets.get('address_2').hasError('required')" class="error text-left">Address is required.</small></span>
          </div>
          <div class="form-group">
            <label for="">Address Line 3 </label>
            <input type="text" class="form-control" id=""  placeholder="" formControlName ="address_3">
            <span class="error-wrap" *ngIf="bookTickets.get('address_3').dirty || bookTickets.get('address_3').touched"><small *ngIf="bookTickets.get('address_3').hasError('required')" class="error text-left">Address is required.</small></span>
          </div>
          <div class="form-group">
            <label for="">Postcode <span><i class="fa fa-asterisk" ></i></span> </label>
            <input type="text" class="form-control" id=""  placeholder="" formControlName ="postcode">
            <span class="error-wrap" *ngIf="bookTickets.get('postcode').dirty || bookTickets.get('postcode').touched"><small *ngIf="bookTickets.get('postcode').hasError('required')" class="error text-left">Postcode is required.</small>
              <small *ngIf="bookTickets.get('postcode').hasError('pattern') || bookTickets.get('postcode').hasError('pattern') && (bookTickets.get('postcode').hasError('maxlength') || bookTickets.get('postcode').hasError('minlength'))" class="error">Postcode  Should be in numbers</small>
            </span>
          </div>
        </div>
      <div class="general-admission">
        <label class="main-head">General Admission 1</label>
           <div class="form-group">
            <label for="">Attendee name <span><i class="fa fa-asterisk" aria-hidden="true"></i></span> </label>
            <input type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="" formControlName ="attendee_name">
            <span class="error-wrap" *ngIf="bookTickets.get('attendee_name').dirty || bookTickets.get('attendee_name').touched"><small *ngIf="bookTickets.get('attendee_name').hasError('required')" class="error text-left">Attendee Name is required.</small></span>
           </div>
      </div>
    </div>
    <button mat-raised-button class="comm-btn d-flex ml-auto" (click)="fnTicketCheckout('book-order')">Next</button>
  </div>
</form>


  <div *ngIf="addOrderFormType === 'book-order'">
    <div class="book-order">
      <div class="row">
        <div class="col-md-8">
          <button mat-raised-button class="comm-btn mr-2" (click)="resendOrder()">Resend Ticket</button>
          <button mat-raised-button class="comg-btn mr-2"  (click)="editOrder()">Edit Order</button>
          <button mat-raised-button class="comg-btn mr-2" (click)="cancelOrder()">Cancel Order</button>
        </div>        
        <div class="print-order col-md-4 px-0">
          <a target="_blank" class=""><span class=""><mat-icon aria-hidden="false" aria-label="" class="link mr-2">print</mat-icon></span>Print order confirmation</a>
        </div>
      </div>
    </div>
    <div class="order-details">
      <div class="order-head row">
        <p>Order details</p>
        <a target="_blank" (click)="orderInvoice()" class="dwnld-invoice">Download invoice</a>
      </div>
      <div class="order-desc">
        <div class="row">
          <label class="col-md-4">Date / time of order:</label>
          <p class="col-md-8">Jul 22, 2020 4:29 pm</p>
        </div>
        <div  class="row">
          <label class="col-md-4">Payment method:</label>
          <p class="col-md-8">OPERATOR</p>
        </div>
        <div  class="row">
          <label class="col-md-4">Transaction ID:</label>
          <p class="col-md-8"></p>
        </div>
      </div>
      <div class="order-table">
        <div class="service-listing">
          <div class="main-table-content main-cust-table-content">
              <div class="">
                  <div class="heads main-heading-content drageble" fxLayout="row">
                    <div class="th-data" fxFlex="50">Item</div>
                    <div class="th-data" fxFlex="30">PRICE</div>
                    <div class="th-data" fxFlex="20">Fee</div>
                    <div class="th-data" fxFlex="30">Qty</div>
                    <div class="th-data" fxFlex="20">Subtotal</div>
                  </div>
                  <div class="content" class="drageble-list">
                    <div class="drageble-box" fxLayout="row">
                        <div class="tb-data" fxFlex="50">Mon 27 Jul: Lajawab Cooking Class</div>
                        <div class="tb-data" fxFlex="30"></div>
                        <div class="tb-data" fxFlex="20"></div>
                        <div class="tb-data" fxFlex="30"></div>
                        <div class="tb-data" fxFlex="20"></div>
                    </div>
                </div>
                <div class="content" class="drageble-list"  *ngFor="let eventTicket of eventTicket">
                  <div class="drageble-box fw-600" fxLayout="row">
                      <div class="tb-data order-item fw-100" fxFlex="50" >{{eventTicket.ticket_name}}</div>
                      <div class="tb-data" fxFlex="30">${{eventTicket.prize}}</div>
                      <div class="tb-data" fxFlex="20">${{eventTicket.booking_fee}}</div>
                      <div class="tb-data" fxFlex="30"></div>
                      <div class="tb-data align-end" fxFlex="30">$</div>                        
                  </div>
              </div>    
              <div class="content" class="drageble-list">
                <div class="drageble-box" fxLayout="row">
                    <div class="tb-data fw-600" fxFlex="50">Grand Total</div>
                    <div class="tb-data" fxFlex="30"></div>
                    <div class="tb-data" fxFlex="20"></div>
                    <div class="tb-data" fxFlex="30"></div>
                    <div class="tb-data fw-600" fxFlex="20">$</div>
                </div>
            </div>
              </div>
          </div>
        </div>

      </div>
    </div>

    <div class="buyer-details">
      <div class="buyer-head row">
        <p>Buyer details</p>
        <a href="#" target="_blank" class="dwnld-invoice"></a>
      </div>
      <div class="buyer-desc">
        <div class="row">
          <label class="col-md-4">Name:</label>
          <p class="col-md-8">Shabnam Ansari</p>
        </div>
        <div  class="row">
          <label class="col-md-4">E-mail:</label>
          <a href="#"  class="col-md-8" target="_blank">test@gmail.com</a>
        </div>
        <div  class="row">
          <label class="col-md-4">Transaction ID:</label>
          <p class="col-md-8">9819824470</p>
        </div>
        <div  class="row">
          <label class="col-md-4">Address:</label>
          <p class="col-md-8">lorem ipsum is a dummy text, lorem ipsum is a dummy text, lorem ipsum is a dummy text, 400101</p>
        </div>
      </div>
    </div>

    <div class="ticket-details">
      <div class="ticket-head row">
        <p>Ticket details</p>
        <a target="_blank" class="dwnld-invoice">Download ticket as PDF</a>
      </div>
      <div class="ticket-desc">
        <div class="row">
          <label class="col-md-4">Ticket code:</label>
          <a href="#" class="col-md-8" target="_blank">5h92H</a>
        </div>
        <div  class="row">
          <label class="col-md-4">Name:</label>
          <p class="col-md-8">cdxfdfdfd</p>
        </div>
        <div  class="row">
          <label class="col-md-4">Status:</label>
          <p class="col-md-8">Active</p>
        </div>
        <div  class="row">
          <label class="col-md-4">Ticket type:</label>
          <p class="col-md-8">General Admission</p>
        </div>
      </div>
    </div>

  </div>

  <!-- <div *ngIf="addOrderFormType === 'cancel-order'">
    <div class="cancel-order">
      <div class="col-md-12 px-0 cancel-warn">
        <div class="note-theme m-0">
            <div class="notification">
                <mat-icon aria-hidden="false" aria-label="" class="notif-icon">cancel</mat-icon>
            </div>
            <div>
                <p class="note-message">Cancelling the order will void all tickets and they won't appear on your door entry list. </p>
            </div>
        </div>
      </div>
      <div class="cancel-order-detail">
        <div class="order-det">
        <div  class="row">
          <label class="col-md-2">Order Id:</label>
          <p class="col-md-10">Lajawab Cooking Class [DRAFT]</p>
        </div>
        <div  class="row">
          <label class="col-md-2"> Event:</label>
          <p class="col-md-10"> Mon Jul 27, 2020 6:00 pm - 10:30 pm</p>
        </div>
        <div  class="row">
          <label class="col-md-2"> Name:</label>
          <p class="col-md-10"> Shabnam Ansari</p>
        </div>
        <div  class="row">
          <label class="col-md-2"> Email:</label>
          <p class="col-md-10"> test@gmail.com</p>
        </div>
      </div>
      
      <div class="cancel-order-note">
        <div class="form-group">
        <label for="">Please provide a reason for this cancellation below. This information will be added to the cancellation email sent to the customer <span><i class="fa fa-asterisk" aria-hidden="true"></i></span> </label>
          <textarea class="form-control" id="" rows="3"></textarea>
        </div>
      </div>

      <div class="order-cancel">
        <button mat-raised-button class="d-flex ml-auto order-cancel-btn" >Cancel This Order</button>
      </div>

    </div>
  </div>
 
  </div> -->
  </div>
</div>
