<div class="modal-dialog modal-notify modal-info export-order modal-lg"  role="document" >
  <div class="modal-content ">
    <div class="modal-header modal-bcolor-primary px-0 pt-0">
      <p class="heading lead  work-content">Add new order</p>
      <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close" (click)="onNoClick()">
        <span aria-hidden="true" class="white-text">&times;</span>
      </button>
    </div>
      
    <div class="modal-body pb-0 px-0"> 
      <div class="new-order-table" *ngIf="addOrderFormType === 'selectTicket'">
        <div class="code-tab">
              <div class="service-listing">
                  <div class="main-table-content main-cust-table-content">
                      <div class="">
                          <div class="heads main-heading-content drageble" fxLayout="row">
                            <div class="" fxFlex="50">TICKET TYPE</div>
                            <div class="" fxFlex="30">PRICE</div>
                            <div class="" fxFlex="20">QUANTITY</div>
                          </div>
                          <div class="content" class="drageble-list">
                            <div class="drageble-box" fxLayout="row">
                                <div class="tb-data" fxFlex="50">General Admission</div>
                                <div class="tb-data fw-600" fxFlex="30">$5,000.00</div>
                                <div class="tb-data" fxFlex="20">
                                  <div class="">
                                    <mat-select class="form-control select-qty" id="">
                                      <mat-option>1</mat-option>
                                      <mat-option>2</mat-option>
                                      <mat-option>3</mat-option>
                                      <mat-option>4</mat-option>
                                      <mat-option>5</mat-option>
                                    </mat-select>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="content" class="drageble-list">
                          <div class="drageble-box" fxLayout="row">
                              <div class="tb-data fw-600" fxFlex="50">Subtotal</div>
                              <div class="tb-data" fxFlex="30"></div>
                              <div class="tb-data fw-600" fxFlex="20">$5,000.00</div>
                          </div>
                      </div>
                      </div>
                  </div>
              </div>
              <div class="example-button-row ml-auto mt-4">
                <button mat-raised-button class="comm-btn d-flex ml-auto" (click)="fnTicketCheckout('checoutForm')">Next</button>
              </div>
            </div>
      </div>

      
  </div>
  <div *ngIf="addOrderFormType === 'checoutForm'" class="checkout-form">
    <h4 class="main-head">Checkout</h4>
    <div class="itemlist-table">
      <div class="service-listing">
        <div class="main-table-content main-cust-table-content">
            <div class="">
                <div class="heads main-heading-content drageble" fxLayout="row">
                    <div class="" fxFlex="30">Item</div>
                    <div class="" fxFlex="20">Price</div>
                    <div class="" fxFlex="15">Fee</div>
                    <div class="" fxFlex="15">Quantity</div>
                    <div class="" fxFlex="20" class="align-end">Subtotal</div>
                </div>
                <div class="content" class="drageble-list">
                    <div class="drageble-box fw-600" fxLayout="row">
                        <div class="tb-data order-item fw-100" fxFlex="30">General Admission</div>
                        <div class="tb-data" fxFlex="20">$5,000.00</div>
                        <div class="tb-data" fxFlex="15">$0.00</div>
                        <div class="tb-data" fxFlex="15">1</div>
                        <div class="tb-data align-end" fxFlex="20">$5,000.00</div>                        
                    </div>
                </div>     
                <div class="content" class="drageble-list">
                  <div class="drageble-box fw-600"  fxLayout="row">
                      <div class="tb-data fs-15 fw-600" fxFlex="35">Order Total</div>
                      <div class="tb-data" fxFlex="20"></div>
                      <div class="tb-data" fxFlex="15"></div>
                      <div class="tb-data" fxFlex="15"></div>
                      <div class="tb-data align-end fs-15" fxFlex="20">$5,000.00</div>                        
                  </div>
              </div>           
            </div>

        </div>
      </div>
    </div>
    <div class="mt-2">
      <a href="https://www.google.com/" target="_blank" class="link p-0">Change your order</a>
    </div>
    <div class="mt-16">
      <div class="form-group">
        <label for="" class="main-head fw-600">Do you have a promo code?</label>
        <input type="email" class="form-control" id="" placeholder="Enter promo code">
      </div>
      <div class="checkout form mt-4">
        <label class="main-head mb-3 fw-600">Please complete the form below to checkout</label>
        <form>
          <div class="form-group">
            <label for="">Name <span><i class="fa fa-asterisk"></i></span> </label>
            <input type="text" class="form-control" id="" placeholder="">
          </div>
          <div class="form-group">
            <label for="">Email address <span><i class="fa fa-asterisk" aria-hidden="true"></i></span> </label>
            <input type="email" class="form-control" id="" placeholder="">
          </div>
          <div class="form-group">
            <label for="">Repeat Email <span><i class="fa fa-asterisk" aria-hidden="true"></i></span> </label>
            <input type="email" class="form-control" id=""  placeholder="">
          </div>
          <div class="form-group">
            <label for="">Mobile Phone Number <span><i class="fa fa-asterisk"></i></span> </label>
            <input type="number" class="form-control" id=""  placeholder="">
          </div>
          <div class="form-group">
            <label for="">Address Line 1 <span><i class="fa fa-asterisk" ></i></span> </label>
            <input type="text" class="form-control" id="" placeholder="">
          </div>
          <div class="form-group">
            <label for="">Address Line 2 <span><i class="fa fa-asterisk" ></i></span> </label>
            <input type="text" class="form-control" id=""  placeholder="">
          </div>
          <div class="form-group">
            <label for="">Address Line 3 <span><i class="fa fa-asterisk" ></i></span> </label>
            <input type="text" class="form-control" id=""  placeholder="">
          </div>
          <div class="form-group">
            <label for="">Postcode <span><i class="fa fa-asterisk" ></i></span> </label>
            <input type="text" class="form-control" id=""  placeholder="">
          </div>
        </form>
      </div>
      <div class="general-admission">
        <label class="main-head">General Admission 1</label>
        <div class="form-group">
          <label for="">Attendee name <span><i class="fa fa-asterisk" aria-hidden="true"></i></span> </label>
          <input type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="">
        </div>
      </div>
    </div>
    <button mat-raised-button class="comm-btn d-flex ml-auto" (click)="fnTicketCheckout('book-order')">Next</button>
  </div>


  <div *ngIf="addOrderFormType === 'book-order'">
    <div class="book-order">
      <div class="row">
        <div class="col-md-8">
          <button mat-raised-button class="comm-btn mr-2">Resend Ticket</button>
          <button mat-raised-button class="comg-btn mr-2">Edit Order</button>
          <button mat-raised-button class="comg-btn mr-2" (click)="fnTicketCheckout('cancel-order')">Cancel Order</button>
        </div>        
        <div class="print-order col-md-4 px-0">
          <a href="" target="_blank" class=""><span class=""><mat-icon aria-hidden="false" aria-label="" class="link mr-2">print</mat-icon></span>Print order confirmation</a>
        </div>
      </div>
    </div>
    <div class="order-details">
      <div class="order-head row">
        <p>Order details</p>
        <a href="" target="_blank" (click)="orderInvoice()" class="dwnld-invoice">Download invoice</a>
      </div>
      <div class="order-desc">
        <div class="row">
          <label class="col-md-4">Date / time of order:</label>
          <p class="col-md-8">Jul 22, 2020 4:29 pm</p>
        </div>
        <div  class="row">
          <label class="col-md-4">Payment method:</label>
          <p class="col-md-8">OPERATOR</p>
        </div>
        <div  class="row">
          <label class="col-md-4">Transaction ID:</label>
          <p class="col-md-8"></p>
        </div>
      </div>
      <div class="order-table">
        <div class="service-listing">
          <div class="main-table-content main-cust-table-content">
              <div class="">
                  <div class="heads main-heading-content drageble" fxLayout="row">
                    <div class="" fxFlex="50">Item</div>
                    <div class="" fxFlex="30">PRICE</div>
                    <div class="" fxFlex="20">Fee</div>
                    <div class="" fxFlex="30">Qty</div>
                    <div class="" fxFlex="20">Subtotal</div>
                  </div>
                  <div class="content" class="drageble-list">
                    <div class="drageble-box" fxLayout="row">
                        <div class="tb-data" fxFlex="50">Mon 27 Jul: Lajawab Cooking Class</div>
                        <div class="tb-data" fxFlex="30"></div>
                        <div class="tb-data" fxFlex="20"></div>
                        <div class="tb-data" fxFlex="30"></div>
                        <div class="tb-data" fxFlex="20"></div>
                    </div>
                </div>
                <div class="content" class="drageble-list">
                  <div class="drageble-box" fxLayout="row">
                      <div class="tb-data" fxFlex="50">General Admission</div>
                      <div class="tb-data" fxFlex="30">$5,000.00</div>
                      <div class="tb-data" fxFlex="20">$0.00</div>
                      <div class="tb-data" fxFlex="30">1</div>
                      <div class="tb-data" fxFlex="20">$5,000.00</div>
                  </div>
              </div>
              <div class="content" class="drageble-list">
                <div class="drageble-box" fxLayout="row">
                    <div class="tb-data fw-600" fxFlex="50">Grand Total</div>
                    <div class="tb-data" fxFlex="30"></div>
                    <div class="tb-data" fxFlex="20"></div>
                    <div class="tb-data" fxFlex="30"></div>
                    <div class="tb-data fw-600" fxFlex="20">$5,000.00</div>
                </div>
            </div>
              </div>
          </div>
        </div>

      </div>
    </div>

    <div class="buyer-details">
      <div class="buyer-head row">
        <p>Buyer details</p>
        <a href="#" target="_blank" class="dwnld-invoice"></a>
      </div>
      <div class="buyer-desc">
        <div class="row">
          <label class="col-md-4">Name:</label>
          <p class="col-md-8">Shabnam Ansari</p>
        </div>
        <div  class="row">
          <label class="col-md-4">E-mail:</label>
          <a href="#"  class="col-md-8" target="_blank">test@gmail.com</a>
        </div>
        <div  class="row">
          <label class="col-md-4">Transaction ID:</label>
          <p class="col-md-8">9819824470</p>
        </div>
        <div  class="row">
          <label class="col-md-4">Address:</label>
          <p class="col-md-8">lorem ipsum is a dummy text, lorem ipsum is a dummy text, lorem ipsum is a dummy text, 400101</p>
        </div>
      </div>
    </div>

    <div class="ticket-details">
      <div class="ticket-head row">
        <p>Ticket details</p>
        <a href="#" target="_blank" class="dwnld-invoice">Download ticket as PDF</a>
      </div>
      <div class="ticket-desc">
        <div class="row">
          <label class="col-md-4">Ticket code:</label>
          <a href="#" class="col-md-8" target="_blank">5h92H</a>
        </div>
        <div  class="row">
          <label class="col-md-4">Name:</label>
          <p class="col-md-8">cdxfdfdfd</p>
        </div>
        <div  class="row">
          <label class="col-md-4">Status:</label>
          <p class="col-md-8">Active</p>
        </div>
        <div  class="row">
          <label class="col-md-4">Ticket type:</label>
          <p class="col-md-8">General Admission</p>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="addOrderFormType === 'cancel-order'">
    <div class="cancel-order">
      <div class="col-md-12 px-0 cancel-warn">
        <div class="note-theme m-0">
            <div class="notification">
                <mat-icon aria-hidden="false" aria-label="" class="notif-icon">cancel</mat-icon>
            </div>
            <div>
                <p class="note-message">Cancelling the order will void all tickets and they won't appear on your door entry list. </p>
            </div>
        </div>
      </div>
      <div class="cancel-order-detail">
        <div class="order-det">
        <div  class="row">
          <label class="col-md-2">Order Id:</label>
          <p class="col-md-10">Lajawab Cooking Class [DRAFT]</p>
        </div>
        <div  class="row">
          <label class="col-md-2"> Event:</label>
          <p class="col-md-10"> Mon Jul 27, 2020 6:00 pm - 10:30 pm</p>
        </div>
        <div  class="row">
          <label class="col-md-2"> Name:</label>
          <p class="col-md-10"> Shabnam Ansari</p>
        </div>
        <div  class="row">
          <label class="col-md-2"> Email:</label>
          <p class="col-md-10"> test@gmail.com</p>
        </div>
      </div>
      
      <div class="cancel-order-note">
        <div class="form-group">
        <label for="">Please provide a reason for this cancellation below. This information will be added to the cancellation email sent to the customer <span><i class="fa fa-asterisk" aria-hidden="true"></i></span> </label>
          <textarea class="form-control" id="" rows="3"></textarea>
        </div>
      </div>

      <div class="order-cancel">
        <button mat-raised-button class="d-flex ml-auto order-cancel-btn">Cancel This Order</button>
      </div>

    </div>
  </div>
 
</div>
    