<div class="modal-dialog modal-notify modal-info export-order modal-lg"  role="document" >
    <div class="modal-content ">
      <div class="modal-header modal-bcolor-primary px-0 pt-0">
        <p class="heading lead  work-content">Edit order</p>
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close" (click)="onNoClick()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <form [formGroup]="editTicket" class="with-validation edit-form">
       <div class="edit-order">      
        <div class="form-group">
            <label for="">First Name <span><i class="fa fa-asterisk"></i></span> </label>
            <input type="text" class="form-control" id="" placeholder="" formControlName ="firstname">
            <span class="error-wrap" *ngIf="editTicket.get('firstname').dirty || editTicket.get('firstname').touched"><small *ngIf="editTicket.get('firstname').hasError('required')" class="error text-left">First Name is required.</small></span>
          </div>
          <div class="form-group">
            <label for="">Last Name <span><i class="fa fa-asterisk"></i></span> </label>
            <input type="text" class="form-control" id="" placeholder="" formControlName ="lastname">
            <span class="error-wrap" *ngIf="editTicket.get('lastname').dirty || editTicket.get('lastname').touched"><small *ngIf="editTicket.get('lastname').hasError('required')" class="error text-left">Last Name is required.</small></span>
          </div>
          <div class="form-group">
            <label for="">Email address <span><i class="fa fa-asterisk" aria-hidden="true"></i></span> </label>
            <input type="email" class="form-control" id="" placeholder="" formControlName ="email">
            <span class="error-wrap" *ngIf="editTicket.get('email').dirty || editTicket.get('email').touched"><small *ngIf="editTicket.get('email').hasError('required')" class="error text-left">Email is required.</small><small *ngIf="editTicket.get('email').hasError('pattern')" class="error">Enter valid email.</small><small *ngIf="editTicket.get('email').hasError('isEmailUnique')" class="error">Email is already exists.</small></span>
          </div>
          <div class="form-group">
            <label for="">Repeat Email <span><i class="fa fa-asterisk" aria-hidden="true"></i></span> </label>
            <input type="email" class="form-control" id=""  placeholder="" formControlName = "repeat_email">
            <span class="error-wrap" *ngIf="editTicket.get('repeat_email').dirty || editTicket.get('repeat_email').touched"><small *ngIf="editTicket.get('repeat_email').hasError('required')" class="error text-left">Email is required.</small><small *ngIf="editTicket.get('repeat_email').hasError('required') && editTicket.hasError('notSame')" class="error text-left ml-4">Confirm password is required.</small>
            <small *ngIf="!editTicket.get('repeat_email').hasError('required') && editTicket.hasError('notSame')" class="error text-left ml-4">emails do not match.</small></span>
          </div>
        <div class="form-group">
          <label for="">Mobile Phone Number <span><i class="fa fa-asterisk"></i></span> </label>
          <input type="text" class="form-control" id=""  placeholder="" formControlName = "phone">
           <span class="error-wrap" *ngIf="editTicket.get('phone').dirty || editTicket.get('phone').touched"><small *ngIf="editTicket.get('phone').hasError('required')" class="error text-left">Phone Number is required.</small>
           <small *ngIf="editTicket.get('phone').hasError('pattern') || editTicket.get('phone').hasError('pattern') && (editTicket.get('phone').hasError('maxlength') || editTicket.get('phone').hasError('minlength'))" class="error">Phone Number Should in numbers</small>
           <small *ngIf="editTicket.get('phone').hasError('maxlength') || editTicket.get('phone').hasError('minlength')" class="error">Phone Number Should Minimum 6 and Maximum 15 digits.</small></span>
        </div>
        <div class="form-group">
          <label for="">Address Line 1 <span><i class="fa fa-asterisk" ></i></span> </label>
          <input type="text" class="form-control" id="" placeholder="" formControlName = "address_1">
          <span class="error-wrap" *ngIf="editTicket.get('address_1').dirty || editTicket.get('address_1').touched"><small *ngIf="editTicket.get('address_1').hasError('required')" class="error text-left">Address is required.</small></span>
        </div>
        <div class="form-group">
          <label for="">Address Line 2 </label>
          <input type="text" class="form-control" id=""  placeholder="" formControlName = "address_2">
          <span class="error-wrap" *ngIf="editTicket.get('address_2').dirty || editTicket.get('address_2').touched"><small *ngIf="editTicket.get('address_2').hasError('required')" class="error text-left">Address is required.</small></span>
        </div>
        <div class="form-group">
          <label for="">Address Line 3 </label>
          <input type="text" class="form-control" id=""  placeholder="" formControlName ="address_3">
          <span class="error-wrap" *ngIf="editTicket.get('address_3').dirty || editTicket.get('address_3').touched"><small *ngIf="editTicket.get('address_3').hasError('required')" class="error text-left">Address is required.</small></span>
        </div>
        <div class="form-group">
          <label for="">Postcode <span><i class="fa fa-asterisk" ></i></span> </label>
          <input type="text" class="form-control" id=""  placeholder="" formControlName ="postcode">
          <span class="error-wrap" *ngIf="editTicket.get('postcode').dirty || editTicket.get('postcode').touched"><small *ngIf="editTicket.get('postcode').hasError('required')" class="error text-left">Postcode is required.</small>
            <small *ngIf="editTicket.get('postcode').hasError('pattern') || editTicket.get('postcode').hasError('pattern') && (editTicket.get('postcode').hasError('maxlength') || editTicket.get('postcode').hasError('minlength'))" class="error">Postcode  Should be in numbers</small>
          </span>
        </div>     
     </div>

     <div class="general-admission">
      <label class="main-head">General Admission 1</label>
         <div class="form-group">
          <label for="">Attendee name <span><i class="fa fa-asterisk" aria-hidden="true"></i></span> </label>
          <input type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="" formControlName ="attendee_name">
          <span class="error-wrap" *ngIf="editTicket.get('attendee_name').dirty || editTicket.get('attendee_name').touched"><small *ngIf="editTicket.get('attendee_name').hasError('required')" class="error text-left">Attendee Name is required.</small></span>
         </div>
    </div>

    <button mat-raised-button class="comm-btn d-flex ml-auto" (click)="updateOrder()">Save</button>
    
  </form>
 </div>
</div>