<main>
    <div class="coupons comm-back">
        <div class="page-title">
            <h6>Team access</h6>
        </div>
        <div class="page-descp">
            <div class="row">
                <p class="col-sm-12 col-12 col-lg-9 col-md-9 col-xl-9 float-left">Team access allows you to invite your teammates to access and help manage your Ticket Tailor box office. This is useful if you work within a team and more than one person needs access.</p>
                <div class="col-sm-12 col-12 col-lg-3 col-md-3 col-xl-3 float-left d-flex">
                    <button  mat-raised-button color="primary" class="cd-code-btn ml-auto">Invite Teammate</button>
                </div>
            </div>
            <div class="row code-tab">
                <mat-tab-group (selectedTabChange)="onTabChanged($event)" class="col-sm-12 col-12 col-lg-12 col-md-12 col-xl-12 float-left">
                    <mat-tab label="Teammates (5)" class="">
                        <div class="service-listing">
                            <div class="main-table-content main-cust-table-content">
                                <div class="">
                                    <div class="heads main-heading-content drageble" fxLayout="row">
                                        <div class="" fxFlex="30">Name</div>
                                        <div class="" fxFlex="20">Roles</div>
                                        <div class="" fxFlex="25">Email address</div>
                                        <div class="" fxFlex="25">Last Seen</div>
                                    </div>
                                    <div class="content" class="drageble-list">
                                        <div class="drageble-box" cdkDrag fxLayout="row">
                                            <div class="tb-data" fxFlex="30">
                                                <div>
                                                    <p>Meet Shah</p>
                                                </div>
                                            </div>
                                            <div class="tb-data" fxFlex="20">Owner</div>
                                            <div class="tb-data" fxFlex="25">dummy@gmail.com</div>
                                            <div class="tb-data" fxFlex="25">100</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </mat-tab>
                    <mat-tab label="Voucher codes(0)">
                        <div class="service-listing">
                            <div class="main-table-content main-cust-table-content">
                                <div class="">
                                    <div class="heads main-heading-content drageble" fxLayout="row">
                                        <div class="" fxFlex="20">Coupon Title</div>
                                        <div class="" fxFlex="15">Coupon Code</div>
                                        <div class="" fxFlex="13">Type</div>
                                        <div class="" fxFlex="10">Maximum Redemption</div>
                                        <div class="" fxFlex="12">Used</div>
                                        <div class="" fxFlex="10">Discount</div>
                                        <div class="" fxFlex="10">Status</div>
                                        <div class="" fxFlex="10">Action</div>
                                    </div>
                                    <div class="content" class="drageble-list">
                                        <div class="drageble-box" cdkDrag fxLayout="row">
                                            <div class="tb-data cpn-title" fxFlex="20">Lorem Ipsum</div>
                                            <div class="tb-data cpn-code" fxFlex="15"><span class="cpn-bor">SUMMER2050</span></div>
                                            <div class="tb-data" fxFlex="13">Percentage</div>
                                            <div class="tb-data" fxFlex="10">100</div>
                                            <div class="tb-data" fxFlex="12">20</div>
                                            <div class="tb-data" fxFlex="10">500.00</div>
                                            <div class="tb-data" fxFlex="10">Actice</div>
                                            <div class="tb-data" fxFlex="10">
                                                
                                                <!-- <button mat-raised-button color="primary"
                                                    [mdePopoverTriggerFor]="appPopover"
                                                    mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
                                                    Show Popover
                                                </button>
                                                
                                                <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
                                                    <mat-card style="max-width: 300px">
                                                      <mat-card-content>
                                                      A material design popover component created using Angular version 8 with the Angular CDK.
                                                      </mat-card-content>
                                                    </mat-card>
                                                </mde-popover> -->

                                                <mat-icon aria-hidden="false" aria-label="Example home icon" class="action-icon">more_horiz</mat-icon>
                                                <!-- <i class="fa fa-ellipsis-h action-icon" aria-hidden="true"></i> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content" class="drageble-list">
                                        <div class="drageble-box" cdkDrag fxLayout="row">
                                            <div class="tb-data cpn-title" fxFlex="20">Lorem Ipsum</div>
                                            <div class="tb-data cpn-code" fxFlex="15"><span class="cpn-bor">SUMMER2050</span></div>
                                            <div class="tb-data" fxFlex="13">Percentage</div>
                                            <div class="tb-data" fxFlex="10">100</div>
                                            <div class="tb-data" fxFlex="12">20</div>
                                            <div class="tb-data" fxFlex="10">500.00</div>
                                            <div class="tb-data" fxFlex="10">Actice</div>
                                            <div class="tb-data" fxFlex="10">
                                                <mat-icon aria-hidden="false" aria-label="Example home icon" class="action-icon">more_horiz</mat-icon>
                                                <!-- <i class="fa fa-ellipsis-h action-icon" aria-hidden="true"></i> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content" class="drageble-list">
                                        <div class="drageble-box" cdkDrag fxLayout="row">
                                            <div class="tb-data cpn-title" fxFlex="20">Lorem Ipsum</div>
                                            <div class="tb-data cpn-code" fxFlex="15"><span class="cpn-bor">SUMMER2050</span></div>
                                            <div class="tb-data" fxFlex="13">Percentage</div>
                                            <div class="tb-data" fxFlex="10">100</div>
                                            <div class="tb-data" fxFlex="12">20</div>
                                            <div class="tb-data" fxFlex="10">500.00</div>
                                            <div class="tb-data" fxFlex="10">Actice</div>
                                            <div class="tb-data" fxFlex="10">
                                                <mat-icon aria-hidden="false" aria-label="Example home icon" class="action-icon">more_horiz</mat-icon>
                                                <!-- <i class="fa fa-ellipsis-h action-icon" aria-hidden="true"></i> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content" class="drageble-list">
                                        <div class="drageble-box" cdkDrag fxLayout="row">
                                            <div class="tb-data cpn-title" fxFlex="20">Lorem Ipsum</div>
                                            <div class="tb-data cpn-code" fxFlex="15"><span class="cpn-bor">SUMMER2050</span></div>
                                            <div class="tb-data" fxFlex="13">Percentage</div>
                                            <div class="tb-data" fxFlex="10">100</div>
                                            <div class="tb-data" fxFlex="12">20</div>
                                            <div class="tb-data" fxFlex="10">500.00</div>
                                            <div class="tb-data" fxFlex="10">Actice</div>
                                            <div class="tb-data" fxFlex="10">
                                                <mat-icon aria-hidden="false" aria-label="Example home icon" class="action-icon">more_horiz</mat-icon>
                                                <!-- <i class="fa fa-ellipsis-h action-icon" aria-hidden="true"></i> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content" class="drageble-list">
                                        <div class="drageble-box" cdkDrag fxLayout="row">
                                            <div class="tb-data cpn-title" fxFlex="20">Lorem Ipsum</div>
                                            <div class="tb-data cpn-code" fxFlex="15"><span class="cpn-bor">SUMMER2050</span></div>
                                            <div class="tb-data" fxFlex="13">Percentage</div>
                                            <div class="tb-data" fxFlex="10">100</div>
                                            <div class="tb-data" fxFlex="12">20</div>
                                            <div class="tb-data" fxFlex="10">500.00</div>
                                            <div class="tb-data" fxFlex="10">Actice</div>
                                            <div class="tb-data" fxFlex="10">
                                                <mat-icon aria-hidden="false" aria-label="Example home icon" class="action-icon">more_horiz</mat-icon>
                                                <!-- <i class="fa fa-ellipsis-h action-icon" aria-hidden="true"></i> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</main>