<div id="team_access" class="main">
    <div class="team-access">
        <div class="page-title">
            <h6>Team access</h6>
        </div>
        <div class="page-descp">
            <div class="row">
                <p class="col-sm-12 col-12 col-lg-9 col-md-9 col-xl-9 float-left">Team access allows you to invite your teammates to access and help manage your Ticket Tailor box office. This is useful if you work within a team and more than one person needs access.</p>
                <div class="col-sm-12 col-12 col-lg-3 col-md-3 col-xl-3 float-left">
                    <button mat-raised-button color="primary"  (click)="inviteTeammate()" class="cd-code-btn ml-auto  d-flex">Invite Teammate</button>
                </div>
            </div>
            <div class="row code-tab">
                <mat-tab-group class="col-sm-12 col-12 col-lg-12 col-md-12 col-xl-12 float-left">
                    <mat-tab label="Teammates (5)" class="">
                        <div class="service-listing teammates">
                            <div class="main-table-content main-cust-table-content">
                                <div class="">
                                    <div class="heads main-heading-content drageble" fxLayout="row">
                                        <div class="" fxFlex="5"></div>
                                        <div class="" fxFlex="20">Name</div>
                                        <div class="" fxFlex="25">Roles</div>
                                        <div class="" fxFlex="25">Email address</div>
                                        <div class="" fxFlex="25">Last Seen</div>
                                    </div>

                                    <div *ngFor="let tm of teammates">
                                        <div class="content" class="drageble-list">
                                            <div class="drageble-box"  fxLayout="row">
                                                <div class="tb-data" fxFlex="5">
                                                    <div class="user-details">
                                                        <img src="../assets/images/settings/profile.png" class="user-profile" alt="">
                                                    </div>
                                                </div>
                                                <div class="tb-data" fxFlex="20">
                                                 {{tm.name}}
                                                </div>
                                                <div class="tb-data" fxFlex="25">{{tm.role}}</div>
                                                <div class="tb-data" fxFlex="25">{{tm.email}}</div>
                                                <div class="tb-data" fxFlex="25">{{tm.lastseen}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>

                            </div>
                        </div>

                    </mat-tab>
                    <mat-tab label="Invites(1)">
                        <div class="service-listing invites">
                            <div class="main-table-content main-cust-table-content">
                                <div class="">
                                    <div class="heads main-heading-content drageble" fxLayout="row">
                                        <div class="" fxFlex="25">Email Address</div>
                                        <div class="" fxFlex="25">Roles</div>
                                        <div class="" fxFlex="20">Last Seen</div>
                                        <div class="" fxFlex="20">Status</div>
                                        <div class="" fxFlex="10"></div>
                                    </div>
                                    <div *ngFor="let in of invite">
                                        <div class="content" class="drageble-list">
                                            <div class="drageble-box"  fxLayout="row">
                                                <div class="tb-data cpn-title" fxFlex="25">{{in.email}}</div>
                                                <div class="tb-data cpn-code" fxFlex="25">                                                    
                                                    <p>{{in.roles}}</p>
                                                    <p>{{in.editrole}}</p>
                                                    <p>{{in.exportrole}}</p>
                                                </div>
                                                <div class="tb-data" fxFlex="20">{{in.lastseen}}</div>
                                                <div class="tb-data status" fxFlex="20"><span class="pr-2"><i class="fa fa-circle" aria-hidden="true"></i></span>{{in.status}}</div>
                                                <div class="tb-data" fxFlex="10">
                                                    <!-- <mat-icon placement="left" [ngbPopover]="popContent" aria-hidden="false" aria-label="" class="action-icon">more_horiz</mat-icon>
                                                    <ng-template class="popover" #popContent>
                                                        <divclass="px-3 pointer border-bottom">
                                                            <i class="fa fa-pencil mr-2"></i><span>Edit</span>
                                                        </div>
                                                        <div class="px-3 pointer border-bottom">
                                                            <i class="fa fa-ticket mr-2"></i><span>Assign to Ticket Type</span>
                                                        </div>
                                                        <div class="px-3 pointer border-bottom">
                                                            <i class="fa fa-trash mr-2"></i><span>Delete</span>
                                                        </div>
                                                    </ng-template> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>